[2017-06-09 14:25] #263 closed

[2017-06-09 14:28] Nick-Tallguy commented on #252
I've created a custom 404.md file and deleted the 404.html file (new one is generated when the site builds using 404.md in the root folder) - the new file has links to the home pages in each language and a brief apology. Will apply fix shortly.

[2017-06-09 14:30] #252 closed

[2017-06-09 14:33] Nick-Tallguy commented on #522
See also #306

[2017-06-09 21:59] Nick-Tallguy commented on #13
Closing as stale. No comments or action in nearly 2 years. Issue opened 4 years ago. Can be opened when required.

[2017-06-09 21:59] #13 closed

[2017-06-09 22:01] Nick-Tallguy commented on #14
Closing as stale. No action in years

[2017-06-09 22:01] #14 closed

[2017-06-09 22:06] Nick-Tallguy commented on #359
Closing as successful. Translation on site. If someone wishes to continue they can use this process or use Transifex where we have improved our process

[2017-06-09 22:06] #359 closed

[2017-06-09 22:08] Nick-Tallguy commented on #524
I'd like to help on this but don't think I will have time. I'll try to monitor and join in if I can.

[2017-06-09 22:10] Nick-Tallguy commented on #508
Closing. See #520

[2017-06-09 22:10] #508 closed

[2017-06-09 22:12] Nick-Tallguy commented on #506
I'm closing this now but acknowledge that this is a long term aim held by me and others. I have made one attempt which we were not happy with and our team will keep working on this when we can.

[2017-06-09 22:12] #506 closed

[2017-06-09 22:14] Nick-Tallguy commented on #522
Closing now. _posts folder now contains language folders with no folders within them. This is much easier for me to manage with scripts.

[2017-06-09 22:14] #522 closed

[2017-06-09 22:18] Nick-Tallguy commented on #502
Closing this issue. When I review a module I remove the excess line feeds which should improve the situation. Long term aim.

[2017-06-09 22:18] #502 closed

[2017-06-09 22:19] Nick-Tallguy commented on #496
Closing now. I think I've implemented all of these suggestions

[2017-06-09 22:19] #496 closed

[2017-06-09 22:22] Nick-Tallguy commented on #490
Closing as done

[2017-06-09 22:22] #490 closed

[2017-06-09 22:24] Nick-Tallguy commented on #441
Closing as stale. There have been many changes and a champion to monitor this module would be welcome. Can be opened then.

[2017-06-09 22:24] #441 closed

[2017-06-09 22:26] Nick-Tallguy commented on #403
Closing. Partially implemented but issue not being worked on or considered

[2017-06-09 22:26] #403 closed

[2017-06-09 22:27] Nick-Tallguy commented on #389
Closing as implemented but now stale.

[2017-06-09 22:27] #389 closed

[2017-06-09 22:31] Nick-Tallguy commented on #328
Closing as stale. Staging site is using a form of automation. Something of the travis type could be used is someone is willing to champion and work on it.

[2017-06-09 22:31] #328 closed

[2017-06-09 22:34] Nick-Tallguy commented on #315
Closing as stale. A champion willing to work on this is weL come to open it and work on it.

[2017-06-09 22:34] #315 closed

[2017-06-09 22:36] Nick-Tallguy commented on #310
Closing. It was either deliberate 'fun' or a mistake. Stale now

[2017-06-09 22:36] #310 closed

[2017-06-09 22:39] Nick-Tallguy commented on #303
All chapters has been removed from all languages. Moving forward is present

[2017-06-09 22:39] #303 closed

[2017-06-09 22:42] Nick-Tallguy commented on #282
Closing. See HOT-tips modules

[2017-06-09 22:42] #282 closed

[2017-06-10 12:13] kalxas commented on #524
Thanks @Nick-Tallguy

[2017-06-12 04:34] LibertatisPrius commented on #524
I will probably be able to help but I I've never done anything like this before. I'm primarily familiar with iD but I have some experience with JOSM.

(Just FYI, I learned about this through the Osmf-talk mailing list.)

[2017-06-12 07:08] Nick-Tallguy commented on #280
Closing this now as a glossary was implemented within the beginner section. It would be nice to have improvements though so feel free to open it again with more suggestions or pull requests.

[2017-06-12 07:09] #280 closed

[2017-06-13 00:51] Nick-Tallguy opened #526 "Translators - Instructions on how to upload localised images"
I've been contacted by one of the translators who wishes to upload 'localised images' - this has been done before, but there are no instructions that I am aware of.

See also #329

[2017-06-13 08:08] althio commented on #526
Maybe out-of-date: https://github.com/hotosm/learnosm/wiki/Images-guidelines

and found an oldie #94

[2017-06-13 09:31] Nick-Tallguy commented on #526
Thanks @althio - there seem to be a few out-of-date guides scattered about. I'm planning to spend some time consolidating them into something sensible. Get it done on the staging site and if everyone is happy then do the same for this main site.
I have a translator who wants to upload some images, so it's prompted me to start.

I may well move things, because there seem to be so many links to go t

[2017-06-13 12:41] Nick-Tallguy commented on #94
Closing - see #526 and commit on staging site. - working on other issue now

[2017-06-13 12:41] #94 closed

[2017-06-13 12:43] Nick-Tallguy commented on #526
Just as a note - I would like the finished instructions to be uploaded to transifex so they can be translated - would allow translation teams to arrange their own localised images much easier.

[2017-06-13 20:59] kalxas commented on #524
Thanks @LibertatisPrius
We will need your help.

[2017-06-13 22:25] Nick-Tallguy commented on #270
Closing this now - although we don't have a **next** or **previous** button, we now have a button at the bottom of each page that takes you back to the top, so you can easily access the menu to chose where you wish to go next.

[2017-06-13 22:25] #270 closed

[2017-06-13 22:36] Nick-Tallguy commented on #259
see #526 and #329 - closing this issue now as contributing.md was updated and tidying is now being covered on the other issues

[2017-06-13 22:36] #259 closed

[2017-06-13 22:40] Nick-Tallguy commented on #301
Closing this now - we have been reviewing the modules for some time now, marking them with the date of the review, and updating them when they need it. It's not perfect, but it's mainly working. Can we open individual issues for any module we come across that needs updating and then update them whilst cross referring to the issue.

[2017-06-13 22:40] #301 closed

[2017-06-13 22:43] Nick-Tallguy commented on #190
Closing this - has not been a problem since removed in July 2015

[2017-06-13 22:43] #190 closed

[2017-06-13 22:45] Nick-Tallguy commented on #523
Sort of automated!  crontab on my server has been playing up since a recent linux update. I can quickly and remotely cause an update, but until a 'fix' is in place on crontab I will be doing the updates daily - only takes me a few seconds as it is all scripted now.

[2017-06-13 23:25] Nick-Tallguy commented on #329
*Text of message send to Training Working Group.*

Hi,

At present anyone wishing to help with translating, or updating learnosm in some way may find the guidance in any one of a number of places;

1.  From any of the pages on http://learnosm.org/en/ you can click on the pencil symbol top right and read contribute.md

2. contribute.md has a number of links;

    Send us feedback - email link to le

[2017-06-14 08:03] althio commented on #329
Good all around :)

Maybe one can try to structure the _contribute_ chapter so that it can accommodate more in the future:
- contribute to LearnOSM
  - style
  - images
  - translation
- contribute to translations in OpenStreetMap projects
  - overview
  - editors:
    - iD
    - JOSM
    - Vespucci/...
  - wiki
  - ...

[2017-06-17 19:28] Nick-Tallguy opened #527 "wiki cleanup"
Please see https://github.com/Nick-Tallguy/Nick-Tallguy.github.io/issues/33 for current state on this wiki. Closing issue on staging site.

[2017-06-17 19:32] Nick-Tallguy commented on #15
Closing. There is a style guide and this issue is now stale.

[2017-06-17 19:32] #15 closed

[2017-06-17 19:36] Nick-Tallguy commented on #56
Closing. It would be good if some clever person could automate this. In the meantime I'm using pandoc and manually tidying the result.

[2017-06-17 19:36] #56 closed

[2017-06-17 19:38] Nick-Tallguy commented on #523
Closing. Semi automatic and easier to manage than it was. I'll keep working on my cron problem when I can.

[2017-06-17 19:38] #523 closed

[2017-06-17 19:42] Nick-Tallguy commented on #306
@pyrog I'm closing this now but I agree and it's a long term aim. Using our current system we' re gradually improving the situation. I'll keep working on this even though the issue is closed - trying to tidy the issues as well!

[2017-06-17 19:42] #306 closed

[2017-06-17 19:45] Nick-Tallguy commented on #520
I propose to remove this entire chapter.

For info of Mapbox - Japanese visitors are hitting the remaining 'stub' and there are other versions of the site they are also visiting.

[2017-06-17 19:47] Nick-Tallguy commented on #514
Closing this. Will mention in the guide on images when updating it.

[2017-06-17 19:47] #514 closed

[2017-06-17 19:51] Nick-Tallguy commented on #182
Closing. Wiki has been tidied and I think this is resolved. See #527

[2017-06-17 19:51] #182 closed

[2017-06-17 19:56] Nick-Tallguy commented on #266
Closing this now. Long term aim is to keep improving. For the moment I'm adding a table of contents as I review modules.
I'm also investigating other layouts with collapsing menus.

[2017-06-17 19:56] #266 closed

[2017-06-17 19:57] Nick-Tallguy commented on #198
Closing now. The page https://github.com/hotosm/learnosm/blob/gh-pages/LICENSE-CONTENT.txt can be used as needed

[2017-06-17 19:57] #198 closed

[2017-06-17 19:59] #180 closed

[2017-06-17 20:01] Nick-Tallguy commented on #170
Closing this now. We have a long term aim for a different layout.

[2017-06-17 20:01] #170 closed

[2017-06-17 20:03] Nick-Tallguy commented on #157
Closing now as stale. But...  I have used u map and sat in on a session at state of the Map.  When I can I will add more as I like it!

[2017-06-17 20:03] #157 closed

[2017-06-17 20:09] Nick-Tallguy commented on #162
Closing. Please see http://learnosm.org/en/coordination/review/#data-validation which was done some time ago.

[2017-06-17 20:09] #162 closed

[2017-06-17 20:11] Nick-Tallguy commented on #148
Using Transifex has mitigated this.  Update the source version and as the translations are done it removes the old versions.

[2017-06-17 20:11] #148 closed

[2017-06-17 20:14] Nick-Tallguy commented on #140
I'm closing this now as stale. If someone does it, that's great. But there are many devices and we can't cope with guides for all of them.

Contributions welcome

[2017-06-17 20:14] #140 closed

[2017-06-17 20:56] Nick-Tallguy commented on #139
Closing this now.

We have a return to top button.

We also have need of a new layout with cascading menus.

Closing pending a pull request - please!

[2017-06-17 20:56] #139 closed

[2017-06-17 21:02] Nick-Tallguy commented on #272
Closing as sorted

[2017-06-17 21:02] #272 closed

[2017-06-17 21:07] Nick-Tallguy commented on #73
Closing now. Version from Transifex is now pending additions so it can come on site

[2017-06-17 21:07] #73 closed

[2017-06-17 21:10] Nick-Tallguy commented on #113
Images are now in images/category   so  images/intermediate.  Closing

[2017-06-17 21:10] #113 closed

[2017-06-18 06:52] Nick-Tallguy commented on #118
Hi,

I've created this http://nick-tallguy.github.io/en/contribute/translator-images/ at the moment on the staging site but I will add to the main site soon. Accessible from 'contribute' . -  the pencil symbol.

I think this guide plus the use of transifex answers all the questions in this issue.

Closing

[2017-06-18 06:52] #118 closed

[2017-06-18 06:53] Nick-Tallguy commented on #118
See also #526

[2017-06-18 06:56] #159 closed

[2017-06-18 06:59] Nick-Tallguy commented on #138
Closing this now as I think all matters are resolved.

[2017-06-18 06:59] #138 closed

[2017-06-18 07:01] Nick-Tallguy commented on #125
Closing as all issues dealt with. See also #526

[2017-06-18 07:01] #125 closed

[2017-06-18 07:09] Nick-Tallguy commented on #110
Closing as stale. I've added the hot-tips section with guides for new iD users.im open to discussion on a different layout or pull requests.

[2017-06-18 07:09] #110 closed

[2017-06-18 07:16] Nick-Tallguy commented on #107
Closing. I've been adding these as .odt's and .pdf's for some time. The exceptions are the HOT-tips section (mainly images), those modules waiting for review or those I've missed!

[2017-06-18 07:16] #107 closed

[2017-06-18 08:03] Nick-Tallguy commented on #104
Closing as this seems to have been resolved

[2017-06-18 08:03] #104 closed

[2017-06-18 08:05] Nick-Tallguy commented on #92
Closing as stale. Looks from the comments as if it was resolved long ago.

[2017-06-18 08:05] #92 closed

[2017-06-18 14:53] Nick-Tallguy commented on #105
https://github.com/hotosm/learnosm/blob/gh-pages/_posts/fr/0400-12-25-private-data-storage-config.md  can only see this in the French language. Not sure if it's current.
If it is current, or someone xan update it (whichever language) it can go on Transifex in French for translation to other languages.
I'll have a look for the gdoc as well.

[2017-06-18 15:05] Nick-Tallguy commented on #105
https://docs.google.com/document/d/1iLJK7kArj5OVmL-OBqWHFHBFE58MFVZ5sj46OmgAe74/edit

[2017-06-18 15:35] Nick-Tallguy commented on #105
#124 refers. Needs updating. Closing as a duplicate

[2017-06-18 15:35] #105 closed

[2017-06-18 20:29] Nick-Tallguy opened #528 "1900-10-15-josm-plugins Banner location"
From Transifex translator, issue on 15/06/17
GPS traces - left banner or right top banner

[2017-06-18 20:35] Nick-Tallguy commented on #74
I've just reviewed the section on garmin gps which is currently in LearnOSM - must have been updated sometime in the past.

[2017-06-18 20:35] #74 closed

[2017-06-18 20:40] Nick-Tallguy commented on #82
I'm aware that hackpad is disappearing at some point. I've copied all of the text from https://hackpad.com/Proposed-Style-Guide-for-LearnOSM-1JJxS8NIQSX with a view to using this in a style guide

[2017-06-18 21:02] Nick-Tallguy commented on #528
Resolved - part of hidden text in the module, which will need either removing or amending in the future. Comment has been sent to translator.

[2017-06-18 21:02] #528 closed

[2017-06-19 22:54] #525 closed

[2017-06-20 07:36] Nick-Tallguy commented on #520
Missed Japanese!

[2017-06-20 21:37] #520 closed

[2017-06-21 09:44] rasagy commented on #520
@Nick-Tallguy Hey Nick, thanks a lot for removing the outdated section! 🙇

[2017-06-22 11:20] Andygol opened #531 "Convert absolute links into relative ones"
While I was working on the transfer of the current site code to my own repository - <https://andygol.github.io/learnosm/>, I was faced with the problem of having absolute links for images, files and other pages in the page code. I had pages without images and with not working links.

[code]

I converted them into relative links for this purposes

[code]
❓❓❓
Does it make sense to have links for all

[2017-06-23 09:31] Nick-Tallguy commented on #531
Hi, using my phone so just a short answer at the moment.
This may be more to do with the format in the individual module. Some have a tab space at the beginning of the line and jekyll doesn't like it.

    ! [Image]

For example might fail

[2017-06-23 16:59] Nick-Tallguy commented on #531
Hi @Andygol on my laptop now so a better answer.

For example - <https://andygol.github.io/learnosm/fa/beginner/start-osm/> is only displaying the first image, but you have inserted

        {{site.baseurl}}

in front of all of the image links.

If you look at the module in the raw format - https://raw.githubusercontent.com/Andygol/learnosm/gh-pages/_posts/fa/0200-12-27-start-osm_fa.md  you will s

[2017-06-23 20:26] Andygol commented on #531
Hm, this is really weird behaviour when the leading <kbd>space</kbd> causes image breakage.

😞

I removed spaces before `![image][]` links in my instance and now all looks well.

[2017-06-24 07:31] Nick-Tallguy commented on #531
Ok to close now?

[2017-06-24 21:59] camerons commented on #524
Hi @kalxas, @althio, @Nick-Tallguy, @LibertatisPrius, @mikelmaron,
Thanks for offering to help.
I'm one of the core members of the OSGeo-Live project, and happy to help mentor people writing documentation for the project.

Our guidelines for writing OSGeo-Live documentation are linked from here:
https://wiki.osgeo.org/wiki/Live_GIS_Disc#Documentation , but to fast track things, our minimum need to

[2017-06-25 21:36] Nick-Tallguy commented on #531
Closing on current info.

[2017-06-25 21:36] #531 closed

[2017-07-05 10:57] camerons commented on #524
With help from @cvvergara, I've taken these ideditor and jsom docs and moved into OSGeo-Live Quickstart docs.
Pull request here: https://github.com/OSGeo/OSGeoLive-doc/pull/254
I've hopefully included the history in the process.
It should linked in from our cutting edge docs within 24 hours here: http://adhoc.osgeo.osuosl.org/livedvd/docs/en/overview/overview.html
It would be good if someone could

[2017-07-05 11:17] althio commented on #524
Hi @camerons

I proposed https://github.com/OSGeo/OSGeoLive-doc/pull/249 for http://adhoc.osgeo.osuosl.org/livedvd/docs/en/quickstart/osm_quickstart.html

I will try to review OSGeo/OSGeoLive-doc#254 for editors iD and JOSM quickstarts.

[2017-07-05 11:21] kalxas commented on #524
Actually I have just merged the pull request to a branch:
https://github.com/OSGeo/OSGeoLive-doc/tree/forvicky
which includes the history of the files.

[2017-07-09 20:41] althio commented on #524
Activity is going on this repository: https://github.com/OSGeo/OSGeoLive-doc
Closing here.

[2017-07-09 20:41] #524 closed

[2017-07-09 21:05] althio opened #534 "updates for iD"
- [ ] **right-click editing menu**

- [ ] walkthrough https://github.com/openstreetmap/iD/pull/3921 and its autostart link https://github.com/openstreetmap/iD/issues/4111 [ done: #533 ] [ also in [_posts/en/0200-12-23-id-editor.md](https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/0200-12-23-id-editor.md) ]

- [ ] keyboard shortcuts

- [ ] information panels https://github.com/openstreetm

[2017-07-12 07:05] althio commented on #534
current Table of Contents:

- Beginner’s Guide
  - beginner/id-editor/ The iD Editor
    - Starting the iD Editor
    - iD Editor User Interface
    - Configuring the Background Layer
    - Basic Editing with iD (Adding Points, Drawing Lines, Drawing Shapes (Polygons), Drawing Multipolygons)
    - Saving Your Changes
    - Additional Information and Custom Tags
    - iD versus JOSM

---

Proposal

[2017-07-13 09:05] Nick-Tallguy commented on #534
This is looking pretty good and I'd be delighted if you could do it. Can you do some new screenshots to go with it? My current thinking on images is;
  - static images for the majority of the site, but
  - animated gif's for the sections which are likely to be people working using the tasking manager and they can look at the higher bandwidth HOT-Tips section.

My only concern is the word 'Advanced

[2017-09-17 23:32] jidanni opened #539 "Osmtracker DOES upload waypoints"
Please see https://github.com/nguillaumin/osmtracker-android/issues/112 .

[2017-11-14 19:04] willemarcel opened #544 "Merge pt and pt-br translations"
Hello! Sometime ago we decided to merge the pt and pt-br versions of the OSM Wiki, and I believe it would be good to merge also the translations of LearnOSM. We don't have many people interested in contributing to documentation, so it's better to unite the efforts in just one Portuguese version. Would it be possible?

[2017-12-09 16:20] michael63-osm commented on #544
I just invited the Transifex translation teams for pt and pt_BR to join the discussion here. As one of the team managers I can only moderate the discussion here, I have no knowledge of Portuguese and its local variants.

The request concerns learnOSM but you might consider this for other HOT projects on Transifex too. To give you an idea of the current translation status for these languages I comp

[2017-12-19 18:11] smit1678 opened #545 "Promote end of the year campaign in banner"
@michael63-osm @Nick-Tallguy @bgirardot We're trying to get to promote the HOT end of the year campaign by linking to the campaign donation page via a lot of our tools. One idea is to add text and link into the LearnOSM banner. Only needs to be linked until December 31. Thoughts or suggestions on how we could do this better?

![learnosm 2017-12-19 12-05-36](https://user-images.githubusercontent.co

[2017-12-19 22:54] althio commented on #545
I don't think learnosm is the good place for a donate banner.

[2017-12-20 09:32] michael63-osm commented on #545
In my opinion it is perfectly right to use a banner on websites which are clearly connected to HOT. But learnOSM is a bit different. It is managed by HOT but this is not clearly visible on the website, many visitors will not know that this service was created by HOT. I see the scope of the contents a lot broader than just humanitarian mapping: we try to provide tutorials to people who would like t

[2017-12-20 09:56] Nick-Tallguy commented on #545
Michael,

I completely agree.

Nick (OSM=Tallguy)
my phone is responsible for any spelling mistakes!

On 20 Dec 2017 09:32, "Michael Heißmeier" <notifications@github.com> wrote:

[2017-12-20 15:19] smit1678 commented on #545
Thanks for the comments @michael63-osm @Nick-Tallguy @althio and considering how and if this could be part of the site.

100% agree @michael63-osm, this is why LearnOSM is such an important resource and valuable as a separate brand. This is also why there is an interest from the Fundraising WG to help promote the end of the year campaign. Since there is a wider reach than just the disaster mapping

[2017-12-20 16:14] althio commented on #545
👍 my thoughts exactly thanks @michael63-osm

For other tools, say Task Manager, Slack, ..., you can consider that one instance is HOT-run and other instances do exist and are welcome.
This is not the case with LearnOSM, there is only one LearnOSM and it is intented for the whole OSM community and ecosystem.

Since LearnOSM is for the whole OSM community and ecosystem, I think my concerns are:
- sh

[2018-02-01 16:38] tassia commented on #544
Hi Wille and Michael!

Sorry for taking so long to reply, translation got out of my radar lately. But I'd be happy to help if I can. What should we do in order to have this topic solved? I agree with Wille that it would be better to join efforts. Can we try again to mobilize the team and reach a decision about this?

Tassia.

[2018-03-07 12:00] severinmenard opened #547 "Outdated pdf and odt extracts for Geofabrik and HOT Export"
Seems the documents dated from 2016 do not reflect the online chapter: http://learnosm.org/en/osm-data/geofabrik-and-hot-export/

[2018-03-08 21:25] michael63-osm commented on #547
Hi Séverin,

thank you for reporting this - I just updated the relevant files which now reflect the current online version. With contents and number of languages growing this will inevitably occur from time to time...

As far as languages are concerned, if you happen to know some French speaking OSM addicts who would like to bring the French version of LearnOSM up-to-date then any help would be gr

[2018-03-08 21:25] #547 closed

[2018-03-16 12:43] SomeoneElseOSM commented on #335
The problem is still occurring.  See https://www.openstreetmap.org/changeset/57164343 for the latest example.  That's not an old version of JOSM - is there a way to tell if it's an old version of the test data?

[2018-03-16 14:53] althio commented on #335
@SomeoneElseOSM

You could ask the users to share their file sample.osm and check the upload=* parameter but I don't think you can find out only with the uploaded data.
The test data is the same since 2013.
Only the parameter was changed for upload=false since 2015 then upload=never since 2017.

[2018-03-16 15:10] SomeoneElseOSM commented on #335
Thanks.  Previous requests to learnosm users have usually gone unanswered, because (a) they're obviously very new to OSM, and (b) often don't have a first language that I either write or can be confident of a good online translation in.  The current example is Chinese, which falls into the second category.

Would it perhaps be possible (perhaps for the next release) to modify the data slightly so

[2018-03-16 17:31] maning commented on #335
Or we re-think this approach to onboarding people new to OSM.  I used this guide in previous workshops and its very effective but we have to remind people not to upload the sample data.  Its dangerous if people are using this on a self-paced approach.

[2018-03-16 18:46] SomeoneElseOSM commented on #335
Another approach would be to mirror what iD does - have a guided tutorial with edits thrown away afterwards (or edits made to the dev site).  Anything that depends on "download this .osm from here" could potentially cause a problem in the future.  Obviously that's a lot more work and needs more than just documentation, though.

[2018-03-16 22:59] michael63-osm commented on #335
The current version of the sample data cannot be uploaded through a JOSM version not older than one year.

If people still upload these data then we have to assume that they got an older version of the data through a mirror or some other site providing them. That is something which we cannot prevent.

[2018-03-18 14:06] althio commented on #335
Or we re-think this approach to onboarding people new to OSM. I used this guide in previous workshops and its very effective but we have to remind people not to upload the sample data. Its dangerous if people are using this on a self-paced approach.

When was the last time you faced this situation? This whole issue explains our attempts and progresses on this matter, and what you describe should b

[2018-03-18 14:13] althio commented on #335
Would it perhaps be possible (perhaps for the next release) to modify the data slightly so that the version is accessible (perhaps as a "note" tag on a particular object, or in some other way)?

This guide can be modified anytime, there is not really "releases".

You can suggest exactly what would be better in the test data, and discuss that, maybe in a new issue?
And propose a new file in a pull

[2018-03-27 09:41] Spanholz opened #548 "Updating LearnOSM"
Hello,

currently most of the tutorials are mainly consisting of static images, which do not represent the workflow in iD very well. So I did some short introduction videos for the iD editor and wanted to ask if they could be helpful for LearnOSM: https://www.reddit.com/r/openstreetmap/comments/7p1ps6/first_batch_of_little_vids_for_beginners_is_there/

Are there any updates planned to the site? Fo

[2018-03-27 19:31] michael63-osm commented on #548
Hi,

we already came across your videos which cover some important aspects. These are not the only videos we found worth mentioning in learnOSM so we recently introduced a [page on external resources](http://learnosm.org/en/resources). I inserted a link to the iD tutorial section of the resources page at the end of [the guide](http://learnosm.org/en/beginner/id-editor/#further-tutorials), If you f

[2018-04-02 14:47] grischard opened #549 "OpenStreetMap import will break if links aren't updated before May 7"
http://planet.openstreetmap.org is available over https, and will [start redirecting to https on 2018-05-07](https://github.com/openstreetmap/operations/issues/200).

Your project [seems to be using osmosis](https://github.com/hotosm/learnosm/search?q=%22http%3A%2F%2Fplanet.openstreetmap.org%22+osmosis), which [will not follow redirects by default](https://trac.openstreetmap.org/ticket/5483).

Wou

[2018-04-03 12:07] Spanholz commented on #548
My screen resolution was 1280x1024 because we use quite old monitors where I work. So I marked the areas that are not used by the actual informations red in this screenshot. As you can see the actual tutorial feels a bit squeezed between the right and left side.
![Screenshot](https://user-images.githubusercontent.com/25983258/38247206-a4d360e4-3744-11e8-83f2-5aa508f4e607.jpg)

You can also use tho

[2018-04-15 20:08] bgirardot opened #550 "Navigation issue with remote mapping, "Get Started" link at bottom bad link"
Hi,

At the bottom of the handheld mapping page:

http://nick-tallguy.github.io/en/mobile-mapping/

The text says "Next sections will help you get started" (see screenshot) but the "Get Started" button takes you to beginner mapping, nothing to do with the handheld stuff. I think it should take you to the "next" thing Garmin mapping.

![2018-04-15_16h04_53](https://user-images.githubusercontent.com

[2018-04-15 20:28] bgirardot opened #551 "Guide needs rewrite - iD background imagery adjustment"
http://nick-tallguy.github.io/en/hot-tips/enhance/

now there are iD built in tools for all of this.

[2018-04-15 20:29] bgirardot opened #552 "Guide needs updating - hot tips, saving and uploading with TM"
TM has changed a lot

http://nick-tallguy.github.io/en/hot-tips/saving/

[2018-04-15 20:48] michael63-osm commented on #550
That is an unexpected consequence of the new navigation bar. It took me some time to figure out what happens here: The "Get started"-link is autogenerated from the 2nd item from the top of the navigation bar. Works perfectly with the old navigation bar. I will find a solution for the new one - be patient.

[2018-06-25 17:52] Nick-Tallguy commented on #545
Closing as no longer a current problem

[2018-06-25 17:52] #545 closed

[2018-06-25 19:55] Nick-Tallguy commented on #549
Thanks for the update @grischard & sorry for the delay. The file has now been updated

[2018-06-25 19:55] #549 closed

[2018-06-25 21:04] Nick-Tallguy opened #554 "AusAID no longer exists - broken link"
credited at the bottom of the page - http://www.ausaid.gov.au/  which no longer exists.

Propose to link to the wikipedia article which explains what has happened =

https://en.wikipedia.org/wiki/Australian_Aid

Will update the staging site so can be reviewed there.

[2018-06-25 21:18] Nick-Tallguy opened #555 "site should be served over https and not http - some web browsers will not (soon or now) allow access to insecure sites."
https://help.github.com/articles/securing-your-github-pages-site-with-https/ provides simple instructions on how to update the site.

The staging site at https://github.com/Nick-Tallguy/Nick-Tallguy.github.io has been checked, and the files in the layouts folder now all refer to https

[2018-06-26 10:05] michael63-osm commented on #555
We have a DNS issue here.

from the GitHub documentation:

This is true for the staging site where https works perfectly

    mh:~> dig nick-tallguy.github.io +nostats +nocomments +nocmd

    ; <<>> DiG 9.10.3-P4-Ubuntu <<>> nick-tallguy.github.io +nostats +nocomments +nocmd
    ;; global options: +cmd
    ;nick-tallguy.github.io.                IN      A
    nick-tallguy.github.io. 3203    IN

[2018-06-26 15:49] smit1678 commented on #555
Thanks for flagging this. We should definitely update how we're managing the DNS entries for learnosm.org. One issue is that we can't point a top level domain (learnosm.org) to a github.io address with a CNAME. We will need to start using www.learnosm.org.

Here's what I propose:

- [ ] add CNAME record in DNS for www.learnosm.org to point at hotosm.github.io
- [ ] change CNAME file in repo to be

[2018-06-26 16:22] michael63-osm commented on #555
Hi,

I am not sure, do we need a CNAME record in DNS at all or does the A record for learnosm.org suffice? At least it works right now and according to https://help.github.com/articles/setting-up-an-apex-domain/ it is not required by GitHub.

Once the DNS change is operative the learnosm.org custom domain needs to be removed and re-added to the repository so that the build system is triggered with

[2018-06-29 08:12] smit1678 commented on #555
If you want to just keep learnosm.org as the main URL, then let's try it. It looks like they've recently updated how they're doing https including enabling it on TLDs. Previously you couldn't get https without using a subdomain. We recently just did this for hotosm.org. I will try to see if we can do an ALIAS record instead of A records so they don't have to be updated by us in the future.

We'll

[2018-06-29 09:28] smit1678 opened #556 "Switch to https for jquery, google fonts, license images"
<img width="1171" alt="learnosm 2018-06-29 10-28-17" src="https://user-images.githubusercontent.com/796838/42085000-28f57eda-7b87-11e8-9768-491892943987.png">

[2018-06-29 13:53] #556 closed

[2018-06-29 13:58] Nick-Tallguy commented on #556
Console no longer showing any warnings concerning mixed content

[2018-06-29 14:01] smit1678 commented on #556
Thanks for doing this @Nick-Tallguy

[2018-07-13 09:33] fjbehr opened #557 "German version: Editing a line in Id editor"
I think editing the line is possble after using right mouse click, not the left as mentioned in https://learnosm.org/de/beginner/id-editor/
![image](https://user-images.githubusercontent.com/3468961/42684485-81d9f8d2-8690-11e8-9165-2bd529723c2f.png)

I tried to update the file, but was not able to handle the Github and Localization stuuff.

[2018-07-13 19:12] michael63-osm commented on #557
Sure you are right. The reason for this problem was that the translation source used for localization did not correspond to the latest English version. I just fixed this now but this problem will exist in nearly all language versions. We have no direct influence when volunteer translators will amend the other translations accordingly.

Thank you for pointing this out!

[2018-07-13 19:12] #557 closed

[2019-03-07 09:58] DemonioCZ opened #567 "page Creating custom presets"
I found following problems on page:
        learnosm/_posts/en/1900-07-15-creating-custom-presets.md
On learnOSM page:
![learnosm](https://user-images.githubusercontent.com/4252843/53948222-a1478800-40c7-11e9-8f10-0e98f71cc795.png)
on nick-tallguy page:
![nick-tallguy](https://user-images.githubusercontent.com/4252843/53948223-a1478800-40c7-11e9-920a-32318125874e.png)

[2019-04-29 21:20] Nick-Tallguy opened #568 ".odt and .pdf versions of docs no longer needed as users can print from web browser menu"
Layouts within the site have been updated by @michael63-osm and it is no longer necessary to manually create pdf's and odt's of each of the guides. **Any person wishing to produce a .pdf version of a guide may do so by using the print menu of their web browser and choosing 'print to file' or similar.**

At this stage we are keen to **avoid having to upload new versions of all of the guides in the

[2019-05-05 09:45] Nick-Tallguy commented on #539
Hi,

I'm closing this issue - as far as I can see our documentation is correct.

Although OSM Tracker uploads the complete .gpx file which includes both trackpoints and waypoints, OSM itself does not display or integrate into its database the actual waypoints.

When editing using only the gps traces available on OSM, the labelled waypoints are not visible as they were not accepted into OSM's datab

[2019-05-05 09:45] #539 closed

[2019-05-05 09:50] Nick-Tallguy commented on #526
Closing as this was completed some time ago

[2019-05-05 09:50] #526 closed

[2019-05-05 09:51] Nick-Tallguy commented on #551
see also #302

[2019-05-05 11:37] Nick-Tallguy opened #569 "Transifex has a number of modules at 100% need to come into site"
Translators have been working hard and a number of modules are now at 100% and ready to be added to learnosm.

I anticipate some spare time during this week and could do this.

[2019-05-05 11:42] Nick-Tallguy commented on #568
All seems to be working okay - will remove the actual documents shortly from the staging site

[2019-05-06 19:10] #569 closed

[2019-05-13 06:07] Nick-Tallguy opened #571 "'old' interim guides should be removed"
Interim guides were created some years ago, where a module was not present in a language, as a means of pointing to the languages the module was available in. Most are now out of date and all should be removed as the more modern language switcher does this job better.

[2019-05-14 22:11] #571 closed

[2019-05-14 22:16] Nick-Tallguy commented on #568
closed by https://github.com/hotosm/learnosm/pull/570

[2019-05-14 22:16] #568 closed

[2019-05-18 22:00] Nick-Tallguy opened #573 "Text runs off the side"
email from Philip Stein
"Hello, just wanted to make you aware that your text runs off the side of my window, and no control at bottom to move right. I'm losing perhaps 10 characters on right. Window 10 PC.

https://learnosm.org/en/osm-data/getting-data/"

[2019-05-18 22:04] Nick-Tallguy commented on #573
![Screenshot from 2019-05-18 23-02-51](https://user-images.githubusercontent.com/6763965/57975442-2224d900-79c1-11e9-8603-a4563250af8b.png)
Checked with my Ubuntu 18.04 laptop, using Firefox web browser - above screenshot shows same problem

[2019-05-18 22:15] Nick-Tallguy commented on #573
I've checked through  the site,, also the staging site. Some modules, such as the 'getting data' module have more lines that come close to the right side than other modules. All modules have text which is closer to the right side than it used to be, but for some this is a problem as text becomes missing, off the side.

[2019-05-18 22:19] Nick-Tallguy commented on #573
@michael63-osm could you look at this please

[2019-05-19 11:24] Nick-Tallguy commented on #573
Style.css has missing space in margin- right line which may be related.

[2019-05-19 13:20] Nick-Tallguy commented on #573
working on this now

[2019-05-19 13:39] michael63-osm commented on #573
@Nick-Tallguy
Just to let you know my findings so far (using kind of an inspector built into Opera): style sheet settings are identical for paragraphs with proper and improper formatting but the (calculated) width of the text varies wildly corresponding to what we see. So far I did not learn how that width is calculated

[2019-05-19 13:48] Nick-Tallguy commented on #573
@michael63-osm - I've tried altering the line in the css sheet and then running the site locally - did not make any difference. Not sure what is happening here.

[2019-05-19 14:31] Nick-Tallguy commented on #573
@michael-63

I've just viewed the weekly ism on my phone and it seems to have a similar
problem. Can you test on desktop.

Nick
my phone is responsible for any spelling mistakes!

On Sun, 19 May 2019, 14:39 Michael Heißmeier, <notifications@github.com>
wrote:

[2019-05-19 15:18] michael63-osm commented on #573
@Nick-Tallguy

I hope I just fixed it _on the staging site_. Please have a look before we merge that here. Finally I found a css property for tables which should fix the problem with the width not being inherited.

[2019-05-19 15:36] Nick-Tallguy commented on #573
Using my phone staging site looks okay now. Will try to get on my laptop
soon

Nick
my phone is responsible for any spelling mistakes!

On Sun, 19 May 2019, 16:18 Michael Heißmeier, <notifications@github.com>
wrote:

[2019-05-19 16:02] Nick-Tallguy commented on #573
Hi @michael63-osm
I've just viewed the staging site on my laptop, and the text no longer overflows. Well done, that seems to have fixed it.

Regards

Nick

[2019-05-19 16:46] #573 closed

[2019-06-12 05:55] Nick-Tallguy commented on #568
As all seems to be working okay, script changed purely to remove the reference to this closed issue, which remains closed.

[2019-06-16 15:47] michael63-osm commented on #567
the last commit closes this issue

[2019-06-16 15:47] #567 closed

[2019-07-01 11:24] Nick-Tallguy opened #577 "hot-tips 'enhance' no longer needed as subject covered in other modules"
The module hot-tips 'enhance' covers changing the brightness etc within iD, but this is now covered by the imagery module (new). The section dealing with the 'stylish' web-browser add-on is not really a beginner subject.

[2019-07-01 11:25] Nick-Tallguy commented on #577
On Transifex the module has been suspended so that no more translations will appear for it.

[2019-07-01 11:29] #577 closed

[2019-07-01 16:16] Nick-Tallguy commented on #552
See commit https://github.com/hotosm/learnosm/commit/11f4217d3d8b5156c15627bd7d2fc96de3782894 - guide has been updated. Closing this issue, but please reopen if needed. All of the hot-tips modules should now be up to date, and 2 new modules have been added.

[2019-07-01 16:16] #552 closed

[2019-07-01 16:18] Nick-Tallguy commented on #551
New module has been added - see https://github.com/hotosm/learnosm/commit/412919beb37a31f7170a26b71a5af7c647e1f981.  Closing this issue now. All modules in the hot-tips section have been updated. Please reopen if more work is needed.

[2019-07-01 16:18] #551 closed

[2019-07-01 16:21] Nick-Tallguy commented on #534
Hi,

Closing this now. The iD module within the Beginner section has been completely rewritten by @michael63-osm & I've rewritten the hot-tips modules which covers new mappers using iD and the Tasking Manager. Please reopen if there is something that needs adding.

[2019-07-01 16:21] #534 closed

[2019-07-01 16:23] Nick-Tallguy commented on #302
Hi recent updates to both the iD module in the Beginner section, and a new module within the hot-tips section should cover this. Closing this, but please reopen if more is needed.

[2019-07-01 16:23] #302 closed

[2019-08-16 11:03] BearTi opened #583 "Automatic Upload Intervall not working"
Hi,

I set up the automatic upload of data to 1440 seconds, but when I have a look in the detailed logs, Isee that the app Uploads everytime a valid GPS position was found/logged.

Am I doing something wrong? What would be the correct option or is it a bug?

Thanks

[2019-08-16 12:16] michael63-osm commented on #583
Your question is difficult to answer without any further context. I assume that you refer one of the guides in LearnOSM. Could you specify which one (ideally where on its pages) and which software or device you are using? Then we might be able to help. Might because many of the guides had been written some time ago and the current maintainers do not have everything at hand which is covered in the

[2019-11-17 20:18] michael63-osm commented on #495
Well, currently the few of us who maintain this site do not belong to the generation which is fluent in mobile devices...

I will have a look but cannot promise changes in the near future as I first have to familiarize myself with the options the framework offers us. Furthermore we will see a new release of the Tasking Manager soon. This requires substantial documentation work and I hope you will

[2019-12-22 17:35] Andygol opened #586 "Add liter tests to check formatting"
It would be nice to have some test that checks documents formatting. Incorrect formatting influences bad document rendering and causes difficulties in translation in Transifex as one sentence is split across several lines wich Transifex shows separately. English has a fixed sentence structure and it is very hard to get the meaning of the sentence by its small part.

[2019-12-22 17:40] Andygol commented on #586
I manually fixed some formatting issues in the PR #585.

[2020-01-06 21:48] jmarlena commented on #495
Hey @michael63-osm! Is there an issue somewhere that describes the documentation needs and plans in place for the new Tasking Manager? 🤔 I'd like to follow along asyncly if possible.

[2020-01-07 20:45] michael63-osm commented on #495
Hi @jmarlena,

thank you for offering to help us. There is a preview for the upcoming release 4 of the Tasking Manager but it is not yet clear to me how stable the user interface and workflow are at this stage. I am in contact with the developers but am reluctant to spend any effort on documentation which we might have to scrap after a redesign of the software.

As soon as the developers declare t

[2020-01-29 19:53] Andygol opened #591 "Link to Style Guide is outdated"
https://github.com/hotosm/learnosm/blob/gh-pages/CONTRIBUTING.md#style-guide

Hackpad.com ceased operations after the takeover by Dropbox. It would be nice to update the link with up-to-date information.

[2020-02-09 08:05] Andygol opened #595 "Responsible design for mobile devices"
It would be great to have responsible design on learnosm.org.

Right now it looks not good when you open it on mobile.

![Screenshot_20200209-095052_Chrome](https://user-images.githubusercontent.com/369696/74098603-dd2e6d00-4b22-11ea-8546-74e414a28430.jpg)|![Screenshot_20200209-095040_Chrome](https://user-images.githubusercontent.com/369696/74098608-e61f3e80-4b22-11ea-8413-0839d66efd31.jpg)
---|--

[2020-02-09 14:58] westnordost commented on #595
I was planning to link to an introduction to OpenStreetMap that answers the first questions beginners might have. LearnOsm is a candidate, but unfortunately it is barely usable on a smartphone and thus would make a bad first impression.

[2020-02-09 15:50] RAytoun commented on #595
Hi @westnordost and @Andygol The LearnOSM site is updated and maintained by a few dedicated HOT volunteers along with others who do the translations. They could use some help with managing the extensive work. If you have some spare time to give a hand then I am sure some of these issues could be addressed. Please contact @michael63-osm or @Nick-Tallguy to see if you can offer some assistance with

[2020-02-09 15:52] todrobbins commented on #595
I can help with a responsive design @michael63-osm @Nick-Tallguy

[2020-02-10 22:16] michael63-osm commented on #595
@todrobbins   Thank you for reaching out. It would be helpful to get a few pointers how to tackle this problem. As you might have noticed the website is rendered through Github pages.

[2020-02-11 16:15] todrobbins commented on #595
@michael63-osm I'll have a pull request for you shortly with some simple fixes. Looks like the mobile design was broken because of some invalid CSS earlier in the `style.css`.

[2020-02-11 22:00] michael63-osm commented on #595
@todrobbins   Thanks a lot for your work. I first applied those fixes to our staging site, http://nick-tallguy.github.io/en/

I did not yet have a detailed look at the website (it's about time to go to bed in Central Europe) but will do so in the next one or two days. At least on my desktop computer nothing looks broken. If anybody else on this thread wants to have a look - please share your thoug

[2020-02-11 23:21] Nick-Tallguy commented on #595
Hi @todrobbins , thanks for your work on this. I've looked at http://nick-tallguy.github.io/en/, where @michael63-osm has pulled in your changes and it looks much better,

There is one small glitch, but I'm not sure if it's as a result of your changes, although it is not present on the main site at https://learnosm.org/en/. If you go to the beginners section, or any of the other chapter headings,

[2020-02-12 19:52] todrobbins commented on #595
@Nick-Tallguy that's really odd. Let me go back through my changes and see would could have changed that.

[2020-02-12 21:50] michael63-osm commented on #595
Sorry, the oddness was introduced by me. I applied Tod's fixes to the current code which contained a small change where I was experimenting a bit. _That_ difference was responsible for breaking the bookkeeping which guides appear in a category except for the cover one.

I could reproduce both the weird behaviour as well as the proper one right now with a local build of the website. This problem ha

[2020-02-12 22:41] Nick-Tallguy commented on #595
Closing this now - @todrobbins updates have fixed this completely - thank you.

@Andygol - feel free to reopen if there is anything outstanding, or open a new issue if it's something different.

Thanks to all

[2020-02-12 22:41] #595 closed

[2020-02-21 20:43] michael63-osm commented on #591
The whole CONTRIBUTING document is out of date and has not been maintained for years. I removed the link from the README document

I will add some hints about the structure of the documents in the near future. Current information (not only for translators) can be found at https://learnosm.org/en/contribute/translator/

[2020-02-21 20:43] #591 closed

[2020-03-06 00:39] miracle-E commented on #154
@jmarlena I'm an Outreachy applicant, can I work on this?

[2020-03-10 21:50] jmarlena commented on #154
Hi @miracle-E! I'm not working on this issue if that's what you mean.

I'd double check with the Outreachy mentors or the application guidelines for this as I'm not sure if it applies or now.

I'd love to be helpful to you if I can, so feel free to ask me questions.

[2020-03-17 14:30] rugk opened #604 "uBlock blocks text on buttons"
![grafik](https://user-images.githubusercontent.com/11966684/76861286-a6075600-685c-11ea-92fb-7dce822f4846.png)

at https://learnosm.org/en/

## system

Firefox 74 on Linux/Fedora
many add-ons installed, but nothing special seems to be blocked.

[2020-03-17 14:31] rugk commented on #604
Ah okay, found the issue: It's uBlock origin.

It blocks that, because you named it "ads", the ID at least. And well… that's blocked.

[2020-03-17 16:19] michael63-osm commented on #604
@rugk Could you please give our staging site http://nick-tallguy.github.io/en/ a try? I just changed those subdivision names - the coloured buttons at the top are no advertisements anyway.

[2020-03-17 17:15] Nick-Tallguy commented on #604
Not sure if this is relevant, but yesterday I was updating the site using a Raspberry Pi running 32bit Raspbian, and suffered this problem. At the time I assumed it was because I was trying to get the machine to do too much.
Today I'm using a 64 bit laptop running Ubuntu 18.04 and all is working fine.
I'll try my raspberry pi again shortly to see if the problem is persisting there.

[2020-03-17 17:18] Nick-Tallguy commented on #604
Yes - still got the problem on the raspberry pi - using Chromium!  May be a 32 bit problem ? I have had problems in the past with other sites and the raspberry pi

[2020-03-19 13:27] miracle-E commented on #154
@jmarlena please I'd love to know if there's any project I can contribute to as an outreahy applicant, I specialize in building web interfaces.

[2020-03-19 13:31] miracle-E commented on #340
Is this issue still open?

[2020-03-19 14:50] rugk commented on #604
Yes, works.

[2020-03-20 01:15] Nick-Tallguy commented on #604
Hi,
Having investigated a little more.
Using a Raspberry Pi, 32 bit running raspbian. Using Chromium, the site does not display the text on the 'buttons', but click on uBlock, then switch off 'cosmetic filtering for the site', and then refresh the web page, and the text appears.

[2020-03-20 20:11] rugk commented on #604
Could you maybe discuss this in a different issue? This is totally off-topic…

[2020-03-20 20:12] rugk opened #607 "Make link from GitHub HTTPS"
The top link at https://github.com/hotosm/learnosm still has `http://` inside. Let's better switch to HTTPS… :wink:

[2020-04-10 15:01] Yuzef opened #609 "binary format of the chart"
Hello Dear developers,

I would like to know in which binary format is the map file information stored.
How can I use charts in my program?

Kind regards

[2020-04-11 09:08] michael63-osm commented on #609
The OpenStreetMap servers contain all the data in a database but there are various ways to get exports from this database (you almost certainly want to have a regional export and not the whole world). https://wiki.openstreetmap.org/wiki/Planet.osm explains different options to get them

The OpenStreetMap wiki contains a page (https://wiki.openstreetmap.org/wiki/Using_OpenStreetMap)
which gives an

[2020-04-11 09:08] #609 closed

[2020-04-11 10:21] Yuzef commented on #609
I have already imported Baltic Sea Charts from the OpenSeaMap.org database.
I opened them via OpenCPN 5.0.0 app.

But, the thing is that I want to use charts from OSM_OpenSeaMap in my own application.
I don't know how to do it, beacuse they have special format .KAP

I have quite old application written on VB 6.0. (it's to hard to me to rewrite it to new modern language),
but this app is still grea

[2020-04-11 10:29] Yuzef commented on #609
Thank you for your quick response!

I have already imported Baltic Sea Charts from the OpenSeaMap.org database.
I opened them via OpenCPN 5.0.0 app.

But, the thing is that I want to use charts from OSM_OpenSeaMap in my own
application.
I don't know how to do it, beacuse they have special format .KAP

I have quite old application written on VB 6.0. (it's to hard to me to
rewrite it to new modern l

[2020-04-11 18:19] michael63-osm commented on #609
Well, this is learnOSM, a project run by the Humanitarian OpenStreetMap team. Although we try to cover various aspects aside from humanitarian mapping too we are definitively no experts on nautical maps and data formats. But looking at OpenSeaMap I see that they provide contact channels: https://www.openseamap.org/index.php?id=kontakt&L=1
I would expect them to know all about how to access the nau

[2020-04-11 19:36] Yuzef commented on #609
I have already send them the same 1st message as I send to you, but I don't
have response still. I hope they will answer.
Thank you very much for your quick responses one more time.
You are making really cool project!

Kind regards

Yuzef Zaborovskiy

сб, 11 апр. 2020 г. в 21:19, Michael Heißmeier <notifications@github.com>:

[2020-04-16 13:48] jmarlena commented on #154
@miracle-E Sorry I missed this ping! Can we connect elsewhere on the web? Perhaps on Twitter or IRC if you're already there?

[2020-04-16 15:00] miracle-E commented on #154
Alright, I'd be glad to. What's your Twitter handle?

On Thu, Apr 16, 2020, 2:49 PM jmarlena <notifications@github.com> wrote:

[2020-04-20 17:24] jmarlena commented on #154
My twitter handle starts with jmarlena. 😸

[2020-04-30 08:44] GrazianoCapelli opened #610 "The left Menu could be more compact or scrollable"
Ok, I try to explain the issue:

The left green Menu is placed on the left of Website Area (for resolution > 750px).
A relevant number of devices (for example a lot of notebooks) have a vertical resolution between 960px and 1280px.
Some menu sections of the LearnOSM website have a large number of pages, and the users must scroll down the left menu in order to reach the last pages of the section.

[2020-04-30 13:29] Nick-Tallguy commented on #610
Hi @GrazianoCapelli & thanks for your views on this. I agree 100%. At the moment I think that I would like to aim for a menu similar to this Jekyll theme

https://lanyon.getpoole.com/

It would need agreement from the rest of our team, and someone doing a lot of research on how to implement it - we are not experts and rely on help for the more technical changes. If it's something you would be able

[2020-05-01 16:04] Nick-Tallguy commented on #610
Hi @GrazianoCapelli I saw that there was more activity, possibly relating to this, and your pending pull request, but your pull request now appears to be closed. I was hoping to look at this over the next few days.

[2020-05-01 18:24] GrazianoCapelli commented on #610
Hi @Nick-Tallguy thanks for your answer.
I agree with you, the Jekyll theme you linked could be a nice solution.
Unfortunately I'm not familiar with Jekyll, and I'm not able to help you to implement it.

However, as I'm curious about Jekyll and the integration with GitHub, Today I looked at this and I tried to enable the pages.Github feature for my forked Repo in order to play with the padding of

[2020-05-01 19:29] Nick-Tallguy commented on #610
Hi,

Glad you are going to resubmit the pull request - we've all been busy getting ready for TM4, and most of the other things on the site were put on hold because of it.

Nick

[2020-05-03 14:08] GrazianoCapelli commented on #610
I write some notes here below, in case your team would choose to consider a simple height adjustment:

I played with Jekyll using different heights of the menu items, I can confirm that it's driven by the `.doc .title padding` property of `style.css`:
https://github.com/hotosm/learnosm/blob/e16957b2711c56fe26c587584a5784db10c75915/style.css#L581
On the screenshot below, for example, I'm using:
[co

[2020-05-03 17:36] Nick-Tallguy commented on #610
@michael63-osm could you look at the suggestions above please

[2020-05-05 13:05] jmacura opened #613 "Outdated translations"
Hi!

If I go to [learnosm.org](learnosm.org) and switch language to cs (https://learnosm.org/cs/), then I can see version of translation which is more than 9 months old. Can I help somehow with updating obsolete translation strings on the website? It is updated on Transifex.

Thanks!

[2020-05-05 14:19] michael63-osm commented on #613
Hi,

I just saw that you updated several translations on Transifex. These translations are never immediately visible on the website. The whole process is outlined in https://learnosm.org/en/contribute/translator/
In short: at an early European morning a script pulls all new translations from the past 24 hours onto a staging site where they should then be visible. Pulling things from the staging si

[2020-05-05 14:19] #613 closed

[2020-05-05 15:40] jmacura commented on #613
This is a misunderstood, @michael63-osm .
I am not talking about the several changes I have made this morning. I am talking about changes which have been done on Transifex several months ago, but are still not visible on the production site. Compare e.g. this string:
![image](https://user-images.githubusercontent.com/5598693/81085091-0b8bd080-8ef7-11ea-9a59-d9bdf5d79e9c.png)
with this history:
![i

[2020-05-05 17:42] michael63-osm commented on #613
Ok, this is a string from the essential_setup resource. And I understand how this might have gone unnoticed. This resource is not one page which gets downloaded, installed and is visible as one page. This is a collection of strings which are entered at various places in the configuration files of the website. I guess that initially not all strings were translated and once the remaining ones were a

[2020-05-05 17:54] jmacura commented on #613
Thanks for explanation, it makes sense now. And thanks for taking care about it!

What is the correct process then, when someone updates translations of the main page? Shall it be notified somewhere (here)?

[2020-05-06 23:45] Nick-Tallguy opened #616 "Site no longer builds locally - warnings about doc.html"
Very recent change has resulted in the following warning when attempting to run the site locally;

Build Warning: Layout 'doc' requested in vi/1900-07-15-creating-custom-presets_vi.md does not exist.

This is an extract - the line appears for every file in _posts.  This includes those files that use the rtl documents;

Build Warning: Layout 'doc-rtl' requested in fa/1900-08-15-josm-presets_fa.md d

[2020-05-07 07:47] michael63-osm commented on #616
I just tried both the staging site and the production site (after updating of course) and they build without any warning. The staging site however has a weird navigation menu for the coordination chapter. Obviously now we have the new TM4 documents in all languages but with language and permalink entries for 'en'.

[2020-05-07 08:02] Nick-Tallguy commented on #616
Sorry, my mistake - I've just run 'bundle update' for staging and main site and both now build correctly. - closing.

[2020-05-07 08:02] #616 closed

[2020-05-13 13:14] iriman opened #617 "Search not working on Persian pages"
On other languages it's working properly.

[2020-05-14 14:01] iriman opened #618 "Improvements for RTL"
Hello! I've made some enhancements for rtl layout and seems it works without problem.

Main changes would be:

- removing dedicated '-rtl' layouts and merging rtl/ltr in same file.
- making a modified copy of `style.css` for handling rtl in a separate `style-rtl.css`.
- adding a new variable `dir: rtl` to front matter (beside `lang:`) of rtl content used for:
  - linking appropriate `style[-rtl].c

[2020-05-16 22:19] jmacura commented on #613
Thanks again for the update, @michael63-osm . Could you also update the strings https://www.transifex.com/hotosm/learnosm-1/translate/#cs/1-essential_setuptxt/51694822 ,
https://www.transifex.com/hotosm/learnosm-1/translate/#cs/1-essential_setuptxt/51694826 and
https://www.transifex.com/hotosm/learnosm-1/translate/#cs/1-essential_setuptxt/52755544 ?
Thanks!

[2020-05-17 08:37] #617 closed

[2020-05-17 08:38] michael63-osm commented on #617
Thank you for spotting this

[2020-05-17 08:44] michael63-osm commented on #618
Hello @iriman

suggestions are always welcome, particular for languages and writing systems we are not familiar with. Please make a pull request and we will consider it.

[2020-05-21 09:08] iriman opened #622 "translation update for Farsi"
Hi, I recently updated some translatins via transifex. all are reflected on nick-tallguy.github.io except changes of main page: http://nick-tallguy.github.io/fa/
 Could you please check it?

[2020-05-23 18:24] michael63-osm commented on #622
I guess that with "main page" you mean your changes to the essential_setup document on Transifex. Obviously this is not a document like all the other guides which can simply be pulled from Transifex and installed on the website. It is a collection of strings which have to be copied to various setup files. Changes there may slip our attention - sorry for that. I will fix this this weekend.

[2020-05-23 19:44] iriman commented on #622
Yes, I meant that essential_setup doc. Thanks :)

[2020-05-23 21:28] michael63-osm commented on #613
done on both the staging and production sites

[2020-05-24 21:32] michael63-osm commented on #622
Replaced strings on both the staging and the production site. Please have a look (for someone unfamiliar with Arabic scripts it is not that easy to spot differences) and let me know if strings are still missing.

[2020-05-24 21:33] michael63-osm commented on #618
This should now be resolved on both the staging and the production site.

[2020-05-24 21:33] #618 closed

[2020-05-25 08:22] michael63-osm commented on #610
Sorry that I somehow missed this one. I integrated these suggestions on both staging and production sites. Looks convincing, thank you @GrazianoCapelli for making us aware of this.

[2020-05-25 08:22] #610 closed

[2020-05-25 11:04] iriman opened #623 "Content is cutting off when printing using Firefox"
For example open [this page](https://learnosm.org/en/beginner/id-editor/) and select  print preview from the menu. It looks like this:

![image](https://user-images.githubusercontent.com/8467903/82806985-28834600-9e9c-11ea-8bef-6104e14ba586.png)

Content is cut off at the end of page one. Seems a problem with Firefox. However there's a fix for it. we need to set display mode of `#wrapper` to `bloc

[2020-05-25 11:10] iriman opened #624 "Page reloads when clicking 'return to top'"
By clicking 'return to top' button which exists at the end of articles, browser reloads the page. It should be better to set the address of that link to a single hash `#` then it will only jump to the top without reloading.

[2020-05-25 12:35] iriman opened #625 "Quote boxes run out of screen on mobile screen"
Screenshot is from introduction page: https://learnosm.org/en/beginner/introduction/
<img src="https://user-images.githubusercontent.com/8467903/82812996-6dfa4000-9ea9-11ea-890e-7976b82084f6.png" height="50%" width="50%" />

It is caused by this `.doc p`:

https://github.com/hotosm/learnosm/blob/e8cd947019ed8abaa4b771799113741223d02eaf/style.css#L812

[2020-05-25 20:20] michael63-osm commented on #624
implemented on both staging and production sites

[2020-05-25 20:20] #624 closed

[2020-05-25 20:20] michael63-osm commented on #623
fixed on both staging and production sites

[2020-05-25 20:20] #623 closed

[2020-05-26 13:52] iriman commented on #625
Actually seems it's because an inconsistency between px and % values.

here:

https://github.com/hotosm/learnosm/blob/e8cd947019ed8abaa4b771799113741223d02eaf/style.css#L812

and here:

https://github.com/hotosm/learnosm/blob/e8cd947019ed8abaa4b771799113741223d02eaf/style.css#L236

Do we need `width:95%;`?

[2020-05-29 04:17] iriman opened #626 "A short guide on how set website language"
Because it's not obvious for new users how to put language code in preferences I think it's needed to describe the way of doing it.

Probably before navigate-the-map section on https://learnosm.org/en/beginner/start-osm/ is a good place for it.

[2020-05-31 11:13] iriman opened #627 "Display of code examples need improvement"
This is a screenshot from [here](https://learnosm.org/fa/josm/creating-presets/#%D8%A7%DB%8C%D8%AC%D8%A7%D8%AF-%D9%81%D8%A7%DB%8C%D9%84-%D9%82%D8%A7%D9%84%D8%A8-%D8%A2%D9%85%D8%A7%D8%AF%D9%87-%D8%AE%D9%88%D8%AF%D8%AA%D8%A7%D9%86) just before the section:

![image](https://user-images.githubusercontent.com/8467903/83350897-87413780-a354-11ea-9f1c-02e3b1395875.png)

as you see, there are two problem

[2020-05-31 11:19] iriman opened #628 "Suggesting Sahel font for Farsi"
The current font of website is very good for Latin script, but not very well readable for Farsi. Also it has too sharp angles. ّI would suggest to use [Sahel font](https://github.com/rastikerdar/sahel-font) which is free and is specially designed for Farsi and gives much better feel and reads easily.

The version of font that I suggest will not touch the latin script (_it has a -WOL_ suffix to the

[2020-05-31 11:23] iriman opened #629 "Placeholder of search input box misaligned on mobile screen"
This is how search filed is displayed on my mobile:

<img src="https://user-images.githubusercontent.com/8467903/82814302-20cb9d80-9eac-11ea-9a4a-594030d1bfc2.png" height="50%" width="50%" />

I proposed a fix as a[ pull request](https://github.com/Nick-Tallguy/Nick-Tallguy.github.io/pull/99) on staging site.

[2020-06-04 20:40] michael63-osm commented on #629
as it looked promising on the staging site I merged your changes here - thanks for advising us

[2020-06-04 20:40] #629 closed

[2020-06-04 20:53] michael63-osm commented on #625
I just gave it a try on the staging site removing the "width:95%" statement but it does not seem to have any effect on my smartphone.

[2020-06-05 00:27] iriman commented on #629
Thank you @michael63-osm, LearnOSM is great and these are a little I know that can make users to feel even better :)

[2020-06-05 00:36] iriman commented on #625
Mine is corrected. Could be an issue with browser cache for you?

![۲۰۲۰۰۶۰۵_۰۵۰۰۴۰](https://user-images.githubusercontent.com/8467903/83823663-bdcad980-a6e9-11ea-95b8-cba243d88e5a.jpg)

[2020-06-05 00:47] iriman commented on #627
I suggest adding the new rule `white-space: pre-wrap;` to the `pre` element

and a new rule `direction: ltr;` here maybe:
https://github.com/hotosm/learnosm/blob/7b078bcc9d20e89496d7e7734f759a26a422b1e5/style-rtl.css#L724

[2020-06-05 13:48] iriman commented on #622
@michael63-osm, Also this page https://nick-tallguy.github.io/fa/resources/ has been updated recently but is not included in translation updates. Could you please also update this new one. its document name on transifex is "0170-12-20-resourcesmd". Thanks

[2020-06-07 20:59] michael63-osm commented on #622
@Nick-Tallguy   could you please check why 0170-12-20 does not get pulled in Farsi although I see that the filename is included in the transifex config file? The latest update on the staging site is from 6th May but Farsi contents changed on Transifex on 3rd June.

[2020-06-07 21:07] michael63-osm commented on #625
I assume that you are right - I just merged the fix to the production site

[2020-06-07 21:07] #625 closed

[2020-06-07 21:24] michael63-osm commented on #627
checked locally that it works as expected and added this to staging and production sites

[2020-06-07 21:24] #627 closed

[2020-06-08 07:16] Nick-Tallguy commented on #622
Hi,  Sorry about that - it was actually affecting all languages on that particular file.

https://github.com/Nick-Tallguy/Nick-Tallguy.github.io/commit/3c15f56ff7bdb83fda13697fa16878a315fc0f2e

seems to have fixed it.

Regards

Nick

[2020-06-08 10:57] iriman commented on #625
Thanks @michael63-osm, it would be great if you could also apply it to the rtl stylesheet. I missed it on the original comment.

[2020-06-14 17:53] iriman opened #630 "3 first titles of 'Quick access' need translation"
![image](https://user-images.githubusercontent.com/8467903/84600309-931d1580-ae8d-11ea-8fc0-be8c199ec800.png)

[2020-06-15 14:27] michael63-osm commented on #625
added to style-rtl.css on both staging and production sites

[2020-06-20 14:43] iriman commented on #628
@michael63-osm  What's your opinion on this more specific issue?

---

I guess the easiest way to implement it is using publisher-provided css on the default layout (without the need to self-hosting font files):

[code]

and applying some style rules via style-rtl.css:

[code]

[2020-07-02 17:59] jmarlena commented on #154
@miracle-E: https://twitter.com/jmarlena_canepa

[2020-09-24 12:39] vdgwebsites opened #631 "mixed-content"
https://learnosm.org/en/coordination/HOT-Remote-Response-Guide/

I noticed this page has a mixed-content issue.

![mixed-content-learnosm](https://user-images.githubusercontent.com/17877665/94145972-986a0300-fe73-11ea-83f5-815b266b3310.JPG)

[2020-09-24 19:32] michael63-osm commented on #631
Thank you for pointing this out - I just fixed it on both the staging and production sites

[2020-09-24 19:32] #631 closed

[2020-09-30 13:54] vdgwebsites opened #632 "search funcion needs improvement"
The search is not very good. As far as i can see it only searches in H1 tags.

To make the site more usable a better search functionality would be needed. Eg https://learn.cloudcannon.com/jekyll/google-custom-search-engine/

[2020-10-23 16:55] FloEdelmann opened #633 "Add StreetComplete page"
In the ["Mapping with a Smartphone, GPS or Paper" chapter](https://learnosm.org/en/mobile-mapping/), a page about mapping with [StreetComplete](https://github.com/westnordost/StreetComplete) should be added.

I know it's "just" completing quests about existing map features and not "real" manual mapping, but it's an easy and fun way to contribute to OSM with a smartphone.

[2020-10-26 16:01] michael63-osm commented on #633
Thank you for pointing us at this. We know that the chapter on mobile mapping is pretty much out of date and refreshing this is on our todo list. But as we are just a few volunteers this might take a while.

[2020-11-12 11:44] vdgwebsites opened #635 "Mixed content"
https://learnosm.org/en/beginner/glossary/

Mixed content warning by firefox and edge.

See image.

![mixed-content-glossary](https://user-images.githubusercontent.com/17877665/98935837-688ac380-24e4-11eb-98da-f8592665283f.JPG)

[2020-12-06 01:00] rouelibre1 commented on #633
I'd would love to see this section updated, and help translate it in French

[2020-12-06 18:48] michael63-osm commented on #635
fixed

[2020-12-06 18:48] #635 closed

[2021-02-02 20:23] matkoniecz opened #638 "Is it safe to assume that smartphone has GPS?"
it seems to be outdated, but maybe it is different in Africa. But is it even possible to get smartphone without GPS capability?

at https://learnosm.org/en/mobile-mapping/

[2021-02-02 20:32] matkoniecz opened #639 "Start from actionables rather than from theory at mobile page"
https://learnosm.org/en/mobile-mapping/ starts from "In choosing a mapping application for mapping in OpenStreetMap, you need to consider the following features." and similar.

Maybe better it would be to provide actionable thing like "if you have Android install Vespucci and StreetComplete and see their tutorial here(link), if you have an Apple device, see GoMap!! tutorial here(link)".

See also

[2021-12-16 19:50] matkoniecz opened #646 "Is it useful to mention CDs and USB drives?"
https://learnosm.org/en/josm/start-josm/

Is it really necessary to assume it? In rare cases where user has it via this medium they are likely smart enough to understand that it is downloaded already and they can progress further

[2021-12-21 17:37] ompiepy opened #648 "Add Next Section navigation"
Please, add the Next section navigation to the further section.

[2021-12-22 09:22] #638 closed

[2021-12-22 09:24] #646 closed

[2021-12-22 09:48] matkoniecz opened #649 "Sudden unexplained Spanish(?)"
https://learnosm.org/en/josm/opendata-plugin/

![screen06](https://user-images.githubusercontent.com/899988/147072615-dc83d81a-656d-4abd-aacb-aa146cb965ab.png)

[2021-12-22 09:49] matkoniecz commented on #604
@rugk This seems fixed now.

[2021-12-22 10:05] michael63-osm commented on #649
Thanks for pointing this out. I'll have to reject the associated pull request because the root cause is in Transifex which we use for translations. If I do not fix it there then the github contents would get overridden with the next update of translated files.
Updates to our staging site happen every morning and I'll find time to integrate this some time tomorrow.

[2021-12-22 10:15] matkoniecz commented on #633
@michael63-osm So adding StreetComplete page would be welcome? I would be happy to add it but I have a conflict of interest here (I am one of people making it).

[2021-12-22 11:10] michael63-osm commented on #633
We have no problem with that as long as it fits with the style of other pages, i.e. presents the features in a rather technical way. We do not want to add simple marketing flyers containing sentences like 'this is world's best software to accomplish anything you might ever dream of" - I think you get the point.

We already received the occasional input particularly for the mobile mapping chapter a

[2021-12-22 12:06] matkoniecz opened #651 "Blank contributing file is confusing"
https://github.com/hotosm/learnosm/blob/gh-pages/CONTRIBUTING.md - maybe it would be better to delete outdated content? It will be kept in git history

Now it is quite confusing - on visiting file it is blank. Note that this file is linked by github - see for example below bottom of a new issue form ( https://github.com/hotosm/learnosm/issues/new )

On viewing code ( https://raw.githubusercontent.

[2021-12-22 12:07] matkoniecz commented on #554
It seems to be fixed now.

[2021-12-22 12:09] matkoniecz commented on #325
Is learnosm confusing enough to need FAQ? Are there actually some consistently asked questions which cannot be solved by improving contents?

[2021-12-23 21:53] #604 closed

[2022-03-22 09:59] danieldegroot2 commented on #630
Translation is managed on Transifex. You can contribute translations there;
https://www.transifex.com/hotosm/learnosm-1/dashboard/

[2022-05-15 18:39] yakshdeveloper opened #654 "color is not perfect to use"
please update color using color palate

[2022-05-18 08:43] harry-wood commented on #82
So to be clear, the style guide is now part of the learnosm website itself at:

https://learnosm.org/en/contribute/style/   ([in github here](https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/0150-10-20-style_en.md))

Although it still feels a bit casually pasted in. It fact it says _"Paste of data from hackpad"_ at the top (The hackpad no longer exists). And it's not added to the side na

[2022-05-18 09:01] harry-wood commented on #651
Oh yeah. Lots of info in CONTRIBUTING.md &lt;!-- all commented out --&gt;  I agree that is confusing.

I didn't really understand why @[michael63-osm](https://github.com/michael63-osm) decided to comment out the _whole thing_. There's certainly some sentences there which are still valid. I'm happy to have a go at doing a less brutal pruning of the info if that helps.

I see in [the discussion here

[2022-05-18 18:12] michael63-osm commented on #654
Could you please explain a bit what you mean? Where do you think that the colour is not appropriate? And what do you propose instead?

[2022-05-18 19:22] michael63-osm commented on #651
Sorry for the confusion, I was not really aware that people pay attention to this file.

The modification to that file was around the time when we started writing a couple of documents for people who want to help:
https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/0150-09-20-translator_en.md  as a guide for how to translate the contents from English and
https://github.com/hotosm/learnosm/b

[2022-05-18 19:23] #649 closed

[2022-05-18 19:32] michael63-osm commented on #633
Some things take way longer than we would like but in the meantime a contributor found the time and had the expertise to write an in-depth guide  on StreetComplete: https://learnosm.org/en/mobile-mapping/streetcomplete/

LearnOSM now covers MapSwipe as well and a revised version of the guide on Vespucci is nearly finished.

[2022-05-18 19:32] #633 closed

[2022-05-18 19:39] michael63-osm commented on #82
I agree that this needs to be added to the information available from https://learnosm.org/en/contribute/ as mentioned in #651.

[2022-05-19 00:25] harry-wood commented on #651
Ah yes. There is quite a lot of 'contribute' info elsewhere. Actually a good generic explanation I hadn't noticed is the three paragraphs here: https://github.com/hotosm/learnosm#contributing . Also, as you say, "when you click on the pencil icon" https://learnosm.org/en/contribute/  there's another generic single paragraph on a "contribute" homepage.
Lot of different places. Maybe deleting the CO

[2022-05-19 06:09] matkoniecz commented on #651
I would rather replace its contents by links to a documentation if it exists elsewhere

[2022-07-27 12:03] matkoniecz opened #661 ""the default is Bing Aerial Imagery" is not true"
at https://learnosm.org/en/beginner/id-editor/

No it is not. Default depends on best available imagery, nowadays Bing is merely global default.

(can try to make PR after #660 and #559 and #655 are processed or after #652 is solved so I will be sure where I should contribute proposed changes)

[2022-08-07 19:01] michael63-osm commented on #661
I prefer to simply skip the statement in brackets - if iD chooses a reasonable default then beginners should work with it.

[2022-11-21 14:13] angoca opened #667 "Docs not available"
Almost all documents from https://github.com/hotosm/learnosm/wiki/English-Learning-Guides/ are in GoogleDrive, without public permissions.