[2012-08-30 22:07] jueyang opened #1 "Redesign learnosm.org"
@wonderchook cc/ @lxbarth

Hi Kate,

I  worked with @lxbarth to redesign the layout and information architecture for learnOSM.org. The goals of the redesign are to
- accomodate new content for users at different skill levels
- turn existing workshop information into more versatile learning/teaching materials
#### Navigation

With the goals in mind, I've introduced new navigations to both the home

[2012-09-22 03:44] lxbarth opened #2 "Include AusAid logo"
AusAid logo needs to be on LearnOSM with  "Supported by: "

http://cl.ly/image/2A45383n381M

@jueyang - we should add a footer where we can place logos like this one. This should be very light and super clean IMO.

/cc @wonderchook

[2012-09-25 09:39] nutiteq opened #3 "Add translation system"
My suggestion: http://www.transifex.com, upload .po files there and have them translated by community. It has working CLI tools so you can have even automatic pull/push workflow of new strings and translations.

[2012-10-01 09:59] maning opened #4 "add section on adjusting imagery offset"
Sample tutorial for P2: http://wiki.openstreetmap.org/wiki/WikiProject_Philippines/hires_imagery#Alignment_issue

[2012-11-02 16:15] lxbarth opened #7 "Can we make gh-pages the main branch?"
After [#pull/6](https://github.com/hotosm/learnosm/pull/5) went in can we make gh-pages the main branch of this repo?

/cc @wonderchook

(I'm not admin on this repo).

[2012-12-12 18:19] jueyang opened #8 "implement site structure"
Hey everyone,

Based on #1, I've forked the repo and am starting to implement a few things for the site.

Starting goals:
- styling up front page
- basic navigation for guides and languages
- basic nav for each section

I will post updates periodically in the next few days.

[2012-12-18 14:49] lxbarth opened #9 "Gather all content to be published on LearnOSM.org"
Gather all content to be published on LearnOSM.org and link it from here:

https://github.com/hotosm/learnosm/wiki/Content

[2012-12-20 16:38] lxbarth opened #10 "Migrate all content to markdown"
We'll need to migrate all content to the new site
- [Learning guides](https://github.com/hotosm/learnosm/wiki/Learning-Guides)
- [Teaching guides](https://github.com/hotosm/learnosm/wiki/Teaching-Guides)

This will mean:
- Come up with a process to do so (@lxbarth will have a look, any ideas welcome right away)
- Do it (this might require a call for volunteers to chime in)

[2012-12-20 23:07] #8 closed, assigned to jueyang

[2012-12-20 23:33] jueyang opened #12 "Remaining tasks"
@lxbarth

I see a few tasks for myself immediately.
-  continue to refine the graphics through out the site. This includes one image for each of the splash buttons on the frontpage, the image for the training guide box, and the hand.
- look into the thumbnail bug
- start making contribution page

Other Tasks:
- Format content

  It'd be nice if `<p>` and `<li>` are distinguished for different type

[2012-12-20 23:34] #1 closed, assigned to nobody

[2012-12-21 04:20] #7 closed, assigned to nobody

[2012-12-21 15:37] #4 closed, assigned to nobody

[2012-12-21 16:33] MappingKat opened #13 "Slides!"
What is the method of madness for putting the slides up?  I would love to hear thoughts on that matter...

[2012-12-21 16:42] MappingKat opened #14 "Teaching Content Format"
Any thoughts on how we would like to organize the teaching guides?

In all of the sections, there will be:

[2012-12-21 16:43] #2 closed, assigned to nobody

[2012-12-21 17:58] lxbarth opened #15 "Content formatting"
@MappingKat on  #1:

[2013-01-02 09:55] lxbarth opened #17 "Cross browser testing"

[2013-01-02 16:22] jueyang opened #18 "Graphics"
- one Illustration for each button
- trainer's guide
- hand

On hold for now. Will decide details once content is in place.

[2013-01-02 16:24] jueyang opened #19 "Build out search function"
We are thinking of auto complete with the linkable subject titles.

[2013-01-02 16:33] jueyang opened #20 "Image edit"
@MappingKat

Can you take a look at the images and screenshots in existing content and make some edits?

The thumbnail-to-full approach works best with images with a maximum width of **520px**. A few screenshots are two big for the functions to work well. Here are a few things I see:
- The images on the [introduction page](http://hotosm.github.com/learnosm/en/beginner/introduction/) of the beginne

[2013-01-02 17:21] jueyang opened #21 "Make contribution page"

[2013-01-02 17:22] #12 closed, assigned to nobody

[2013-01-06 13:46] #20 closed, assigned to MappingKat

[2013-01-07 16:20] lxbarth opened #23 "Feedback on each guide page"
Each guide page should have a line

On the bottom of the page.

[2013-01-07 16:26] lxbarth opened #24 "Improve contribute"
The contribute ad shouldn't be The Hand of the Drowning but a simple banner or similar saying:

"Help us improve this guide"

linking to `/contribute`.

Draft text for `/contribute`:
## Help us improve this guide

This guide is created and maintained by the OpenStreetMap and Humanitarian OpenStreetMap community. You can help us improve this guide by simply sending your feedback to [](helposm@learn

[2013-01-07 23:39] #21 closed, assigned to jueyang

[2013-01-07 23:40] #23 closed, assigned to nobody

[2013-01-08 17:26] jueyang opened #25 "Exclude small images in thumbnail funciton"

[2013-01-08 22:35] #25 closed, assigned to nobody

[2013-01-28 07:41] MappingKat opened #26 "Updated Beginner Content"
I just want to make sure that the new beginner content is being used.  The website content is outdated.  All of the new material is on the wiki.  We can easily close this issue if the beginner content is being used.

[2013-01-29 18:41] #24 closed, assigned to nobody

[2013-01-30 03:23] MappingKat opened #27 "Need to Edit a Chapter. Where should I do that?"
Hey there,

A HOT member has some chapter content that can be merged with a beginning chapter.  It has better pictures and more details.  Where should I edit it in?  How should I link the images?

[2013-01-31 22:37] #18 closed, assigned to jueyang

[2013-01-31 22:56] jueyang opened #28 "UI changes"
1. sticky doc navigation
2. search bar on every page (`default` layout)

[2013-02-01 21:52] #28 closed, assigned to nobody

[2013-02-01 22:48] lxbarth opened #29 "Friday night review"
@jueyang - posting here the findings of our review just now:
- [x] Kill middle nav beginner|intermediary|advanced
- [x] Capitalize tag line (not all caps)
- [x] Migrate all non-english beginner material
- [x] Change color ads to:
  - [ ] Beginner
  - [ ] Decide what guides to migrate for link 2 and 3
- [x] Common qestions should all link to beginners guide
- [x] Larger pictures
- [x] Keep dashed l

[2013-02-02 09:07] jeffhaack opened #30 "QGIS guide etc?"
I was just looking through this (haven't for awhile) and wondering if there will be room for additional guides?  For example, we have an intro QGIS guide that has been translated into a couple of languages, and I'm wondering in the current site design if there is a plan for adding additional guides.

[2013-02-04 18:31] jueyang opened #31 "Content migration for other languages"
@MappingKat @jeffhaack @mvexel @aplannersguide cc/ @lxbarth

I've finalized all the site structure and _posts head matter. I've finished the English beginner's guide. Could any of you help migrating some content? Check out the wiki pages for:
- [md conversion](https://github.com/hotosm/learnosm/wiki/Google-Doc-to-Markdown-Procedures)
- [image processing](https://github.com/hotosm/learnosm/wiki/Ima

[2013-02-22 00:02] jueyang opened #33 "Design review"
@samanpwbb Can you check out the site and give some design suggestions?

Ideally we can talk on Monday.

http://hotosm.github.com/learnosm/en/

[2013-02-22 00:04] jueyang opened #34 "Proof read for non-guide translations"
@MappingKat cc/ @lxbarth   @wonderchook   @jeffhaack

I have finished beginner guide migration for languages with complete beginner materials, as mentioned in #31.

Each language comes with a homepage and other translated materials (such as the feedback box "Was this chapter helpful?" after each chapter). I have used google translate for these content. Could you or someone else proofread the conte

[2013-02-22 00:05] #31 closed, assigned to nobody

[2013-03-06 20:58] lxbarth opened #38 "@learnosm"
@wonderchook - are you working [@learnosm](http://twitter.com/learnosm)?

@jueyang - want to create a quick logo icon for @learnosm? We're linking to it from footer.

[2013-03-06 21:20] lxbarth opened #39 "Switching domain"
@wonderchook - who can switch the learnosm.org domain to github? I've already created the necessary CNAME entry. All that's needed now to switch from current site to new site is this A record entry for learnosm.org ([GitHub docs](https://help.github.com/articles/setting-up-a-custom-domain-with-pages)):

`learnosm.org.             3259    IN      A       204.232.175.78`

There are still some final

[2013-03-06 21:29] lxbarth opened #40 "Launching"
Here's my launch list for getting the first iteration of learnosm.org live. This will be a minimal version, focused on relaunching the most important content, linking to further content on Wiki. I think this will be fine for now, please let me know if not.

@wonderchook @MappingKat @jueyang - please let me know if you're seeing something missing here.
- [x] @jueyang #33 design review
- [x] @jueyan

[2013-03-06 21:48] #29 closed, assigned to jueyang

[2013-03-08 05:06] wonderchook opened #41 "Please add the BNPB logo to the footer"
Please add the BNPB logo to the footer , the order from left to right should be: HOT, AusAID, BNPB
![Logo BNPB_new](https://f.cloud.github.com/assets/67992/235526/a5f8839c-87ad-11e2-8d2a-0c8d867fa1b1.png)

[2013-03-15 17:15] #33 closed, assigned to nobody

[2013-03-15 17:15] #41 closed, assigned to jueyang

[2013-03-18 22:11] lxbarth opened #42 "Layout breaks on low widths"
@jueyang - layout breaks now on low widths. I'm fine with a quick min-width fix for now.

http://cl.ly/image/0X133r2z1T0B

[2013-03-18 22:22] lxbarth opened #44 "Last review on Portuguese"
@vgeorge - #43 was quite some surgery as files have moved in the meantime.

Can you take a last look at the Portuguese version and make sure I didn't miss any of your changes? I copied file contents whole sale, so you won't find a situation within a file where one of your fixes would have been applied while another one wouldn't. There is [one exception](https://github.com/hotosm/learnosm/commit/96

[2013-03-18 23:38] #44 closed, assigned to nobody

[2013-03-19 15:16] lxbarth opened #45 "IE"
@jueyang - please review IE 8/9/10 and fix where there are easy fixes.

http://cl.ly/image/0q392i3A373E

[2013-03-19 16:24] #45 closed, assigned to nobody

[2013-03-19 18:54] #42 closed, assigned to jueyang

[2013-03-19 20:43] lxbarth opened #46 "404 page"
We need a 404 page.

[2013-03-19 21:05] #39 closed, assigned to jeffhaack

[2013-03-20 16:40] jaakkoh opened #47 "Front page typo: Beginner Guide -> Beginners' Guide"
or Beginner's Guide or even Beginners Guide. But not Beginner Guide.

[2013-03-20 17:49] #47 closed, assigned to nobody

[2013-03-21 02:49] maning opened #54 "Images for icons too big"
See icons here: http://learnosm.org/en/beginner/aerial-imagery/
I want to fix it but I can't find a way to re-size icons using MD at prose.

[2013-03-21 08:45] vdeparday opened #56 "Print friendly"
The PDFs are currently available as Google docs but these will get outdated as pull requests come in. So, it looks like:
- A script should be available in the repo to generate the PDFs (using pandoc?)
- The generated PDFs should have links to them on the website
- Ideally, the PDFs should be generated after each pull request

[2013-03-21 12:47] #54 closed, assigned to nobody

[2013-03-21 12:52] lxbarth opened #58 "French translation"
This issue is to coordinate ongoing French translation.

To contribute:

- Fork `learnosm` to your account
- Translate in `french` branch
- Issue pull request from your `french` branch to the `learnosm/french` branch

Before starting into a translation throw out a quick note here on the thread what you're *immediately* working on.

The immediate part is important, let's not block each other with f

[2013-03-21 14:57] #46 closed, assigned to jueyang

[2013-03-21 15:47] pnorman opened #59 "Chapter numbers"
https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/0200-12-28-start-josm.md makes reference to numbered chapters, which do not exist on learnosm.org. The numbers also don't correspond consistently to the sections in the menu.

[2013-03-21 15:48] #40 closed, assigned to nobody

[2013-03-22 07:16] maning opened #61 "New section for ID"
Future section for hot to use ID editor.
Tag as enhancement.

[2013-03-22 13:47] jremillard opened #62 "Walking Papers Broken"
The walking papers service is broken. I verified that it does not work. The wikii says it has been broken for over a year.

http://wiki.openstreetmap.org/wiki/Walking_Papers

Looks like the project has moved to http://fieldpapers.org/

All of the references to walking papers should be changed to "field papers"?

[2013-03-22 20:56] lxbarth opened #63 "Spanish translation"
This issue is to coordinate ongoing Spanish translation.

To contribute:
- Fork `learnosm` to your account
- Translate in `spanish` branch
- Issue pull request from your `spanish` branch to the `learnosm/spanish` branch

Before starting into a translation throw out a quick note here on the thread what you're _immediately_ working on.

The immediate part is important, let's not block each other wit

[2013-03-26 09:38] mkyral opened #65 "Bad look with dark system theme"
Hi,
Web does not look well with dark system theme (grey text on dark background). See screenshot.
![learnosm_dark](https://f.cloud.github.com/assets/155542/302057/e79d2966-95f8-11e2-92a7-942f1f36dd90.png)

[2013-03-26 16:07] #65 closed, assigned to nobody

[2013-03-27 16:04] yohanboniface opened #67 "Proof reading needed for "Aerial Imagery" page"
This one: http://learnosm.org/en/beginner/aerial-imagery/
I've found some typos while translating it, and also some sentences that seems to be "improvable". For example, the part about the resolution picture.

[2013-03-27 17:52] #67 closed, assigned to nobody

[2013-03-28 20:42] yohanboniface opened #70 "Move out "Add presets" and "Walking Papers plugin" from "Getting started with JOSM""
I feel like that "Add preset file" and "Add Walking Papers Plugin" sections are just confusing in the "Getting started with JOSM" chapter.
I think we can move the "Add preset" section to a more advanced chapter, and the "Add Walking papers plugin" in the ad hoc chapter.

What do you think?

[2013-03-29 08:35] yohanboniface opened #71 "http://learnosm.org/files/ => 404"
The "Getting started with JOSM" suggest to download a OSM sample from http://learnosm.org/files/ but this link goes in 404.

[2013-03-29 14:33] yohanboniface opened #72 "`doc-nav` div misplaced on Firefox 19 Ubuntu"
For example in this page: http://learnosm.org/en/beginner/ , I'm not able to click on the languages, to switch the current language.

I'm running Firefox 19 on Ubuntu.

![learnosm](https://f.cloud.github.com/assets/146023/317735/f22413bc-987e-11e2-8293-c26b72a15292.png)

[2013-03-29 17:43] lxbarth opened #73 "Unearth polish version"
[According to balrog-kun](http://www.openstreetmap.org/user/lxbarth/diary/18851#comment22814) there is a polish version of the beginner's guide in PDF format.

@jeffhaack - sounds familiar? Could you dig this up from the WordPress ghost town?

[2013-03-29 18:00] skorasaurus opened #74 "Revise section on Downloading OSM data to Garmin"
http://learnosm.org/en/beginner/using-gps/

has a note that instructs users to download OSM Data to their garmin to a file that only contains data for Haiti.

I don't know what approach is most appropriate for this: perhaps link to a page that has all garmin-formatted OSM data for different countries/areas ? Does such a page already exist (on geofabrik) ?
Unless we want to maintain a page that has

[2013-04-01 14:35] yohanboniface opened #76 "Walking Papers => Field Papers?"
It seems that Walking Papers is no longer maintained, and so in the field we are actually using «Field Papers».
What about updating the [ad hoc chapter](http://learnosm.org/en/beginner/walking-papers/) too?

[2013-04-01 20:43] yohanboniface opened #78 "Move "Tasking Manager" section in a dedicated chapter?"
Currently, the Tasking Manager is addressed in the "Quality Assurance" chapter.
I feel this a little bit confusing, as the TM is not imho a quality assurance tool.
So I suggest to move it to a dedicated chapter. Thoughts?

[2013-04-01 21:39] yohanboniface opened #79 "Intermediate introduction needed"
Just like we have a ["Beginner's guide" introduction](http://learnosm.org/en/beginner/), we'll need a Intermediate's guide introduction.
@nicolas-chavent, can you do this? Sounds like a good git exercise :)
Here is the file to be filled: https://github.com/hotosm/learnosm/blob/intermediate/_posts/en/intermediate/0300-12-31-intermediate.md
Remember to work on the `intermediate` branch.

[2013-04-01 21:49] #79 closed, assigned to nobody

[2013-04-03 10:04] wonderchook opened #82 "Contributor Style Guide"
With the desire from so many people to add content we really need a style guide. This will ensure consistent formatting and voice in LearnOSM.

@MappingKat and @jeffhaack do one of you have time to lead this? Let's put ideas of things it needs to contain in this ticket.

[2013-04-09 17:45] codemonkee opened #83 "Link to www.gpsbabel.org is relative resulting in a 404"
http://learnosm.org/en/beginner/using-gps/#get-the-gpsbabel-setup-program

The link to www.gpsbabel.org is currently relative http://learnosm.org/en/beginner/using-gps/www.gpsbabel.org and results in a 404

[2013-04-10 18:23] #83 closed, assigned to nobody

[2013-04-10 20:31] #72 closed, assigned to jueyang

[2013-04-11 21:21] pierzen opened #89 "Intermediate level / Edit in Detail, Content modification proposal"
Add Nodes at Intersections:  This tool is very helpful for adding
    missing nodes in intersections of selected ways.  It is good
    practice that roads and rivers should always have common nodes where
    they intersect.

My understanding is that there should not be node at crossing of rivers and highways except for fords.
I propose to revise it to something like
Add Nodes at Intersections:  Th

[2013-04-16 04:16] maning opened #90 "No images for the all chapters section"
How to solve this?  If anyone can provide guidelines, I can work on this.

[2013-04-16 21:02] lxbarth opened #92 "Scale UI better"
@jueyang - how could this scale better? This is the site in German right now.

Care for a quick fix?

http://cl.ly/image/3h3B3y0b2y2M

[2013-04-26 01:15] yohanboniface opened #93 "Print stylesheet"
Sadly, we often need to print the content of LearnOSM, so it could be very useful to have a dedicated stylesheet that allows a usable print.

[2013-05-01 18:01] skorasaurus opened #94 "Localization of images' content"
Several pages in other languages have images with text written in English.

For example, the images for JOSM sections - [JOSM Plugins in French ](http://learnosm.org/fr/beginner/josm-plugins/)

A quick review of this appears that some of this has been done for the German section - http://learnosm.org/de/beginner/start-josm/

Second related question and probably warrants a separate issue; having a

[2013-05-07 12:35] #93 closed, assigned to nobody

[2013-05-27 01:52] maning opened #98 "Add a new section on using OSM Notes"
Reference: http://wiki.openstreetmap.org/wiki/Notes

[2013-05-29 16:22] jaakkoh opened #99 "LearnOSM license (CC0) missing from the website."
IMO it should be there sufficiently prominently visible to embrace the Openness of the information. Now I can't find it anywhere on the website.

[2013-06-06 09:16] maning opened #101 "How do I render my own fork in github.io?"
I tried removing the `CNAME` file to test rendering to my own github.io but I get this output

http://essc.github.io/learnosm/en/

Style is broken and the link to Beginners Guide doesn't work.
Is there a way to render in my own fork's github.io?

[2013-06-06 10:15] #101 closed, assigned to nobody

[2013-06-14 11:12] maning opened #102 "Starting work on the Advance sections"
I am starting the conversion of the Advance section materials.  I created  an advance branch in my fork here:  https://github.com/maning/learnosm/tree/advance

The "markdownified" sections so far, includes:
- Preface
- PostGIS Configuration
- Cartography With TileMill
- Putting Maps on a Website with MapBox
- Using GitHub
- WMS Service Configuration
- Private Data Storage Configuration
- All-chapt

[2013-06-21 15:29] #38 closed, assigned to nobody

[2013-06-21 15:32] #26 closed, assigned to jueyang

[2013-06-21 15:33] #17 closed, assigned to jueyang

[2013-06-21 15:34] #34 closed, assigned to nobody

[2013-06-21 15:35] #27 closed, assigned to nobody

[2013-07-04 15:31] severinmenard opened #104 "Where is the LearnOSM page about OSM services?"
Hi,

I remember we merged Kristina's page and mine last year on Gdocs. This page has been discarded or net yet added?

Sincerely,

Severin

[2013-07-05 18:03] severinmenard opened #105 "05-UsingThePrivateDatastore"
Hi,

Starting to translate it into French! On a Gdoc as a GITHub noob.

Noticed in this doc the contact to open a HOT Datastore account is Kate's private Gmail address. Maybe we could change this by accounts@hotosm.org now?

[2013-07-07 17:29] sabas opened #107 "Export formats"
In the old version of learnosm there was a pdf, what about making a section with ready to download exports?
I was thinking to pdf and also epub ( http://lincolnmullen.com/blog/epub-generator-for-jekyll/ )

[2013-07-08 07:07] adisadit opened #108 "Intermediate Section for LearnOSM"
Hi all, from last month me and my team already converted all the English Intermediate

material to markdown format and using the intermediate branch like

 @yohanboniface said before. Today we gonna continue the work.

What we did so far:
- Convert Intermediate material consists of:
  1. Editing in Detail
  2. Conflict Resolution
  3. Adding OrbView Imagery
  4. Quality Assurance
  5. Tasking Mana

[2013-07-09 05:55] maning opened #110 "Re-organize topic groups (intermediate and advance) into coherent themes."
From Mikel:

The division into "Beginner" and "Advanced" seems a little artificial. The "Beginner" section makes sense, but for more advanced topics, to me it makes more sense to group topically, and indicate level of difficulty as an attribute of each section. For instance
- "More on Editing" (Editing in Detail, Presets, Private Data Store)
- Coordination (Tasking Server, Quality Control, Editing

[2013-07-09 05:56] maning opened #111 "Section on deailing with extracts and data products"
From Mikel:

I'd also add a section to dealing with extracts and data products ... ie finding stuff on GeoFabrik, using Overpass Turbo.

Reference: http://lists.openstreetmap.org/pipermail/hot/2013-July/003370.html

[2013-07-09 06:00] maning opened #112 "Edit Orbview chapter to be more on using imagery in JOSM in general."
From Mikel:

And for the OrbView imagery, does it make sense to talk more generally about dealing with imagery, with OrbView as an example?

Reference: http://lists.openstreetmap.org/pipermail/hot/2013-July/003370.html

[2013-07-10 02:07] maning opened #113 "Where to add images/screenshots for the intermediate and advance section?"
Need to verify the the proper location of ![images](https://github.com/hotosm/learnosm/wiki/Images-guidelines-beta) for other sections. For the intermediate chapters for instance, is it in `images/` or `images/intermediate` ?

[2013-07-10 07:59] sabas opened #114 "A chapter on iD"
In beginner section would be useful a chapter on iD.

[2013-07-10 08:09] sabas opened #115 "Update screenshots"
Example http://learnosm.org/images/start_osm_website_en.png

[2013-07-14 04:37] #78 closed, assigned to nobody

[2013-07-18 03:08] #62 closed, assigned to nobody

[2013-07-23 15:05] severinmenard opened #118 "Images in LearnOSM"
HI,

I would like to create screenshots for the first version. I have three questions:
1 where to store them?

2 if these broken links are normal within GitHub or not?https://github.com/hotosm/learnosm/blob/e1f4f5b4c650b8b555c5a28a7a0f7707d7969d44/_posts/fr/0200-12-23-editing-with-josm.md

3 how to set the images sizes as currently either too big or too small? http://learnosm.org/fr/beginner/editi

[2013-08-09 18:28] lxbarth opened #123 "Document / fix type ahead index generation"
@jueyang -

The type-ahead box on the front page is powered by json files generated by a script in `_bin/` - it appears this script is broken and undocumented. Can you fix this?

https://github.com/hotosm/learnosm/blob/gh-pages/_bin/import.js#L44

[2013-08-12 03:55] #123 closed, assigned to nobody

[2013-08-12 03:58] #19 closed, assigned to jueyang

[2013-08-12 21:39] wonderchook opened #124 "Datastore Chapter Needs to be Updated"
The datastore chapter needs to be updated before put on LearnOSM. This is version 1.0 not version 2.0 in the tutorial.

https://docs.google.com/document/d/1iLJK7kArj5OVmL-OBqWHFHBFE58MFVZ5sj46OmgAe74/edit

[2013-08-13 16:31] severinmenard opened #125 "Updating Contributing.md to integrate prose.io for non techy translaters"
We need an updated Contributing.md page explaining clearly what would be done for the translation process with prose.io, encompassing the following points:
- do I need to create my own branch or not? If so, the concept should be explained in simple words.
- what is the expected URL root in which I am supposed to work?
- how do I upload the images?
- how can I visualize the resulting text with the

[2013-08-14 03:26] #99 closed, assigned to jueyang

[2013-08-23 09:14] maning opened #127 "Wrong URL to the "Help improve our guide" banner"
It does not land to http://learnosm.org/en/contribute/

[2013-09-29 11:32] #127 closed, assigned to nobody

[2013-10-07 20:51] #76 closed, assigned to nobody

[2013-10-07 22:02] jaakkoh opened #129 "Add an alternative download link for Garmin drivers?"
The Garmin Windows drivers download link at http://learnosm.org/en/beginner/using-gps/#install-gps-drivers doesn't seem to work in Nicaragua -- at least not today.
Should we add an alternative download link independent of Garmin? Is this seen as too much of a license problem?
@yohanboniface has the latest available package (USBDrivers_231.exe as of today) at
http://ubuntuone.com/0QtrnoYvXdHHJhorjU

[2013-10-07 22:09] jaakkoh opened #130 "LearnOSM : Using GPS / Install GPS drivers part is written for Win only -- add Linux instructions"
(http://learnosm.org/en/beginner/using-gps/#install-gps-drivers)

This would be simple as (at least in Fedora v.17) the eTrex was/is recognized automatically and it was possible to download GPS data from the device with Prune (recommended by jgc). .. So, I would suggest that e.g. the following text would be added to the end of the Install GPS Drivers chapter:

Linux systems (at least Fedora) do no

[2013-10-08 02:14] #59 closed, assigned to nobody

[2013-10-08 02:18] #30 closed, assigned to nobody

[2013-10-08 02:24] #70 closed, assigned to nobody

[2013-10-08 02:28] #71 closed, assigned to nobody

[2013-10-08 14:55] nebulon42 opened #132 "LearnOSM translation beginners questions"
Hi,

I wanted to help translating content to German, but I have a few questions:
- Is the content of Intermediate/Advanced ready for translation?
- What is the preferred way of contributing? Pull request or Prose.io? (I'm fine with both.)

The Contributing.md maybe should be clearer on this, like "No GitHub experience, read here" or what is considered the preferred way of contributing. Maybe also

[2013-10-09 21:12] #102 closed, assigned to nobody

[2013-10-09 21:15] #129 closed, assigned to nobody

[2013-10-10 13:48] #132 closed, assigned to nobody

[2013-10-16 16:59] #114 closed, assigned to nobody

[2013-10-16 17:02] #108 closed, assigned to nobody

[2013-10-16 17:04] #90 closed, assigned to nobody

[2013-10-16 17:05] #61 closed, assigned to nobody

[2013-10-16 17:11] #9 closed, assigned to nobody

[2013-10-16 17:14] #130 closed, assigned to nobody

[2013-10-16 17:40] jeffhaack opened #138 "New Material and New Translations"
I'd like to document the recent changes I've made to learnOSM content and list a few things that are still needed:

First, what I've changed:
- In the Beginner Guide, there is now an additional chapter named "More about JOSM."  This chapter includes some of the original material from the "Editing in JOSM" chapter and some new material.  I thought it was important to give some grounding in JOSM edi

[2013-10-16 19:19] nebulon42 opened #139 "sticky nav does no longer fit on smaller screens"
Now that the navigation box has more items and there is another box the nav does no longer fit onto smaller screens (e.g. my 1280x800 display). Maybe the stickyness should be removed altogether? As it is now I would have to scroll to the end to see the rest of the nav items. Instead of the sticky nav there could be also a sticky "to top of page" link.

[2013-10-22 14:43] severinmenard opened #140 "Adding Etrex10-20-30 chapter"
Such a chapter has been done by Augustin Doury Last year. See https://docs.google.com/file/d/0B75-nI93RBqoOG81a3h4UWY0MzQ/edit?usp=drive_web
Would be valuable to refresh the current chapter that I think relies on the older Etrex Hcx Series.

[2013-11-26 05:16] wonderchook opened #148 "Better Sync'ing of Translations on Updates"
The workflow defined now for new translations works okay. When we add new chapters that works as well. There isn't a good workflow for when the documentation is updated.

Other documentation projects HOT is involved in use Transifex to track the changes and make it easier to contribute translations when strings change. I looked into what we might need to do if we were to use Transifex.

**Question

[2013-12-10 12:31] harry-wood opened #150 "Proper search indexing in-page text"
Currently the search on LearnOSM.org is jquery Autocomplete with only the chapter headings loaded in ([More info on this old issue](https://github.com/hotosm/learnosm/issues/19#issuecomment-13016637)) Not a massive priority, but maybe somebody fancies thinking about how this can improved to match on text within the chapters, which will involve implementing it completely differently.

For bonus poi

[2013-12-26 22:46] ghost opened #153 "Fix the images url in /_posts/fr/beginner/0200-12-30-introduction.md"
The url for [A village in Indonesia] and [Example of a hand-drawn map] are wrong.

[2013-12-27 19:55] don-vip opened #154 "Update guide to reflect JOSM changes"
The guide contains some outdated statements regarding JOSM.

We have integrated restart plugin long ago (in 5857, 9 months ago), so these parts should be reviewed:

"You need to restart JOSM to save your settings. Click “File” in the upper left corner, and Click “Exit” at the bottom of the menu. Start JOSM again by going to the Windows Start Menu in the bottom left corner. Find JOSM and click on i

[2013-12-30 18:16] severinmenard opened #155 "Updating Title"
http://learnosm.org/en/beginner/start-josm/ still has Getting Started Editing: JOSM as a title whereas the title in the left panel is Getting Started with JOSM

[2013-12-30 21:45] severinmenard opened #156 "End of "Getting Started with JOSM" and what follows"
1. Summary needs to be updated, as it still refers to the former chapter organization. Next chapters are not GPS and Field papers but More about JOSM
2. More about JOSM seems really too vague. It is actually about the basic editing Cycle based on imagery, so a title like Editing with imagery in JOSM
3. Editing with JOSM is put after GPS and walking papers so it would make sense to name it Editing

[2013-12-30 22:37] yohanboniface opened #157 "Reference to uMap in "Putting maps on a website" chapter?"
I think now uMap is one of the easiest tools to put maps on a website for non technical people, what about adding a reference to it in the "Putting maps on a website" chapter?

[2014-01-01 12:20] severinmenard opened #159 "Issues when updating doc pages"
When I click on Submitting request I got a never-ending rolling icon (see attached).
I try to update http://prose.io/#hotosm/learnosm/edit/gh-pages/_posts/fr/beginner/0200-12-28-start-josm.md

as http://prose.io/#severinmenard/learnosm/edit/gh-pages/_posts/fr/0200-12-29-start-osm.md does not lead to the current document (the one that shows up is still in English...).

I lost one edit session befor

[2014-01-15 18:55] ravilacoya opened #161 "How to become GitHubber to start new translation?"
Hi:

A group of European schools of UK, Germany, Romania and Spain are involved in a Comenius (European Union) project of historical sites in OSM.

One of the activities will be the translation of LearnOSM.

I would like to know how I can start a translation using the process explained here: https://github.com/AmericanRedCross/Guides/blob/master/TranslationWorkflow_LearnOSM/translatorWorkflow.md

[2014-01-15 23:18] severinmenard opened #162 "Chapter or section about the Validator?"
Looking for some explanations about Validator in LearnOSM EN but did not find anything.

[2014-01-16 20:29] #153 closed, assigned to nobody

[2014-01-23 20:34] #161 closed, assigned to nobody

[2014-01-23 21:23] jeffhaack opened #170 "Design Updates"
@jueyang @lxbarth

I'd really like to do a couple of small tweaks to the interface, but I'm afraid that my absence of design sensibility will end up making a mess of it.  I wonder if you guys could help out, or at least give me some advice on how best to accomplish it.

What I think needs to happen is:
- on the homepage, "More Guides" needs to somehow point to the other guides we have added within

[2014-01-27 19:12] #155 closed, assigned to jeffhaack

[2014-02-20 11:42] Matthias84 opened #180 "Unify informations/tuts for newbies"
Currently OSM has a lot of material (some outdated) that make it pretty hard for beginners to find the helping hand to get started with contributing
- http://wiki.openstreetmap.org/wiki/Video_tutorials
- http://wiki.openstreetmap.org/wiki/Beginners_Guide
- http://openstreetmap.de/123.html

This becomes to more clutter if we want to offer localisation and easy to read / focused tuts for different p

[2014-02-21 15:16] severinmenard opened #182 "Updating the homepage "Other guides" link"
It still leads to the old Gdocs, organized in Intermediate and Advanced mappers. New thematic organization is only accessible through the bottom left of the Beginners guide

[2014-04-17 02:36] harry-wood opened #190 "markup mess appearing at the bottom of "all chapters" page"
In the "All chapters" section here: http://learnosm.org/en/beginner/all-chapters/

At the very bottom of the page after "Happy Mapping!" there's a bit of unrendered markup mess

[2014-04-17 06:44] tkrajina opened #191 "Font problem with croatian characters"
There are some problems with croatian characters in some browsers (Android, Chrome).

Screenshot from my Chromium:

![original](http://puzz.s3.amazonaws.com/learnosm-001.png)

Note the word "odrŽavana", the letter Ž is shown as uppercase but should be lowercase. Users with other browsers complained about similar problems (strange symbols instead of croatian letters š, đ, č, ć and/or ž).

The probl

[2014-05-14 16:52] #191 closed, assigned to dodobas

[2014-05-22 17:23] ghost opened #195 "new look"
Hello, i found your site today the first time. That seems to be a good introduction in our osm topic to share for newbies. But the chapter "for beginners" is for the old look of openstreetmap.org. This should be updated...

[2014-05-31 10:06] maning opened #197 "RFC: New category on mobile/smartphone mapping tools"
# Overview

Smartphones are more popular and cheaper than the usual GPS devices.  Many people are now using this for field data collection.
# Proposal

Create a new category (i.e. mobile mapping tools) and develop several sections focusing on each app.

We have started developing a set of EN modules already on using OSMtracker, OSMAnd, GPS Essentials, Orux Maps (currently in ID for EN translation)

[2014-06-01 02:01] maning opened #198 "Attribution to images used"
I know this is onerous but we need find a way to at least provide attribution to images we are using.  Not sure what is the best way at the moment.

[2014-06-03 09:28] maning opened #199 "FieldPapers video"
A nice video on how to use FieldPapers:
http://www.youtube.com/watch?v=A_HGkBXZ69g&feature=youtu.be

It would be good to add this resource in the FP section.
Video is only in EN.

[2014-07-17 09:56] maning opened #201 "Tasking manager V2 launched, need to update the TM section for the new interface"

[2014-07-23 07:06] Supaplextw opened #202 "Started translation Chinese(TW)"
HI all

I'm starting to translate a Chineses(TW) translation verision.

Currently I'm working on beginner part, hope I can finish soon.

Supaplextw

[2014-09-05 14:24] daganzdaanda opened #204 "Some images missing in German version"
Hi,
LearnOSM looks like a great help for newbies, thanks for putting this together!
I quickly flipped through the German version and there are some dead img links:

​http://learnosm.org/de/beginner/introduction/

[code]

http://learnosm.org/de/beginner/using-gps/

[code]

http://learnosm.org/de/beginner/walking-papers/

[code]

[2014-09-17 19:49] emirhartato opened #207 "Australian Aid Branding"
# Problem

With the integration of AusAID into DFAT, slight changes need to be made to the website including logo change, website change and reference change.
# Solution

Please change the current AusAID logo into this one:
![australian_aid](https://cloud.githubusercontent.com/assets/1563226/4310129/8a904668-3ea3-11e4-99fa-d349f0e30070.jpg)

Please change all reference to AusAID website to: http:/

[2014-09-27 11:00] #197 closed, assigned to nobody

[2014-10-01 04:20] wonderchook opened #210 "Broken Images on Spanish Translation"
The images on the introduction are broken.

http://learnosm.org/es/beginner/introduction/

[2014-10-01 10:02] #210 closed, assigned to nobody

[2014-10-29 20:42] bgirardot opened #223 "Is the LearnOSM-coord email list stuck?"
I sent an email to the list and another potential contributor reported sending an email to that list but neither of those messages have appeared in the archives or been delivered to me.

I also saw a message in the archive from last month about the learnosm email list needing moderation help.

So I am kind of putting two and two together and wondering if maybe some emails are not getting through.

[2014-11-04 23:26] tastrax opened #224 "Clarifying some text - tasking manager - Learn OSM"
In Tasking Manager notes - "You can further refine your list by clicking in the Your Projects box, to see just the projects in which you have marked squares as complete, and/or you may use a free text search to locate projects that contain particular text strings, such as Ebola (search is not case sensitive)."

I am not sure the above is correct. If I filter "My Projects" I get a list (7) longer t

[2014-11-05 00:20] rkiddy opened #225 "clarifying texts in LearnOSM tasking-manager manual"
Excellent job on this document. Do not let the number of suggestions I found suggest I do not think it is and will be a great resource. And I look forward to answering some questions I have with the other guides listed on this page.

Sorry to dump all of these on you, but Nick Allen asked for editing help. Well, without further ado, here is what I found:

[001]: first para: "with a minimum risk of

[2014-11-05 20:14] humitos opened #232 "Spanish version shows Walking Papers instead of Field Paper"
This guide seems to be outdated:
- http://learnosm.org/es/beginner/walking-papers/

and was replaced by:
- http://learnosm.org/en/beginner/field-papers/

I could work on the translation. Is it correct to update that guide to Field Papers? The OSM Wiki says that Field Papers is new and it should be used instead of Walking Papers.

[2014-11-06 22:20] wonderchook opened #234 "Need to Update Site Configuration"
The custom domain for your GitHub Pages site hotosm/learnosm needs attention. You must take immediate corrective action to ensure that your site remains available after December 1st, 2014.

Please follow the instructions for setting up a custom domain with GitHub Pages to update your custom domain’s DNS settings to point to the proper GitHub IP addresses.

Why the change?

Nearly a year ago, we an

[2014-11-07 05:01] nirabpudasaini opened #235 "Broken Links"
In the english teaching guides https://github.com/hotosm/learnosm/wiki/English-Teaching-Guides the link to intermediat quiz2 answers is broken and the answer to Intermediat final test opens the google doc for teasers and legend guide.

[2014-11-10 13:26] #195 closed, assigned to nobody

[2014-11-11 11:47] #235 closed, assigned to nobody

[2014-11-11 13:33] #156 closed, assigned to jeffhaack

[2014-11-18 18:43] #234 closed, assigned to nobody

[2014-11-27 06:08] #223 closed, assigned to nobody

[2014-11-30 15:22] Nick-Tallguy opened #247 "Translation link from site is broken"
This page http://learnosm.org/en/contribute/  has a link https://drive.google.com/?tab=mo&pli=1&authuser=0#folders/0BxL7KIe6wH_4WWlsUFptQzNob1k  which is either broken or within a folder with limited access.
Although creating a new translation workflow, the 'old workflow' may still be needed by translators.

[2014-12-03 08:01] #201 closed, assigned to nobody

[2014-12-03 08:01] #224 closed, assigned to nobody

[2014-12-03 08:01] #225 closed, assigned to nobody

[2014-12-07 08:59] milovanderlinden opened #251 "Dutch translation"
I will work on the dutch translation and create a pull request when ready.

[2014-12-07 10:48] Nick-Tallguy opened #252 "Update 404.HTML re translation"
404.HTML appears to be the file displayed for broken link. Try out updating this so points also to Contributing.MD or other info about translating.
Test thoroughly - test branch?

As an example, go to http://learnosm.org/en/coordination/remote/
& then click on Deutsch at the top, and you will get this link
http://learnosm.org/de/coordination/remote/ - which at the moment just displays
![selection_

[2014-12-09 00:21] #207 closed, assigned to emirhartato

[2014-12-09 00:24] #199 closed, assigned to nobody

[2014-12-09 12:31] #247 closed, assigned to nobody

[2014-12-09 17:20] Nick-Tallguy opened #253 "nl folder contains 3 files incomplete"
Need to check each of 3 files & update as needed:
https://github.com/hotosm/learnosm/blob/gh-pages/_posts/nl/0200-12-30-BeginnenmetOSM.md
https://github.com/hotosm/learnosm/blob/gh-pages/_posts/nl/0200-12-31-IntroductieinOpenStreetMap.md
https://github.com/hotosm/learnosm/blob/gh-pages/_posts/nl/0200-12-29-GettingStartedWithJOSM.md

The pull request on these reads ' add 3 chapters in dutch (not li

[2014-12-10 00:24] #10 closed, assigned to nobody

[2014-12-12 22:59] bgirardot opened #259 "Fixing up the Contribute.md file"
Edit: I mean the CONTRIBUTING.md file.

I think I see how I can make the contribution page a little more clear. I am in the process of editing it up and will issue a pull request for my changes when I am done.

https://github.com/hotosm/learnosm/blob/gh-pages/CONTRIBUTING.md

If anyone else is working on this file, please let me know here. I should have my version of this file done in about a day.

[2014-12-13 16:18] Nick-Tallguy opened #260 "image sizes on site - currently limited to 520px maximum"
@jeffhaack @jmarlena
Could we reconsider the subject of image sizes please.

I've been working from  the site wiki entry at https://github.com/hotosm/learnosm/wiki/Images-guidelines-beta  which indicates a maximum size of 520px longest edge on any image.

Researching github I've found this article https://help.github.com/articles/what-is-my-disk-quota/ which includes the comment
"Rule of thumb: 1G

[2014-12-14 00:28] Nick-Tallguy opened #261 "German Translation"
Michael Heißmeier has sent a message to learnosm@hotosm volunteering - am contacting to arrange section & method. Please allocate to me & add Translation label - sorry my access doesn't allow me to do these bits.

[2014-12-14 07:18] wonderchook opened #262 "IDEA: Staging Site for LearnOSM"
With the desire to make changes such as:
-translation workflow
-design of the site
-structure

It might be a good idea to set-up a staging site. What is everyone's thoughts?

[2014-12-14 21:37] althio opened #263 "http://learnosm.org/files/ => 404"
- follows https://github.com/hotosm/learnosm/issues/71#issuecomment-17603463 and https://github.com/hotosm/learnosm/commit/6c7efe3eac497a125fe3e4626242846adb2b0c85
- follows feedback by a French user.

issue not resolved on French version

[2014-12-15 14:12] althio opened #266 "contents/bookmarks for current page in sidebox"
Header or titles (as defined with Markdown) could be processed so that a 'table of contents' for the current page is displayed in the sidebox or at the top.

For instance with the current state of page http://learnosm.org/en/beginner/start-osm/
You would have the following entries as links:
- Getting started on OpenStreetMap.org
- > Visit the OpenStreetMap Website
- > Navigate the Map
- > View Dif

[2014-12-16 12:54] althio opened #269 "PDF version of LearnOSM"
[User feedback from mailto:learnosm@hotosm.org](https://groups.google.com/a/hotosm.org/forum/#!starred/learnosm/F15YkYZTqvI)

On http://wiki.openstreetmap.org/wiki/Beginners_Guide_1.6
There is a mention of a PDF file:

But there is no link to get any PDF file.
We should put the same file again or remove the mention in the wiki.

Also would it be worthwhile to produce and propose PDF sections from

[2014-12-16 13:22] althio opened #270 "link or button to the next page or next section"
[User feedback from mailto:learnosm@hotosm.org](https://groups.google.com/a/hotosm.org/forum/#!starred/learnosm/c-opf8vU114)

As I understand this request:
We could add one (or more) link at the bottom of every page to continue the reading.
It could be a 'Next' button to the next page or next section.

Current state: some pages have links at the bottom but not all pages

[2014-12-16 13:58] althio opened #272 "out of sync posts in fr/beginner/"
learnosm/_posts/fr/beginner/0200-12-26-gps-1.md
is out of sync with the english version, with broken images and broken links.

[2014-12-16 14:16] althio opened #273 "remove geek speak: 'fork'"
[User feedback from Charlotte - techlady](https://groups.google.com/a/hotosm.org/forum/#!topic/learnosm/Zr64QnYeRXs)

[2014-12-17 15:10] #273 closed, assigned to nobody

[2014-12-22 17:00] jmarlena opened #275 "Testing Issue for Waffle.io"

[2014-12-22 17:40] bgirardot opened #276 "Get iD web editor on the main left panel navigation"
I feel that the navigation on the left hand side is not complete enough. For example there is no mention of iD web editor, the most used editor by new mappers.

Can we get something that links to the great tutorial on iD web editor?

[2014-12-22 17:43] bgirardot opened #277 "Add some navigation that allows for different types of users besides just mappers."
The navigation on the left hand side is not complete enough. Different users with different needs will visit this site and we need to make sure they can all find the information they want.

Right now it usually just considers mappers (unless they use id ;) but there is also information for people who want to do osm data extracts for example and information for people who want to teach osm.

Could

[2014-12-22 22:51] #275 closed, assigned to nobody

[2014-12-23 19:12] #63 closed, assigned to nobody

[2014-12-27 13:54] bgirardot opened #280 "Glossary page"
I was reading Will Skora's osm wiki page and he has a small glossary on his page for new mappers. This seems like a great idea. I think learnosm should have an obvious, easy to navigate to glossary page. We use a lot of terms that a new person might benefit from having explained all in one place.

[2014-12-28 19:03] #260 closed, assigned to nobody

[2014-12-28 19:57] Nick-Tallguy opened #281 "Update Tasking Manager section in line with updates to TM2"
1.  searching by project ref number
2. Tabs renamed slightly (screenshot needed).

[2014-12-28 20:04] Nick-Tallguy opened #282 "Remote section - more sections"
Sections to include:
-  Boundaries
-  Buildings
-  Walls, hedges & fences
-  Rivers & streams
-  Multi polygons (islands, courtyards)
-  Schools
-  Helicopter landing (leisure=common)

[2014-12-31 15:25] #281 closed, assigned to Nick-Tallguy

[2014-12-31 17:19] bgirardot opened #285 "Consider adding a comments section to each page"
I think we should consider adding something simple like Discuss to each page. That would reduce a lot of barriers for people asking questions or making suggestions.

[2015-01-01 07:40] Nick-Tallguy commented on #261
'in translation' header has now been added to all the files. I've put the already translated iD editor section into the correct folder & have removed duplicates. Should all now be ready for translating.

[2015-01-01 19:04] michael63-osm commented on #261
translated 0300-12-31-editing.md and 0300-11-18-editing-techniques.md, so far without creating pull requests;
started translating 0300-11-30-josm-tools.md

[2015-01-01 20:01] jeffhaack commented on #262
I think we can close it for now..

On Tue, Dec 30, 2014 at 7:43 AM, Nick Allen (OSM = Tallguy) <
notifications@github.com> wrote:

[2015-01-01 22:00] wonderchook commented on #262
Actually we had an idea on how to make it easy. I think if we do major
changes it would be good to have an experimental site.
On Jan 2, 2015 9:01 AM, "jeffhaack" <notifications@github.com> wrote:

[2015-01-02 01:02] Nick-Tallguy commented on #262
Okay, no problem

[2015-01-03 00:34] jmarlena commented on #276
I've been trying to find the right place to make this edit! I thought I could make changes in the _sites folder but that hasn't worked. Any ideas on where this change can be made?

![screen shot 2015-01-02 at 4 30 25 pm](https://cloud.githubusercontent.com/assets/6732600/5600973/1307a084-929d-11e4-8b64-f669b3560bd4.png)

[2015-01-03 03:11] jmarlena commented on #277
I found this image in the design source folder in the learnosm site repository. Is this design concept with the buttons what you have in mind?
![Uploading learnOSM1.png . . .]()

[2015-01-03 04:22] jmarlena commented on #74
I am not familiar with using GPS devices but I edited the document emirhartato translated. Anyone can edit it:
https://docs.google.com/document/d/1RKEYfTRsdqT5zyBChIE-tu5ZxS4J9plN-i0WKXJTvcY/edit?usp=sharing

[2015-01-05 18:12] bgirardot commented on #277
I saw that image too and liked it a lot. I think you could go with something just like it, but you might need more than 3 large buttons.

I think I would do something like the image @jmarlena linked to but two rows of 3 buttons each to cover the examples @Nick-Tallguy listed above.

Right now we have 3 buttons, but the text on the two smaller ones is not very clear and they both go to the same pla

[2015-01-05 18:22] bgirardot commented on #276
I do not know the answer to this but I was thinking the change would have to be made in the _layouts folder somewhere. But really I don't know, I thought that is where the automatically generated navigation is and we'd just have to stick a link to the id edtior section in there someplace.

[2015-01-05 18:33] bgirardot commented on #270
@jmarlena 's additions look good to me.

[2015-01-05 22:25] althio commented on #276
Solution 1:
Create a new page with the same structure as `0200-12-28-start-josm.md` but make it just a few explanations and link to said tutorial. I think browsing is cleaner this way because you can 'warn' that you provide a link outside the LearnOSM.
`0200-12-28-start-id.md`
[code]

Solution 2:
You can try to hack something. I think the generation of the navigation bar is in `learnosm/_layouts/d

[2015-01-05 22:42] althio commented on #270
I agree the provided links are good.

Yet... :)
Do we keep the issue open, for links to be added in other guides (Detailed editing, Coordination...) or to make them programatically as suggested by https://github.com/hotosm/learnosm/issues/270#issuecomment-67222443 ...?

Clever links to other sections and other guides are a very nice touch for criss-cross reading but I must admit a simple link to t

[2015-01-07 19:07] jmarlena commented on #280
I've started compiling a glossary in a markdown file from these sources and I am looking for some others to make it more comprehensive:
https://gist.github.com/skorasaurus/4614619
http://wiki.openstreetmap.org/wiki/User:Skorasaurus

Where should this file live on the site? Should it be under the beginners section (perhaps the last post there)? Other ideas?

[2015-01-07 19:16] bgirardot commented on #280
I am not sure where the file physically has to go or how to name it, but I would like to see a link to the glossary on the left hand navigation in the beginner's section. I think it should just be there for the whole site really, but hopefully for all the pages in the beginners section at least.

[2015-01-07 20:16] michael63-osm commented on #261
Created pull requests for 0300-12-31-editing.md, 0300-11-18-editing-techniques.md and 0300-11-30-josm-tools.md which I translated completely, the last file got some new screenshots as well. The final missing bit is a reference to a new samples file which I will change once that file has been added to the repository.

I will continue with 0300-11-29-josm-plugins.md and 0300-11-28-josm-more-tools.md

[2015-01-08 00:09] bgirardot opened #293 "QGIS pdf guide missing, do we want to recreate it"
This might not really be an issue so feel free to close it if not.
OSM QGIS page links to a Beginning QGIS pdf:
http://www.learnosm.org/files/beginning-qgis/Beginning_QGIS_en_v1.pdf
But that returns a 404.
I edited the osm wiki and pointed it to the github listing of google docs for beginning qgis.
I am not sure if we want to re-generate the pdf from the existing google docs or not.
Should be easy

[2015-01-08 00:18] bgirardot opened #294 "Web Traffic Analytics?"
Just curious if we want to put some sort of traffic analysis code on our pages so we can see where the traffic is going and how much we are talking about in general. I do not think we have access to the web server logs from github.

[2015-01-08 08:29] althio commented on #294
This is maybe not essential but I agree it is a nice-to-have feature. I am
personally less interested in raw numbers and peaks after media coverage.
But it would be useful to check the most used and most needed sections, use
by language and other indicators for our internal use and prioritisation of
issues.

Additionally just having the numbers would be an incentive for ourselves to
try to increas

[2015-01-08 09:42] althio commented on #261
Thanks @michael63-osm

Which file or link are we talking about? In which section?
Is someone about to add it to the repository or is it work to do later?

[2015-01-08 12:22] bgirardot commented on #294
Yes, my feeling were along the same lines as althio's using some web traffic stats to help us prioritize translations or development of tutorial materials.

Maybe dodobas has some suggestions for tracking software.

But a thumbnail sketch of how to do it is, if we do not have access to the raw web server logs, is to put a small piece of code on one of the template pages that makes a call to a web

[2015-01-08 19:38] jmarlena commented on #262
I have been working on two possible solutions, one is by reconfiguring the github repository with a submodule (details here: ) and another is by using Travis CI (described with the usecase of staging a Jekyll site here ). Any one familiar with these options? I am thinking Travis CI would be easier at this point but I still have a couple of things to work out for it.

[2015-01-08 20:04] jmarlena commented on #270
Working on the next page button! I have the script for the next page but just trying to figure out where it goes.

[2015-01-08 21:23] michael63-osm commented on #261
@althio, right at the beginning of editing/0300-11-30-josm-tools.md there is a link to tools_menu_sample.osm. This file contains josm menu entries as strings next to the samples used for demonstrating various techniques (you can see that in a number of screenshots later on that page). In order to keep that in sync with the German interface of josm I translated these strings and sent the new versio

[2015-01-09 20:19] jmarlena commented on #276
Hey Althio,
I've been trying to figure out solution 2 with little success so I tried solution 1 with this pull request https://github.com/hotosm/learnosm/pull/295

[2015-01-09 21:00] althio commented on #276
I do not have the ressources to test right away but it looks fine, very good page for introduction to iD.
It will be useful to add a mention to THE tutorial that is automatically launched with iD.

[2015-01-11 16:47] bgirardot commented on #232
This feels pretty important to me. I'd like to get something mentioned on the Spanish translation page that says something about Field Papers being the preferred site to use, but not available in Spanish. Less than ideal, but potentially saves someone wasting time if Walking Papers is not maintained any longer.

[2015-01-11 16:51] bgirardot commented on #293
I think this is at least medium if not high priority, the pdfs are useful. But we need to find out how they were created previously if there was an automated tool.

and we should find out if we can automate their generation from markdown as well as I think gdocs versions will slowly go away as they get converted to markdown.

[2015-01-11 16:54] bgirardot commented on #280
claire suggests we put the glossary doc in:
learnosm/_posts/en/coordination
to get started.

[2015-01-11 16:55] bgirardot commented on #293
See issue #269

[2015-01-11 16:56] bgirardot commented on #269
But we need to find out how they were created previously if there was an automated tool.

and we should find out if we can automate their generation from markdown as well as I think gdocs versions will slowly go away as they get converted to markdown.

As nick mentioned, previously they were generated from google docs, not markdown.

[2015-01-11 17:00] bgirardot commented on #293
I think this one can get closed for the more general issue 269 which is pdfs of the whole learnosm site. I added a comment to pass on Nick's information about the conversion previously being from google docs not from the learnosm website or the markdown files.

[2015-01-11 17:00] #293 closed

[2015-01-11 17:22] humitos commented on #232
I'm working on this right now, I will push the changes and comment on this issue when I finished. Thanks!

[2015-01-12 17:44] jeffhaack commented on #294
Hi guys, we actually do have Google Analytics set up, which I think is
housed under my Google account.  I'm not sure if this is what you want, but
if you want to change it to a neutral account feel free to change the UA
code.

On Thu, Jan 8, 2015 at 6:22 AM, bgirardot <notifications@github.com> wrote:

[2015-01-12 20:48] michael63-osm commented on #261
Created pull requests for 0300-11-29-josm-plugins.md and 0300-11-30-josm-tools.md; I finished the missing parts of the last file and changed the download link to the localized file which Nick installed. Will now work on 0300-11-28-josm-more-tools.md

[2015-01-13 20:27] jmarlena commented on #276
When you say THE tutorial you mean the automated walkthrough that is launched with iD?

[2015-01-13 21:03] althio commented on #276
@jmarlena Yes.
@bgirardot Could you explain/confirm what you expect with "something that links to the great tutorial on iD web editor".

[2015-01-13 21:12] bgirardot commented on #276
I just mean here in LearnOSM there is a very good iD tutorial. Let me find it.

[2015-01-13 21:39] althio commented on #276
Damn that was not exactly what I had in mind... I think I misread your first post. Sorry for the confusion.

Let me explain what I recommended to jmarlena and tell me what you think (suitable or not, clear or not, useful or not, possible improvements).

Category beginner:
Add a short new page for iD
* introduction
* mention the walkthrough on iD site
* link to tutorial inside LearnOSM

Category ed

[2015-01-13 21:57] bgirardot commented on #276
That sounds good to me althio. Adding just the link into the nav sounds easier and quicker while the new page gets created :) but ya, your suggestion would be better for sure.

[2015-01-14 08:19] althio commented on #276
@jmarlena Do we merge #295 as it is?
I think it is already a nice improvement.

We can leave here open to further discuss refinement and related ideas on the visibility of iD within LearnOSM.

[2015-01-14 09:54] althio opened #300 "Improve feedback"
Currently we request for feedback with "[Send us feedback](mailto:learnosm@hotosm.org)" by email on the page learnosm/_posts/en/0100-01-01-contribute.md

To improve the quality of feedback we should either ask the user or automatically provide useful details such as:
* origin page / context / steps and action
* language

in addition to the description of the issue.

[2015-01-14 10:03] althio commented on #272
(new user feedback](https://groups.google.com/a/hotosm.org/forum/#!topic/learnosm/EFUblFLkggk)

related to outdated instructions and screenshots on
http://learnosm.org/fr/beginner/start-osm/#sauvegarder-une-image-de-la-carte

[2015-01-14 10:23] althio opened #301 "Marking out of date pages and parts"
It could be useful if we defined a standard procedure and easy steps to mark published content as "out of date".

That could be applied to:
- whole page
- part of a page
- all languages
- language by language

and we could use a combination among:
- github issue (by page? category? language?)
- github labels
- header on published site (note to self https://github.com/hotosm/learnosm/issues/252#iss

[2015-01-16 04:24] jmarlena commented on #300
Not sure how to automatically provide these details but I could try to add questions. Where exactly do you see these being added? Perhaps as a tool tip over the "Send us feedback" link or under the "Help Improve Our Guides" subheading?
![screen shot 2015-01-15 at 8 21 13 pm](https://cloud.githubusercontent.com/assets/6732600/5771553/5fd7a8bc-9cf4-11e4-87b1-09151c2e76b8.png)

[2015-01-16 14:21] althio commented on #300
I guess several places will not hurt. What do you think?

That is a good place to start, with maybe a short text only as hint eg "Please provide all relevant details".

I feel we could modify this text, rewrite the actual content of the page and be more specific here.

Draft / suggestion:
* This guide is created and maintained by the [OpenStreetMap](http://www.openstreetmap.org/) and [Humanitarian

[2015-01-16 20:09] bgirardot opened #302 "Add a section on how to adjust the background image alignment for iD web editor."
Title says it all :)

[2015-01-16 23:22] jmarlena commented on #270
Well after much trial and error I've added previous and next buttons that link to the other language versions of the post circled in red in the example below:
![screen shot 2015-01-16 at 3 16 01 pm](https://cloud.githubusercontent.com/assets/6732600/5785971/cc880b70-9d92-11e4-9861-92a9e4a86446.png)

After playing with the file structure I checked out the Jekyll documentation and it basically says

[2015-01-17 01:26] bgirardot commented on #294
Here is the piwik code we can use for the learnosm site. This was discussed on the learnosm mailing list and I think we agreed to switch out from GA to piwik because it will be easier to make the piwik information public.

[code]

Kate also suggested we remove the existing GA tracking code when we put this code in place.

dodobas tells me the piwik server is all set to go, we just need to put this

[2015-01-17 03:41] Nick-Tallguy commented on #294
Blake,

I'm still on holiday so not in a position to help for a week or so, but
anything that gives an indication as to what it is worn spending time on is
good.

Could we also use this as a method of finding out what is needed most. Sort
of 'click here for a section on offset,
here for a section on River banks and Islands,
Here for buildings
Here for how to get a map into osmand,
Here for how to

[2015-01-17 11:30] pyrog opened #303 "Call to Moving forward template is missing in all? pages (except english)"
**Moving forward** is missing at the bottom of each pages (at least for the **Beginner’s Guide**).

See #270

Also, for a lot of languages (Bahasa Indonesia, Português,  Italiano, français, Deutsch) **All chapters** is missing.

[2015-01-17 13:43] pyrog commented on #90
I'am currently working on adding **All chapters** to the french translation (see #303) and I have the same issue.

We must search and replace all? ```{{site.baseurl}}``` from all? files.

[2015-01-17 17:03] pyrog commented on #90
This solution work but if we change ```baseurl``` in _config.yml it will fail :wink:

In **beginner-all-chapters.html** files replace
[code]
by
[code]

**Note:** we must use 2 lines because the pattern ```{{xxx}}``` don't enter in conflict with liquid pattern ```{%yyyy%}```

[2015-01-17 19:35] jmarlena commented on #276
I made a few minor changes to the id-editor file including:
*changing the order of the iD editor page link so it should be above JOSM editing in the Navigation Bar
*mentioning the walkthrough tutorial
*improve visibility of the link to http://learnosm.org/en/editing/id-editor/

Here's the new commit.
https://github.com/jmarlena/learnosm/commit/d2e7edf90c53f902aa9fe7d3dd8f4b1a4071b97e

Is this also

[2015-01-17 19:49] pyrog opened #304 "Some strings are not translated in _layouts"
**_layouts/default.html**
* Hosted on Github
* Official HOT OSM learning materials

**_layouts/doc.html**
* Link to this section

New strings should be added in **_config.yml** under ```translations:``` key:
[code]

[2015-01-17 22:06] althio commented on #276
@jmarlena Thank you i do think it is even better. I would like to receive other feedback but I would be happy to merge.
Though maybe we need another pull request or cleanup the commits.

[2015-01-17 22:14] bgirardot commented on #276
@jmarlena I can't quite tell, but if you made the additional changes on the same branch on your local repository then the original pull request will have these additional changes. If you made them on a new branch you wound need a new pr for that branch. It looks to me like they are all on your issue#276 branch so the original pr should still be good for all the changes.

[2015-01-18 16:43] althio commented on #261
Hi @michael63-osm

I think it is also worth reviewing and updating the beginner section.
In particular we are receiving feedback because some pages and screenshots are related to a former interface version of OSM.

I can forward you a recent feedback in German about outdated content in http://learnosm.org/de/beginner/start-osm/#speichere-ein-bild-der-karte

Note: Unfortunately, in English the corr

[2015-01-20 09:32] pyrog opened #306 "LearnOSM need to be tidy"
Hi,

One of the big problem is that this site is a… mess :wink:

It use essentially _posts but this is not a blog, it's a book. We don't need to put chapters in _posts.
So the actually structure of learnOSM is too complicated, difficult to understand, translate and maintain.

We should tidy it and separate better data and code:
- data : chapters in .md format without liquid markup
- code: use "wel

[2015-01-20 09:32] pyrog commented on #252
See #306

[2015-01-20 09:43] pyrog commented on #301
For content out of date, I suggest to use **front matter** and **layouts** to display a warning to the end users.
For part of pages, we could use **liquid tag** to mark the out of date section.

For missing pages, first we should **tidy learnOSM**, see #306.

After we coud use a bot that check every links in english pages to find translation in others languages (probably it could be only with layo

[2015-01-20 09:57] pyrog commented on #285
I see that a lot of static website build with Jekyll use [disqus](https://disqus.com). We could use it or write a similar service based on OSM ids.

See [Disqus > Jekyll Installation Instructions](https://help.disqus.com/customer/portal/articles/472138-jekyll-installation-instructions)

[2015-01-20 10:08] pyrog commented on #138
We could use layouts :wink:
See #252 and #306

[2015-01-20 10:17] pyrog commented on #107
epub :+1:

For pdf, a very quick search *"markdown pdf jekyll"* give:
* [plantheric/jekyll-plugins](https://github.com/plantheric/jekyll-plugins)
* [mre/karban](https://github.com/mre/karban)

But I suggested to tidy the code/structure of learnOSM before adding theses converters (See #306)

[2015-01-20 10:22] pyrog commented on #269
Did you see this #107 :wink:

It "easy" to produce automatically **pdf** and/or **epub** version with layouts and gems :smile:

[2015-01-20 10:44] michael63-osm commented on #261
@althio, it took me a while to figure out what was the original source for that start-osm translation. It turned out to be that file at a previous location (in the root of posts_/en, outside of the beginner folder). The previous section about saving the map was replaced by a section about different styles by @jeffhaack during [this commit](https://github.com/hotosm/learnosm/commit/af738d5d95c347b5

[2015-01-20 10:49] wonderchook commented on #285
I think we should look for a different way for people to make suggestions or ask questions. The first version of LearnOSM had comments, but most of them ended up making the site not look very clean. Maybe a big "Help" button that goes to a forum or somewhere else that people could make comments. We could track which page they were coming from though to make the context more clear.

[2015-01-20 12:28] althio commented on #269
Done.

I am closing the issue.
We should sort the remaining issues on the subject (offline read, exports, PDF, ePub, ...) and choose the best option to continue discussion.
Possibly #107. See also #56. #1 is interesting for reference and we should keep some elements in mind but we will not re-open it! ;)

[2015-01-20 12:28] #269 closed

[2015-01-20 12:50] pyrog commented on #301
+1
I suggest also to add labels for content, design, code:
* content: add a chapter about GPS precision, editor xyz, remove obsolete part…
* design: add stylesheet for Dalton Visual impairment, new logo…
* code: bug with xyz feature…

[2015-01-20 12:59] althio commented on #261
@michael63-osm sorry if my request was unclear. Thank you for tracking down the modification and commit.

About style: Please do as you feel so that your writing is more comfortable and adapted to your readers. I totally support you.

Agreed. IMO It should be added back in English and updated in all languages. No objections @jeffhaack @Nick-Tallguy ?
From user feedback it seems this page and this

[2015-01-20 13:15] pyrog commented on #280
I suggest to use a data format that could be easily use by layouts pages: http://jekyllrb.com/docs/datafiles/

The layout pages and/or liquid filter could add automatically a link to glossary entries from any words inside .md

[2015-01-20 13:28] pyrog commented on #266
Like this:
[![jekyll - toc](https://cloud.githubusercontent.com/assets/2158081/5817812/f8f280f8-a0af-11e4-85da-9c14d29cc062.png)](http://jekyllrb.com/docs/quickstart/)

I saw a website where the TOC is on a sidebar, but this bar disappear automatically and reappear when you move the mouse pointer over it.

[2015-01-20 13:58] pyrog commented on #262
+1 see also #306

Here, where ? :laughing:

Do you need to build pages automatically with github?
It could possible to build them locally and then copying them to http://hotosm.github.io/learnosm/sandbox/

just set ```baseurl: /sandbox``` in the local _config.yml

It's also possible to create a fork in another hotosm project [learnosm-sandbox]() or in one of our personal github account.
Or even pu

[2015-01-21 04:55] jmarlena commented on #262
Oops, details for adding a submodule are from this blog . . . http://indelible.io/blog/2013/07/26/jekyll-deploy-script.html

[2015-01-21 06:36] pyrog commented on #262
This is the same idea (replace ```sandbox/test-pdf``` by ```dev```), but it's very easy to develop and deploy.
Thank you **very** much :smile:

I'll will test this this morning

[2015-01-21 16:09] pyrog commented on #262
This is the easiest way. (I've got a headache with submodules :hear_no_evil: )

If you create [learnosm-dev]():
* the path will be http://hotosm.github.io/learnosm-dev
* in _config.yml set baseurl to your project name:
[code]

[2015-01-21 19:48] michael63-osm commented on #261
The screenshots are new ones because they show translatable strings from the JOSM GUI. I think that most people who read the German version of learnosm will use the German interface of JOSM so we need different screenshots for those images which do not exclusively show graphics.

The procedure I follow so far is to generate those screenshots, send them to Nick and he installs them under images/de

[2015-01-22 07:17] pyrog commented on #107
I see this one [fauno/jekyll-pandoc-multiple-formats](https://github.com/fauno/jekyll-pandoc-multiple-formats).

It use [pandoc](http://johnmacfarlane.net/pandoc/) and produce **pdf**, **epub**…
To see it in action, look at [En Defensa del Software Libre](http://endefensadelsl.org) (an online/paper book build with **jekyll** and **pandoc**)

**Note:** direct conversion to pdf seem to produced *low

[2015-01-22 07:27] bgirardot commented on #107
wow, very helpful @pyrog

[2015-01-22 09:51] pyrog commented on #306
You could have a look to the result : http://pyrog.github.io/learnosm-sandbox/en/
The Jekyll source code is here : https://github.com/pyrog/learnosm-sandbox

**Note:** the german page *about* is missing to check what happened when a page is untranslated.

[2015-01-22 23:38] wonderchook commented on #306
Hi @pyrog if I understand you are saying "tidy" to mean two different things?

1. File structure behind the site
2. Design of the site

I don't see there being a lot of different simple moving the files out of the "_posts" they are already in there in individual language folders. There could be better organization within there.

As for the resulting site you created I'm a big confused, it looks li

[2015-01-23 06:57] pyrog commented on #306
* Mostly tidy file structure behind the site :smile:
* For the *"design"* I mean *"coding design"*, not *"graphical design"*.
For example, if we want to add a feature like "Next chapter" (see #270), the changes should be done only once by devs, to avoid editing all page.md (and probably forget some).

Of course, I use the default template :wink:
I would prove that _posts are not mandatory, because

[2015-01-23 10:00] althio commented on #280
After a few discussions with @pyrog (thanks a lot!)...

Please view an actual example of an external site edited with github/jekyll:
https://www.healthcare.gov/glossary/
https://www.healthcare.gov/quick-guide/one-page-guide-to-the-marketplace/

The terms included in the glossary can get special treatment when they appear on any page:
* can be marked on each page with a typical format (dashed/dotty

[2015-01-23 10:29] althio commented on #306
Hi @wonderchook
@pyrog wants to help only with the structure, not the graphical design.
The staging site he presented is only a proof-of-concept to show that jekyll can handle something else than blog structure. Little step I know, but step by step... :)

It is also an available sandbox where we can test anything around structure.
But -- you are right -- it is not intended as a proposal for graphi

[2015-01-23 10:49] pyrog commented on #306
With the suggested design, it will **simpler** and **obvious** :smile: :
* source file structure = static file structure
* source filenames = static file names
* no need to add/edit ```permalink:``` in each files front matter

So actually we have for the file ```/fr/beginner/moving-forward.html```

His jekyll source filename:
[code]
His frontmatter:
[code]

After the tidying of Mr Clean :wink::
[c

[2015-01-23 11:22] pyrog commented on #280
:+1:
So there will be one glossary file for each language, for example:

_data/glossary/en.yml
[code]
_data/glossary/fr.yml
[code]

[2015-01-24 13:53] pyrog commented on #306
**Tidying images**:

In the images folder, many images are redundant:
* a flat file structure LC_GUIDE_CHAPTER_imageXX.png
ie. ```en_beg_ch8_image00.png```
* another one CHAPTER_imageXX_LC.png
i.e.. ```start_josm_image01_en.png```
* a file structure LC/GUIDE/XX_CHAPTER/LC_GUIDE_XX_CHAPTER_imageXX_TITLE.png
ie. ```en/beginner/01_introduction/en_beg_01_introduction_image00_village-in-indonesia.png``

[2015-01-25 04:15] Nick-Tallguy commented on #261
@michael63-osm should all be up to date now. Connection problems are over - just the jet lag to deal with!  Please let me know if I've missed anything.

[2015-01-25 14:45] Nick-Tallguy commented on #266
I like the idea of a TOC on a sidebar that disappears, and automagically reappears when you move the mouse pointer over it.

[2015-01-25 15:38] Nick-Tallguy commented on #306
@pyrog thanks for your work on this. I'm no expert, but reading through what you are proposing, it looks as if we would have a far easier to understand 'filing system' for the files needed to display the site if we adopted it.
I know that I found it a bit of a headache working out what to use as the header on .md files - I can't say as I understand it now, I just know how to make it work, but the

[2015-01-25 17:21] pyrog commented on #306
Where you want inside the project tree :wink:

I just made a test and it works :smile:

In ```/en/beginner/introduction.md```
[code]

But if you want to use the same image from the french translation, it could be tricky:
* ```![Un village en Indonésie](images/village-in-indonesia.png)``` **don't work** :disappointed:
* ```![Un village en Indonésie](/en/beginner/images/village-in-indonesia.png)```

[2015-01-25 17:27] pyrog commented on #306
Yes, it's easy with git and github

[2015-01-25 18:18] michael63-osm commented on #261
Created pull requests for a couple of files: the newly translated 0300-11-28-josm-more-tools.md and previous ones where I removed the in-translation header and fixed the titles (they were still in English).

Would now turn to 0200-12-29-start-osm.md from the beginners section. My suggestion is to get the paragraph on printing images up to the current layout, merge the paragraph on different map st

[2015-01-26 12:10] pyrog commented on #266
I find an example : http://mbell697.github.io/2014/02/04/yeoman-angular-rails-html5mode/
Scroll down the page, and the sidebar disappear :smile:

The source code is there: https://github.com/mbell697/mbell697.github.com/blob/master/js/app.js
It use a javascript/jQuery technic.

A similar sidebar animate only by CSS: http://codepen.io/chriscoyier/pen/umEgv

[2015-01-26 12:56] Nick-Tallguy commented on #266
@pyrog thanks for that:

1.  Example 1 only worked for me for a short while on my laptop, then stopped playing. It refused to do anything at all on my phone.
2.  Example 2 with the css panel (http://codepen.io/chriscoyier/pen/umEgv) worked extremely well & I thought was extremely good - both on my laptop & phone.

Would you be able to fork the LearnOSM site & produce a working version using the cs

[2015-01-26 13:06] althio commented on #266
Second example (cssPanelMenu) is more convincing as it actually gives the
space to the main content when the sidebar folds.

On my device, the first example (yeoman -- java) has limited usefulness.
The sidebar is nicely hidden but the main content does not use the free
space.

[2015-01-26 13:53] pyrog commented on #266
@Nick-Tallguy and @althio
I was a quick search to discuss want you want. There are hundred of examples on internet :wink:

Probably because your browser don't support javascript or javascript is disabled on your phone.

Yes, but I don't want to do it now. I prefer to continue cleaning the structure of learnosm.

No effect, it just a very small css file.

No

No, we have a stylesheet for screen, an

[2015-01-26 14:24] pyrog commented on #306
**Tidiying images** see discussion in #94

[2015-01-26 15:39] althio commented on #266
I do agree @pyrog sorry if I was too short and unclear.

graphic design:
Collapsible/hidden panel is an excellent idea and I support it. It is mostly intended to give additional space for the content. One thing I am not sure and would like to discuss here: automatic behavior or controlled by user?

(Example#1 is good for demonstrating the effect but fails at the main objective in my mind. Because

[2015-01-27 08:13] Nick-Tallguy commented on #282
Added section concerning buildings and barriers.

[2015-01-27 18:51] MarkCupitt opened #310 "Spelling on Mapping Party"
Spelling Mistake on main page and sub page???

Additional Fun

Mapping Partay!

[2015-01-27 19:06] hbogner opened #311 "Croatian translation continues with editing part"
Year ago we translated
http://learnosm.org/hr/beginner/

Now we forked learnosm and will soon start translating
http://learnosm.org/hr/editing/

Our fork is here:
https://github.com/osm-hr/learnosm/

[2015-01-27 23:11] jsanz opened #313 "Spanish translation of the Coordination guide"
I've updated [our repo](https://github.com/geoinquietosvlc/learnosm) to be in sync with hotosm/learnosm repository and pull-requested a minor change on our Spanish folder that is already merged.

So now I've created a new branch [spanish-coordination](https://github.com/geoinquietosvlc/learnosm/tree/spanish-coordination) to manage the transaltion of the [coordination](learnosm.org/en/coordination/

[2015-01-27 23:14] jsanz commented on #313
I'm working on the [remote mapping section](https://github.com/geoinquietosvlc/learnosm/commit/9dcc5165e05de9a750322189080df1216c825afe) so the [tasking manager](https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/coordination/0500-10-23-tasking-manager.md) and [review](https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/coordination/0500-10-29-review.md) sections are free to accept

[2015-01-28 09:01] althio commented on #313
Great! Congratulations and sincere thanks for your commitment and your strong organisation.

*¡Vamos el grupo de traducción!* (At least I tried)

[2015-01-28 09:41] althio commented on #310
@MarkCupitt I could not find the mentioned mistakes. Could you clarify as much as possible, for instance:
* the page with URL address or github file
* the spelling mistake
* the corrected spelling

[2015-01-28 11:32] MarkCupitt commented on #310
Here you go, look under additional fun

https://github.com/hotosm/learnosm/wiki/English-Learning-Guides

Also, follow the link, the google docs are NQR

Cheers

[2015-01-28 15:07] althio commented on #310
"Mapping Partay!" sounds like it is intentional slang rather than typo. So is it a spelling mistake to be corrected? I don't know.

Re: google docs
NQR=? outdated? poorly written? not useful?
AFAIK most of this google docs material is 2-year old and was partly moved and updated into the main site.
I am not quite sure what should be kept and removed there.
https://github.com/hotosm/learnosm/wiki/En

[2015-01-28 15:14] althio commented on #266
The discussion derailed a bit towards the sidebar behaviour.
This is also related to #139.

I still consider this issue to be primarily focused on contents/TOC for the current page - if you don't mind. :)

[2015-01-29 14:53] vehrka commented on #313
Hi, I'm going to start translating the [review](https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/coordination/0500-10-29-review.md) section

[2015-01-29 23:46] Nick-Tallguy commented on #261
@michael63-osm I agree with all you are suggesting, especially your points about points 11 & 12. It's one of those lists you tend to skim read & not realise how unnecessary it actually is. Keep up the good work.

[2015-01-29 23:53] jeffhaack commented on #310
This page was basically a list of all the resources that had been written at the time but not necessarily put into markdown for learnOSM.  I think the idea was to fold it into learnOSM over time.  Definitely the direct link should be removed to this page.  The only reason this wasn't done already was that nobody with
design prowess was will to step up to reorganize the homepage.

If I'm not mistak

[2015-01-30 01:15] pyrog commented on #266
Sorry for digression, but we have a real example of moving side bar in learnosm:
![moving side bar](https://cloud.githubusercontent.com/assets/2158081/5969569/cdc970da-a825-11e4-88fc-ce8c4afe7de0.png)

[2015-01-30 01:28] Nick-Tallguy commented on #266
@pyrog @althio not sure what is happening here, but when I visit http://learnosm.org/en/ the 'help improve our guides' sidebar does not move, but

when I run the site locally using http://localhost:4000/en/ & jekyll serve in a terminal, the sidebar moves.

The whole site formats slightly differently depending on whether I run it locally or vist the website.

Think I need to have another try later

[2015-01-30 01:42] pyrog commented on #262
@jmarlena

The full process seem to be described in details here: [jekyll-travis](https://github.com/mfenner/jekyll-travis)

Note that they want to produce books, use panic to generate epub, pdf…, use different flavors of Markdown (like [Scholarly Markdown](http://blog.martinfenner.org/2013/06/17/what-is-scholarly-markdown/) that permit citations)

[2015-01-30 02:02] pyrog commented on #266
It works on my Mac with Chrome, Firefox and Safari.
May be it's a security settings that disable javascript for untrusted/remotes websites ?

Same thing for you with http://pyrog.github.io/learnosm-sandbox/en/beginner/ ?

Probably because jekyll don't use the same markdown processor, or the version of Jekyll is different ?

You choose the converter by setting the ```markdown:``` variable in _confi

[2015-01-30 08:13] pyrog commented on #285
It could be build on a separate page/section that use a commenting system.
Or on the same page, but by default the "commenters" are hidden.

(Personally, I don't like forums because they are too complicated, have a different logic and look and feel comparing to the initial site. They are not well integrated with the original site.)

For information, this tool could be interesting ?

[Juvia](https:

[2015-01-30 09:35] pyrog opened #314 "Reference section ?"
In *further reading* section (or somewhere in learnosm.org), we could add references of real books or quality articles about OSM, mapping, GPS, GIS…

Few examples (unfortunately without the covers):
* *Bennett, Jonathan*. **OpenStreetMap**. Packt Publishing Ltd, 2010.
* *Correia, Pau*l. **Mon GPS en action !: Créer et enrichir ses cartes avec Google Earth, Google Maps, OpenStreetMap,..**. Editions

[2015-01-30 09:57] althio commented on #261
@michael63-osm
About style: I think most of your ideas will find some resonance in this [Proposed Style Guide for LearnOSM](https://hackpad.com/Proposed-Style-Guide-for-LearnOSM-1JJxS8NIQSX).

@Nick-Tallguy
I think this is valuable guidance, to be added in a readme/contribute/contributing page. If we agree, we can open an new issue about style and guidance and leave this issue to german translatio

[2015-01-30 12:54] shiguera commented on #313
Hi all, I'm going to translate the [Tasking Manager](https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/coordination/0500-10-23-tasking-manager.md) section

[2015-01-30 12:59] jsanz commented on #313
Excellent @shiguera @vehrka, keep us updated!!

[2015-01-30 13:19] pyrog commented on #306
I updated http://pyrog.github.io/learnosm-sandbox/
The title search engine is functionnal :smile:

PS: type *"iD"* : it find 2 pages with the same title. They are in 2 different guides :wink:

[2015-01-31 06:42] Nick-Tallguy commented on #261
@althio I agree

[2015-01-31 09:38] pyrog commented on #118
:bulb: Some Jekyll plugins could automatically resize images, but I thin you can't see the result with your favorite editor, except if it use plugins…

[2015-01-31 16:06] pyrog commented on #118
@severinmenard

Wow, one another reason I am not thrilled at all by editing a book on GitHub

I look deeply a [prose.io][1] doc and source code: with an appropriate settings of [prose](), it's easy to upload pictures, drag'n drop them to the page… and preview them :smile:

@pierzen

Did you would say hardcode in the .md like this ?
[code]

In practice, you don't (and mustn't) have to do that.

[2015-01-31 21:21] pyrog commented on #314
See [jekyll-scholar](https://github.com/inukshuk/jekyll-scholar)

[2015-02-01 15:33] pyrog opened #315 "Improve search data file"
1. The files generated by jekyll contain a lot of spaces and empty lines, especially all-translation.json used by the jQuery search script.
   It could be minified with a Jekyll plugin or ruby script run by travis/rake.
2. Also, this file contain titles in all languages but the search script use only the current language.
   So, we could generate a file by language and load only one at a time.
3.

[2015-02-04 02:10] mikelmaron opened #316 "Other Guides vs More Guides"
The front page has a big button link to "More Guides". This currently points a wiki page in the repo.

Recently (or at least I noticed recently) there's an "Other Guides" box on guide pages themselves.

These should be brought together and organized in some way, and properly linked from the front page.

[2015-02-06 22:41] Nick-Tallguy commented on #56
See #319 - the .odt documents was created using pandoc, although I did reformat the .odt to incorporate other sections and tidy up, including a TOC, before producing the .pdf

Feedback welcome please

[2015-02-07 17:23] Nick-Tallguy opened #321 "Field survey in Bangladesh by Missing Maps - explanation of process needed."
File _posts/en/coordination/draft0500-09-15-MMaps_field.md
has been created with #320 & @michael63-osm is making a start

[2015-02-09 02:27] lxbarth commented on #306
@pyrog - the proposed simplifications sound great at first read. Would be awesome to see a pull request against this repo.

[2015-02-09 03:44] lxbarth opened #322 "LearnOSM's goals"
LearnOSM is growing! This is great, but it also makes me ask: what are the goals for LearnOSM? What's the audience? What is appropriate content and *what isn't*? To do good and *maintainable* learning materials they're ideally compact and modular.

![screen shot 2015-02-08 at 10 29 58 pm](https://cloud.githubusercontent.com/assets/98233/6100685/11e26ef2-afe2-11e4-9b47-73f821720c89.png)

[2015-02-10 13:27] althio commented on #294
fixed by #323?

[2015-02-10 13:55] bgirardot commented on #294
Lets just hold this open until the piwik stats are up and running, which as of right now I can not confirm. I mailed dodobas to ask about it but have not heard back yet. When I do I will close this one up if there are no objections.

[2015-02-10 16:58] althio opened #324 "Add style recommendations"
Add style recommendations for editors and translators.
Possibly in a readme/contribute/contributing page.
See existing proposal in this [Proposed Style Guide for LearnOSM](https://hackpad.com/Proposed-Style-Guide-for-LearnOSM-1JJxS8NIQSX).

started at https://github.com/hotosm/learnosm/issues/261#issuecomment-72178239

[2015-02-10 17:16] althio commented on #306
@lxbarth
Thanks for the initial feedback on @pyrog's proposals.
I am still unsure for how long we should work on the [sandbox](http://pyrog.github.io/learnosm-sandbox/) and when we should try an actual pull request against this (live) repo. Your thoughts?

If we agree to make this switch, what about these steps:
- [ ] 1. building the general structure, a few sections and a few plugins in the sandb

[2015-02-10 17:23] althio opened #325 "a page for Frequenly Asked Questions"
How about a FAQ page?
With simple answers and links to other sections maybe.

[2015-02-12 16:58] bgirardot commented on #150
One thing to note about search terms and using external 3rd party searching, especially google, is that our new stats software, piwik, might not get search terms information in that case.

[2015-02-12 17:15] lxbarth commented on #306
Work in a fork right away, pull request as soon as you want a specific
discussion aboit changes. Aka now?

On Tuesday, February 10, 2015, althio <notifications@github.com> wrote:

[2015-02-13 11:42] althio commented on #306
@lxbarth
This is a complete change of structure (no more _posts folder) and some configuration tweaks after that.
Even if the literal content is the same and the resulting website very similar, it is significantly different in the repo.

That is why @pyrog worked in a brand new repo, not a regular fork.
https://github.com/pyrog/learnosm-sandbox/commits/master?page=2
I don't think it is a good idea

[2015-02-14 15:25] michael63-osm commented on #261
Created pull request for 0200-12-29-start-osm.md which is now consistent with the current website

[2015-02-15 01:49] Nick-Tallguy commented on #322
@lxbarth @althio @bgirardot

Hi, I have yet to discuss any of my ideas with the rest of the team - perhaps Monday's meeting would be good, but my thoughts have been tending towards (this is not a timeline as some of these items need to be taking place in parallel):
* HOT's website at http://hot.openstreetmap.org/get-involved states *'Our website learnosm.org will get you mapping quickly and painle

[2015-02-15 19:21] Nick-Tallguy commented on #150
Just a comment - current search uses the line from the header 'title' and searches on any words in that title:
title: Remote, Armchair or Mapathon editing
will get hits on any of the words remote, armchair or mapathon.
See also #315 which may have a solution outlined.

[2015-02-15 19:37] shiguera commented on #313
Created es/coordination directory and added spanish translation for Tasking Manager document

[2015-02-16 14:15] lxbarth commented on #322
@Nick-Tallguy - thanks, very useful.

Considering engaging on LearnOSM more what I'm most worried about is is the broad scope of the project. The result is for instance a long language list in the header creating expectation that the site can't keep up with. Or sections of the site that are not fully maintained.

Are there any thoughts around breaking LearnOSM into more independently manageable pi

[2015-02-19 10:32] althio commented on #315
Originates from https://github.com/hotosm/learnosm/issues/19#issuecomment-13016637
Discussed in https://github.com/hotosm/learnosm/issues/150

Need to assess the proposal from @pyrog with

[2015-02-19 10:44] althio commented on #324
related to https://github.com/hotosm/learnosm/issues/82
closing as duplicate?

[2015-02-19 15:48] mikelmaron commented on #322
LearnOSM has always struggled with the balance of being the best beginner guide for OSM, and providing pathways to greater skills.

I agree, the focus of organizing and maintenance should be on the core materials, and on those translations. There's are certainly better ways to manage that translation workflow, and I think there's other discussions on that.

If you look at the front page, there's a

[2015-02-20 00:54] Nick-Tallguy commented on #325
I think it's a good idea, but I'd like to 'pend' it until we've sorted out the basics of what we are going to do about the filing system

[2015-02-20 00:56] Nick-Tallguy commented on #324
I'm happy for you to close & we go with #82

[2015-02-20 01:27] Nick-Tallguy commented on #118
If you create an issue an drop an image onto the 'write box' it is added to the image, but is stored as a file eg
``  ![selection_059](https://cloud.githubusercontent.com/assets/6763965/6279872/6f8f8bd4-b89d-11e4-9cd3-61dfa274f680.png)  ``

which could be retrieved later by another editor or just referred to by the person submitting it

[2015-02-20 01:43] Nick-Tallguy commented on #322
@mikelmaron I agree with the majority of the comments. The whole site needs a review, and if we are making a change to the filing system this may be the time to do this. We only carry over what we have reviewed, tidied, and know is the 'best source'.

I do wonder if the site should be broken up into more than one site - my particular (but not exclusive) interests are related to mapping remotely wi

[2015-02-20 01:50] Nick-Tallguy commented on #118
Like this (this had better work!)
![selection_059](https://cloud.githubusercontent.com/assets/6763965/6279872/6f8f8bd4-b89d-11e4-9cd3-61dfa274f680.png)

[2015-02-20 02:42] pyrog commented on #322
@mikelmaron

:+1: but does MapBox (and others) provide translations ?

If not, how could we provide translations ?
* inside LearnOSM site ?
* inside MapBox site ?
Does learnOSM community could provide translations to MapBox

@Nick-Tallguy

:+1: I see the beginner's guide like a _"reference book"_ with severals editions.
The website is the last edition but could provide links to severals format (pd

[2015-02-20 06:37] jmarlena commented on #306
Hey @pyrog! I am excited about the prospects of changing the site structure to better fit the learning materials.

I tried to test the existing sandbox site with the "next & previous" buttons from the code I used in issue #270 but it doesn't seem to be working at all and I am not sure why.  Any ideas?

Also, above you mention taking out the permalinks and leaving categories but that's not reflecte

[2015-02-20 07:57] althio commented on #325
going to do about the filing system

Agreed. This is an idea in the box for future reference.

[2015-02-20 07:57] #324 closed

[2015-02-20 09:08] Nick-Tallguy commented on #118
In comments on this issue in July & August 2013 @severinmenard & @pierzen were trying to work out how to get images into the website.
One simple solution is to drag & drop them into a an issue. They can then either be captured as a screenshot by someone else updating the site & transferred into or used in the method outlined by me here

https://github.com/Nick-Tallguy/Testing_learnosm/blob/master/

[2015-02-20 09:25] althio commented on #118
Thanks for the clarification, I understand your point.

It is certainly a working solution.
The image is then hosted at https://f.cloud.github.com/assets/
It is available and but for keeping our repo tidy it still needs a github
helper to add the file internally to
https://github.com/hotosm/learnosm/tree/gh-pages/images/

At least the non-tech contributor can easily upload the image.

[2015-02-20 11:28] mikelmaron commented on #322
that's a good point. @lxbarth

[2015-02-20 11:33] mikelmaron commented on #322
I really would say, there's LearnOSM for beginners, and there's everything else. Whether it is a different site or a different section ...  visually distinguish and make beginner's guide the main draw. That's my take.

[2015-02-20 11:37] lxbarth commented on #322
We keep our soon to be published mapping docs in English and Spanish, we don't have plans in creating any other translations or content beyond those docs right now.

[2015-02-20 11:40] althio commented on #322
I think I agree with all your points @Nick-Tallguy
<https://github.com/Nick-Tallguy>

perhaps Monday's meeting would be good...

+1 better search
+1 better index and navigation
+1 reorganize the site as per #306
<https://github.com/hotosm/learnosm/issues/306>
+1 for review and proposed new sections

+1 for better documentation for contributing to LearnOSM

+1 for links from TM instructions to Lear

[2015-02-20 11:44] althio commented on #322
the broad scope of the project. The result is for instance a long language
list in the header creating expectation that the site can't keep up with.
Or sections of the site that are not fully maintained.

manageable pieces?

I would like LearnOSM to be inclusive to all people and all languages.
So I am happy with the long language list in the header.

[2015-02-20 11:48] mikelmaron commented on #322
I don't see any issue with that, it's good. The issue is keeping the translations up to date.

[2015-02-20 11:50] althio commented on #322
materials, and on those translations.

+1. IMO priority on beginner content.

For more advanced subjects, I agree with @mikelmaron that we should look at
external content. BUT @pyrog is right that we need to consider if external
content is translated.
If this is not the case, LearnOSM could be a platform of shared knowledge
and translation.

[2015-02-20 14:39] pierzen commented on #118
Should we do translations directly into a tracker issue to assure to preview immediately the result? Otherwise, how to use the link to the image, insert it in the markdown document and preview the result?

Or should we have tool elsewhere that gives same functionalities. Once the document would be completed, tech people would take care to transfer to Github.

Working on translation, we need a work

[2015-02-20 17:44] althio commented on #322
Additionally we can further evaluate and mark each file/section: eg. best source, good for publication, known better sources, outdated, needs review, needs translation, removed...

We may also need to lower all the barriers (with documentation, processes, technical help, versioning, priorities/ToDo/backlog...) so that more people can know what, where and how to contribute easily. I think that is t

[2015-02-20 23:47] Nick-Tallguy commented on #306
Copy & paste of a summary comment from @pyrog concerning a filing system for images on potential new site discussed within comments on pull request #327

---

In "my" sandbox, I use only one image folder but there will be to many images.
I thought we could use a folder by guide, but I like **4/.**

But I prefer to avoid language subfolder and use a language extension (See [Content negotiation](htt

[2015-02-21 09:21] pyrog commented on #306
@jmarlena
Your code work only for posts, not for pages. See [jekyll/lib/jekyll/page.rb](https://github.com/jekyll/jekyll/blob/2ec1dc18316887f868cbef725935b2c6ff61cffa/lib/jekyll/page.rb) [jekyll/lib/jekyll/post.rb](https://github.com/jekyll/jekyll/blob/2ec1dc18316887f868cbef725935b2c6ff61cffa/lib/jekyll/post.rb)
[code]

It's possible to use a plugin like [Jekyll-pagination](https://github.com/blac

[2015-02-21 10:18] pyrog commented on #322
Prose.io "templates" are good to provide checkbox/listbox/tags to mark chapters, associated to (jekyll) layouts to show/hide pages with some "tags" in their front matter :smile:

See examples of *quality* **and** *open source* books:
* http://book.openingscience.org
* http://ruby-for-beginners.rubymonstas.org

It's the case with previous examples :wink:

[2015-02-21 21:39] jmarlena commented on #306
@pyrog
The documentation and several blogs I've read on customizing your Jekyll site all say that custom plugins don't work with github pages but I found a blog post describing a "work around" that requires maintaining a master & gh-pages branch. Below is a link of how they tried to streamline the process of maintaining both branches. I will ask the Travis.CI team if they have any different ideas/

[2015-02-22 06:42] pyrog opened #328 "Automate web site building with Travis.CI on github"
In order to use Jekyll plugins on [gh-pages](https://pages.github.com) — or to use another static web site generator — we could use Travis.CI to automatically (re)build the site after each _git push_ .

The basic idea is to use the [Travis CI](http://docs.travis-ci.com/user/getting-started/) continuous integration (CI) service. This service is free for open source projects (assuming [fair use](htt

[2015-02-22 06:45] pyrog commented on #262
Move the discussion about Travis to #328

[2015-02-22 06:47] pyrog commented on #315
See #328 to discuss how to use Travis.CI

[2015-02-22 06:48] pyrog commented on #306
Discussion about Travis moved to #328

[2015-02-22 08:18] pyrog commented on #328
@jmarlena

Yes, see the explanations in [jekyll-travis](https://github.com/mfenner/jekyll-travis/) :smile:

http://blog.nitrous.io/2013/08/30/using-jekyll-plugins-on-github-pages.html

If I understand it well, this process is for geek :wink:
The **Rakefile** is run manually and locally. This solution is fine for us to test a new concept in a "sandbox" :smile:

Could you please test the Makefile an

[2015-02-22 08:34] pyrog commented on #328
Probably this rakefile is too complicated for Travis newbies like us? :laughing:
We could try the Makefile described in http://blog.nitrous.io/2013/08/30/using-jekyll-plugins-on-github-pages.html ?

[2015-02-23 08:20] Nick-Tallguy opened #329 "Guides & managing issues"
We've spoken in the past about the need to make sure that we make it easier for someone new to learn how to help update LearnOSM.
I've also noticed that we have many issues that mention the same subject.

Just as a little trial, I've created:
* https://github.com/Nick-Tallguy/Testing_learnosm/issues/7
* https://github.com/Nick-Tallguy/Testing_learnosm/issues/8
* (Unfinished - still needs lots of w

[2015-02-23 14:17] jmarlena commented on #328
Hey @pyrog! I appreciate the work you've done here.

The authentication error you get is interesting in part because I've been getting different errors when I've tried setting this up with my own "sandbox" version of the site that I've downloaded locally as testlearnosm.

According to my email exchange with Travis CI folks, my errors seem to be from getting the right gem dependencies. My proposed

[2015-02-24 18:52] althio commented on #329
@Nick-Tallguy
I agree this kind of documentation is needed.
It is more than useful to define a clean process, and share it with new and existing contributors.
I fully support this idea and your work so far.
Now on with the details and a few things I approve or disagree or do not understand.

+1 about the format with steps, screenshots.
It would be nice to have the actual content reviewed by someon

[2015-02-24 19:17] pyrog commented on #328
I haven't errors with gems, only with the token: Travis is not recognize as "myself" so it can't `git push` to the `gh-pages` branch of "my" "sandbox".

Does your token is recognized by Travis/Github?
How did you set it?

[2015-02-25 07:42] jmarlena commented on #328
@pyrog

I am not having trouble with the token. I forget how I set it up though.
It's confusing in part because there's a Travis token and an Access token.

   - Travis token: Go to the *Profile* tab on your Accounts
   <https://travis-ci.org/profile> page
   - Access token: gem install travis && travis login && travis token or
   manually via the API <https://api.travis-ci.org>.

More info on dif

[2015-02-26 05:51] jmarlena commented on #328
Still at a lost for why it's still failing! I've emailed the Travis CI support team for help but I am wondering if anyone else can see what the problem is.

https://travis-ci.org/jmarlena/learnosm/builds/52229960

Here's the repo with the travis.yml, Gemfile, Gemfile.lock, config.yml and Rakefile.
https://github.com/jmarlena/learnosm/tree/issue262

Any idea what the problem is?

Ideas:
Is the Rake

[2015-02-26 06:52] jmarlena commented on #328
@pyrog
Looks like the last build passed below. So you figured out which token to use?
https://travis-ci.org/pyrog/learnosm-sandbox

[2015-02-26 08:22] pyrog commented on #328
@jmarlena

The token was "good". :smile:
The issue came from passing this token from `.travis.yml` to the `Rakefile` via **environnement variables**.
Theses variables (`GIT_NAME`, `GIT_EMAIL`, `GIT_TOKEN `) are not set so the `Rakefile` failed.
So I "fix" this in writing directly the token inside the `Rakefile`:

Modified `Rakefile` that work
[code]

"Normal" `.travis.yml` that fail !
[code]

Test

[2015-02-26 08:34] pyrog commented on #328
@jmarlena

Ideas:
Is the Rakefile too simple?

You travis config file don't call your `Rakefile` :wink:

You should call it as following:
[code]
* `bundle install` install rake (The `Gemfile` contain `gem "rake"`)
* `script: bundle exec rake` call **rake** that read and execute the content of the `Rakefile`

[2015-03-01 12:34] jsanz commented on #313
The guide was translated and contributed back.

[2015-03-01 12:34] #313 closed

[2015-03-03 03:13] jmarlena commented on #328
The latest Jekyll Build error tells me:

'''Don't know how to build task 'default'

/home/travis/.rvm/gems/ruby-2.0.0-p598/bin/ruby_executable_hooks:15:in `eval'

/home/travis/.rvm/gems/ruby-2.0.0-p598/bin/ruby_executable_hooks:15:in `<main>'

(See full trace by running task with --trace)

The command "bundle exec rake" exited with 1."'''

[2015-03-05 23:22] RAytoun commented on #322
My problem with all of this is that there is so much that I lose track of what I have or have not done or seen. What about a downloadable check box index that takes you through the tutorials and notes in a logical order and each person has can download their own personal list onto their desktop and can keep track of what they have or have not done and what they still need to do. We can also then b

[2015-03-06 12:12] jmarlena commented on #280
I like the idea of an automated glossary in multiple languages! In the meantime here is basic glossary I compiled from the OSM wiki site and [Will Skora's OSM Newbie page](http://wiki.openstreetmap.org/wiki/User:Skorasaurus). I put it in learnosm/_posts/en/coordination as Claire suggested with a header that directs readers to the CONTRIBUTE.md file to update it. See PR#333

[2015-03-06 18:02] jmarlena commented on #328
Hey @pyrog! Any ideas on why this isn't working?

[2015-03-07 21:13] Nick-Tallguy opened #334 "JOSM quick start guide by John Whelan"
This looks as if it could make a very good 'quick start guide'

From emails to HOT on 06/03/2015

---

Right the basic idiot guide.

First write down your OSM userid and password.

For task 917 we only care about highways, settlements and buildings.  Buildings if only because if there is one in isolation sometimes we like to map it rather than call it a landuse=residential.

Start JOSM up, in the

[2015-03-09 16:52] althio commented on #280
Thank you @jmarlena that is an useful first step, and first steps are always important!
We need content with glossary entries even more than automation right now.

[2015-03-10 09:57] SomeoneElseOSM opened #335 "Learnosm's "sample.osm" regularly turns up in OSM's live data."
If you look here:

http://www.openstreetmap.org/#map=18/0.06799/0.06214

edit the area with Potlatch 1:

https://www.openstreetmap.org/edit?editor=potlatch#map=18/0.06799/0.06214

and select "undelete" you'll see lots of familar data - "Happy Park", "Cat Forest" etc.

Part of the problem may be that there's nothing on http://learnosm.org/en/beginner/start-josm/ that tells the user what to do with

[2015-03-10 10:25] althio commented on #335
Thanks for the investigation and report. Sorry we did not catch your
request on OSM-talk last month.​

If anyone can propose a better structure or wording it will be most welcome.
Otherwise we will try to resolve with appropriate warning as soon as we can.

[2015-03-10 10:46] maning commented on #335
We can also add `upload='false'` in the sample.osm https://github.com/hotosm/learnosm/blob/gh-pages/files/sample.osm#L2

So that JOSM users can be reminded not to upload.

[2015-03-10 22:44] althio commented on #335
@maning Done, thanks. It provides a strong warning against upload.

http://learnosm.org/en/beginner/start-josm/
https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/beginner/0200-12-28-start-josm.md
may need some additional instructions to explain how to properly remove the sample.osm layer.

[2015-03-11 00:11] rkiddy commented on #334
There should be something where platform-specific issues are discussed for a beginner. I have been using iD with Firefox on an Ubuntu 14.04 system on my laptop. That editor seems to have problems. I would create a shape on a building and then I had to jump through hoops to get the shape-helper icons. Click on something else, click on a blank area, click on another window and come back, click and w

[2015-03-11 15:51] jmarlena opened #337 "HOT QuickStart Guide"
There's a need to have one succinct HOT QuickStart Guide that links to other helpful guides and includes practical advice.

[2015-03-11 16:04] jmarlena commented on #337
Here's a HOT QuickStartGuide I've been working on at Kate's request. Could use feedback on it including any additional input for the advice/encouragement and learning resources section. Also not sure where it should live on the site (if anywhere).

https://gist.github.com/jmarlena/6af3852a66a87c2a155d

[2015-03-11 16:06] jmarlena commented on #337
Here's a HOT QuickStartGuide I've been working on at @wonderchook's request. Could use feedback on it including any additional input for the advice/encouragement and learning resources section. Also not sure where it should live on the site (if anywhere).

Put in the Beginners Chapter after JOSM editing.
See PR#338.
Also here as a gist:
https://gist.github.com/jmarlena/6af3852a66a87c2a155d

[2015-03-11 21:13] althio commented on #337
Compare also with ideas for a Quick start guide at #334.

[2015-03-11 21:14] althio commented on #280
I merged at #338.

@jsanz It is not intended as a definitive glossary, just a first version with some bricks.
If you go straight into translation, do not hesitate to propose improvements for content or structure and contribute back to English.

[2015-03-12 14:25] jmarlena commented on #334
Should this be incorporated into its own JOSM QuickStart Guide, one of the existing JOSM pages for beginners, or elsewhere?

[2015-03-16 22:03] jmarlena commented on #328
Got Travis CI to work in my version of the repo.
https://travis-ci.org/jmarlena/learnosm/builds/54403037

It might need more tweaking to fit the proposed workflow below. Another configuration setting is to add notifications to an email or chat room. Do we want to add notifications?

**New Proposed Workflow as described by ThinkShout:**
http://thinkshout.com/blog/2014/08/deployment-workflow-travis-

[2015-03-22 16:08] bgirardot opened #340 "Add a section about license information and what data is and is not allowed in OSM"
Some contributors during a crisis would like to contribute and perhaps do not understand what data we can enter into OSM. It would be good to have a section that talks about this in LearnOSM as we would like LearnOSM to be the "one stop" for learning about putting data into OSM for people looking to learn via a "tutorial" format as opposed to the search around and figure it out wiki format of wiki

[2015-03-23 21:21] rkiddy commented on #334
Well, here is something specific I figured out.

In the , I see:

* Basic Operations
** To move the map left or right, up or down, hold your right mouse button down, and move your mouse.

I discovered that one can also move the map by using what the JOSM developers call <STRG>+<arrow>. On Ubuntu, this is ctrl-arrow. On MOSX, it may be ctl or cmd. I am not sure. The paragraph above can have this fa

[2015-03-26 03:11] wonderchook commented on #328
@dodobas what do you think of the workflow above?

[2015-04-01 09:06] pyrog commented on #328
@jmarlena

In your rakefile, there is no default task :wink:

You could call Rake with the name of the task used to **"deploy"** the static web site:
[code]

If you are not familiar with Rake and [Rakefile](http://ruby-doc.org/core-1.9.3/doc/rake/rakefile_rdoc.html), you could use any script supported by Travis-CI.
See examples with shell, grunt… : [automatically build on travis](https://github.co

[2015-04-03 00:22] jmarlena commented on #334
I went through all the steps in the tutorial above and rewrote them as a script for a screencast or tutorial video. See gist below for details:

Screencast Script for JOSM Quick Start Guide:
https://gist.github.com/jmarlena/7a4e613fa9ef196d3edf

Comments/text I don't understand from original text:

1) What does this comment mean?
“Buildings if only because if there is one in isolation sometimes we

[2015-04-11 03:52] jmarlena commented on #334
Here's the basic intro to JOSM script for a new video I started back in January too.
https://gist.github.com/jmarlena/5f223c9ff65400a0acc6

[2015-04-16 23:20] Nick-Tallguy commented on #334
@jmarlena sorry about the delay in replying - running in circles at the moment.

1). A cluster of buildings is often a small hamlet and should be surrounded  by a landuse=residential boundary. But what to do with a building found in isolation - most of us trace it and tag as building=yes, as there is not enough to outline with landuse=residential

2). Basically yes, when starting most people trace

[2015-04-24 13:04] SomeoneElseOSM commented on #335
For info, I've just deleted another example - http://www.openstreetmap.org/changeset/30425450 .

[2015-04-29 16:51] Nick-Tallguy opened #348 "Potlatch 2 - how to show the boundary square from Tasking Manager"
Paste of my reply to an email on HOT mailing list following query - Wiki at http://wiki.openstreetmap.org/wiki/OSM_Tasking_Manager#Adding_the_grid_square_to_Potlatch also requires updating.
1. Tasking Manager - obtain your square,
2. Tasking Manager - select 'edit with JOSM' and under the words 'edit with josm' you will see a line of text 'Tip:Download the following gpx file .......'
3. click on d

[2015-05-01 11:45] CloCkWeRX opened #349 "Rearrange OsmAnd content to focus on viewing first (for aid agencies and other users)"
@harry-wood suggests:

 We have an OsmAnd page on learnosm. It might be good idea to re-arrange that so that a user who's only interested in map *viewing* can read the top of the page.

For context, full thread at https://lists.openstreetmap.org/pipermail/hot/2015-April/008365.html

[2015-05-01 14:35] neuhausr commented on #348
Nick, I was thinking about adding this, but there's no Potlatch page in LearnOSM. I'm a GitHub newbie--what would it take to create one?

[2015-05-02 11:34] althio commented on #348
@neuhausr
A page about Potlatch may belong here:
https://github.com/hotosm/learnosm/tree/gh-pages/_posts/en/beginner
So one could create a new file with the + sign (like 0200-12-28-start-potlach.md?), with a copy/paste of another page as a starting point (0200-12-28-start-josm.md?)

However that bit of information is relevant in the context of the Tasking Manager, so maybe it does not need a new p

[2015-05-03 06:16] #349 closed

[2015-05-04 17:30] andersar opened #352 "New translation into Norwegian?"
Hi!
I'm not too familiar with working on Github, but I get some assistance from my better half.
I'm eager to get LearnOSM translated into Norwegian. Although most Norwegians learn English early in school, many (older) people do not have the skills nor the time to translate it while at the same time understand the content.

Could some admin set up so I can translate (preferably) most of LearnOSM ?

[2015-05-04 20:35] althio commented on #352
Hi @andersar

Thank you very much for your interest and your proposal for contribution!

We will set up as soon as possible the Norwegian language and initial pages.
In the meantime, please review the content at https://github.com/hotosm/learnosm/blob/gh-pages/CONTRIBUTING.md and please tell us if you have a preferred option for the translation workflow.

[2015-05-04 20:59] andersar commented on #352
Excellent. I was thinking option B was the most efficient way for me to get going.

[2015-05-06 13:33] Nick-Tallguy commented on #352
@andersar thanks for volunteering on this. Just to start us off, we need to add Norwegian to the index - can you translate the following please. I've included the English, Spanish & French, just to give an example for the Norwegian. I will then add that to the _config.yml file which I think will add Norwegian into the index at the top of the site pages.

en:
    tagline: "Learn OpenStreetMap Step

[2015-05-06 14:01] Nick-Tallguy commented on #348
Issue created on Tasking Manager requesting the border square is loaded automatically.  https://github.com/hotosm/osm-tasking-manager2/issues/596

Until that permanent fix is obtained, I suggest we add a paragraph to https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/coordination/0500-10-23-tasking-manager.md explaining how to load the file from the JOSM option.

@neuhausr would you like t

[2015-05-06 14:39] neuhausr commented on #348
Thanks for creating the TM issue for Potlatch.

I just added the workaround to the learnosm TM page as suggested and created a pull request. I understood althio's explanation about how to create a new page, but just haven't had time to get to it!

One note on the TM page--is there a way to have an overview of the sections at the top of the page? (kind of like how wikis automatically include an out

[2015-05-06 15:04] Nick-Tallguy commented on #348
@althio I think @neuhausr has a very valid point there about a small index at the top of the Tasking Manager section - I'm thinking of something similar to the one I've created for the remote section. Not sure who else we need to check with, or if I get straight on with adding it. Nick

[2015-05-06 15:19] althio commented on #348
Thank you @Nick-Tallguy for the issue hotosm/osm-tasking-manager2#596 we need to monitor it.
Thank you @neuhausr for the pull request #354, merged.

I don't close this issue yet because I want to discuss a bit more.
What is the best place to refer to the border square in any editor (iD, JOSM, Potlatch)?
http://learnosm.org/en/coordination/remote/
or
http://learnosm.org/en/coordination/tasking-mana

[2015-05-06 15:25] althio commented on #352
Tak @andersar & thanks @Nick-Tallguy
Sorry for the delay.

In addition to this lines in `_config.yml`, you need to add the language in _layouts/default.html
[code]

[2015-05-06 16:11] Nick-Tallguy commented on #348
@althio I think the update to http://learnosm.org/en/coordination/tasking-manager/ is sufficient at the moment. Although it may be nice to have more info on using Potlatch 2, I personally don't have the skills - about 5 years since I regularly used it, and I only see it now at mapathons when helping a newbie who can't use JOSM or iD. I seem to remember it's pretty intuitive.

I agree about an auto

[2015-05-06 19:44] andersar commented on #352
First attempt here, a few words are a bit lacking in direct (and good) translation into norwegian. Maybe due to the simple fact that the english language has a factor of 10 more words to choose from... :)

en:
tagline: "Learn OpenStreetMap Step by Step"
contribute: "Help improve our guides"
trainingspan: "Are you a workshop organizer?"
training: "Check out training material for this guide (in Engl

[2015-05-07 08:46] althio commented on #352
Setup #356
Ready to start translation.

[2015-05-07 13:19] althio commented on #328
@pyrog @jmarlena
Apologies for not being responsive. I like the idea but I am not able to answer specifically on the proposed workflow.
Shall we make it live on one of your sandbox? We have so many things that we want to test: workflow, structure, translation, images...

[2015-05-07 21:37] Nick-Tallguy commented on #352
Hi @andersar there are 1 or 2 files in https://github.com/hotosm/learnosm/tree/gh-pages/_posts/no/beginner ready for translation. Let us know if there are any problems, or any way we can help. I think the images for these files are okay with the same as the English, but later on with other files we will have to produce some alternatives - easy way is for you to obtain the images you like, email th

[2015-05-08 00:54] harry-wood opened #358 "tasking manager#edit with josm section unclear"
Looking at ["tasking manager#edit with josm" section here](https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/coordination/0500-10-25-tasking-manager.md#edit-with-josm)

The sentence here is a bit long and complicated in general, but also what is the "download data automatically" plug-in?  I wondered if maybe it means the "continuos download" plugin?

[2015-05-08 22:46] althio commented on #358
fixed in https://github.com/Nick-Tallguy/learnosm/commit/e361c13fe55c2be78c671f176a730c233fcc1511
https://github.com/hotosm/learnosm/pull/357

[2015-05-08 22:46] #358 closed

[2015-05-08 22:50] althio commented on #348
Most is done, so closing.
Please open as a new issue if a full page for Potlatch is to be considered (though it is not much used by new users compared to iD).

[2015-05-08 22:50] #348 closed

[2015-05-10 13:52] kateregga1 opened #359 "Translation into Kiswahili"
Hello,
I am starting a translation of LearnOSM into Kiswahili. It is a lingua franca of the African Great Lakes region and other parts of Southeast Africa, including Tanzania, Kenya, Uganda, Rwanda, Burundi, Mozambique and the Democratic Republic of the Congo.

I'm a newbie to GitHub and I would appreciate any help on getting the translation on the site.

Thanks.

[2015-05-10 14:37] Nick-Tallguy commented on #359
Hi & welcome.

Thanks for offering to help with a translation.

Please read through  https://github.com/hotosm/learnosm/blob/gh-pages/CONTRIBUTING.md and let us know your preferred option.

I've started to add a section - have listed this as Swahili, purely because the software needs a two letter language code, and when I searched on Kiswahil I was redirected to http://en.wikipedia.org/wiki/Swahil

[2015-05-10 14:38] Nick-Tallguy commented on #359
@kateregga1

Sorry, forgot to add we will also need a translation for the following - I've included English, French and Spanish purely so you can see which actual bits need translation.

en:
tagline: "Learn OpenStreetMap Step by Step"
contribute: "Help improve our guides"
trainingspan: "Are you a workshop organizer?"
training: "Check out training material for this guide (in English)"
feedbackspan:

[2015-05-10 16:27] kateregga1 commented on #359
Thanks Nick,

I will go for option C by following the detailed explanation of the translation work flow.

I am beginning with Introduction and Beginner units as I get used to the workflow.

[2015-05-10 21:48] althio opened #362 "Review language codes"
According to http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes

Indonesian  Bahasa Indonesia    `id` (instead of `bi`)
- [ ] code `bi` to `id`
- [ ] `_posts/id`
- [ ] `/images/bi/`

Japanese    日本語 (にほんご)    `ja` (instead of `jp`)
- [x] code `jp` to `ja` https://github.com/Nick-Tallguy/learnosm/commit/62ac9b41557a6a17d13ac3de0514132712c91807
- [x] _posts/ja https://github.com/Nick-Tallguy/learn

[2015-05-10 21:57] althio commented on #359
Hi @kateregga1

Thank you so much for starting this translation. I am sure this language will be much useful for several communities for training, for local and for remote mapping.

If you have any kind of technical difficulties with GitHub or prose.io please do contact us here or at learnosm-coord[@]openstreetmap.org and we will try to help as best and as quickly as we can.

[2015-05-11 04:25] Nick-Tallguy commented on #362
You're right. We need to change each of the existing files for these languages or they will not be visible as soon as #361 comes live.
I'll start working on it now. I'd rather we sort all the sections properly, but it will mean a little work.

[2015-05-11 07:15] Nick-Tallguy commented on #362
I've changed all of the Japanese files. Nearly all of the site was in Japanese as well so quite major.

Not done Indonesian Bahasa Indonesia id (instead of bi) as that is not in your current change. Not sure how much of the site will need changing.

[2015-05-11 18:34] kateregga1 commented on #359
@Nick-Tallguy here is the translation for the text

en:
tagline: "Learn OpenStreetMap Step by Step"
contribute: "Help improve our guides"
trainingspan: "Are you a workshop organizer?"
training: "Check out training material for this guide (in English)"
feedbackspan: "Was this chapter helpful?"
feedback: "Let us know and help us improve the guides!"
getstarted: "Get started"

sw:
tagline: "Jifunze O

[2015-05-12 11:01] kateregga1 commented on #359
Hi @Nick-Tallguy @althio

I would like to start on the translation following this guide
https://github.com/AmericanRedCross/Guides/blob/master/TranslationWorkflow_LearnOSM/translatorWorkflow.md

Checking the folder list, Swahili has not yet been added to the folder list. Please let me know when it is added so I can proceed, thanks

[2015-05-12 13:30] Nick-Tallguy commented on #359
Hi,

It's at https://github.com/hotosm/learnosm/tree/gh-pages/_posts/sw

Nick
(OSM=Tallguy)

dodgy didgits as using a phone with a spell chequer.

Humanitarian OpenStreetMap Team Member
On 12 May 2015 12:01, "Geoffrey Kateregga" <notifications@github.com> wrote:

[2015-05-12 13:38] althio commented on #359
If you want to try with prose.io the link should look like:
http://prose.io/#kateregga1/learnosm/tree/gh-pages/_posts/sw

[2015-05-12 13:50] althio commented on #362
Japanese	日本語 (にほんご)	`ja` (instead of `jp`)
 - [x] code `jp` to `ja` #361
 - [x] _posts/ja #363

[2015-05-12 13:50] Nick-Tallguy commented on #359
Hi,

Using my phone so may be wrong but I think your fork of the site is at
least one update behind the main site.  You may need to do a pull request.

I can see that the sw folder is not in your repository yet.

Nick
(OSM=Tallguy)

dodgy didgits as using a phone with a spell chequer.

Humanitarian OpenStreetMap Team Member
On 12 May 2015 12:01, "Geoffrey Kateregga" <notifications@github.com> wrot

[2015-05-14 20:54] Nick-Tallguy commented on #362
I've changed jp to ja - these 3 files are involved in anything to do with languages.

LearnOSM/all-translation.json
LearnOSM/_config.yml
LearnOSM/_layouts/default.html

The images are still in a folder 'ja' but that can wait until we review later.

[2015-05-14 21:17] althio commented on #362
Thank you @Nick-Tallguy for the excellent job so far!

[2015-05-14 21:32] Nick-Tallguy commented on #362
Presumably also need to make alterations in the Japanese words.

Japanese 日本語 (にほんご) ja (instead of jp)

[2015-05-15 13:02] althio opened #374 "mobile-mapping - OsmAnd and OSMTracker pages review"
http://learnosm.org/en/mobile-mapping/

@bgirardot wrote:

'John Hubbard' via LearnOSM <learnosm@hotosm.org> wrote:
Subject: How to use OsmAnd

In case that helps for the time being:
http://osmand.net/blog?id=osmand-2-0-released

[2015-05-15 20:36] Nick-Tallguy commented on #352
@althio I've checked all of the files in the Norwegian and language settings, and everything is correct, but we still have an issue with Norsk displaying some of the time. It is recording this as 'http://learnosm.org/false/beginner' and I think the software is interpreting 'no' as 'false'. We may have to use a different two letter code! I've tried using speech marks & that didn't help. It's very s

[2015-05-17 03:43] gitGOwin commented on #374
I'm writing an update for the latest OsmAnd UI (2.0+) and hope to post a pull request soon. The new UI is definitely a step up in the UX department!

[2015-05-17 07:34] Nick-Tallguy commented on #374
I've nearly finiished the section on OSMTracker - hoping to upload later today.

[2015-05-17 15:21] althio commented on #374
Great @gitGOwin and @Nick-Tallguy

[2015-05-18 12:54] Nick-Tallguy commented on #374
@gitGOwin whilst researching something else, I found a link on [this page](http://wiki.openstreetmap.org/wiki/Field_Papers) on how to use OSMand and Field Papers. Looks as if would be worth mentioning in some way.

Regards

Nick

[2015-05-18 14:37] gitGOwin commented on #374
@Nick-Tallguy , thanks for the heads-up. I'll look into how I can incorporate this. I'm more than halfway through the new docs, but other commitments are keeping me away from completing it. Will upload as soon as I can.

[2015-05-19 06:56] Nick-Tallguy commented on #362
Also need to sort out Norwegian translation code. 'no' is interpreted as 'false' and some files do not display. need to change the two letter code away from 'no'

[2015-05-19 08:12] althio commented on #362
Hi @Nick-Tallguy

Do you have the time to try three or more letter codes?
It that works, it could be useful for pt-BR, zh-? and we could use that for nor or no-NO?

[2015-05-19 08:57] Nick-Tallguy commented on #362
@althio have spent a long time trying options with 3 letter codes, capitals and getting nowhere. However a quick check on http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes shows that Norwegian also uses the code 'nb'
On my local version I've changed the folder and all needed files to point to 'nb' and it all works.

Suggest we change to 'nb' instead of 'no'.

I have all changes on my computer a

[2015-05-20 15:18] kateregga1 commented on #359
Hi Nick,

What exactly do I translate on this section?

https://github.com/hotosm/learnosm/edit/gh-pages/_posts/sw/0100-01-01-status.md

layout: default
permalink: /sw/status/
lang: sw
title: Translation Status
nosearch: true
---

## Translation Status - All Languages

- [Spanish]({{site.baseurl}}/es/status/)

[2015-05-20 15:34] althio commented on #359
I would say nothing, it is a bogus page as far as I know.

[2015-05-20 15:44] kateregga1 commented on #359
How do I continue with  translating the other sections in the Beginner's Guide?

I would also like to use Prose.io via http://prose.io/#kateregga1/learnosm/tree/gh-pages/_posts/sw

But I can't find anything in the Swahili folder

[2015-05-21 06:32] Nick-Tallguy commented on #359
Hi,

Sorry,

Nothing to translate on that one!

Nick

On 20/05/15 16:18, Geoffrey Kateregga wrote:

--

Nick

Volunteer 'Tallguy' for
https://wiki.openstreetmap.org/wiki/Humanitarian_OSM_Team

http://www.openstreetmap.org/user/Tallguy

[2015-05-21 06:35] Nick-Tallguy commented on #359
Geoffrey,

I've never used the Prose.io option, but looking in your folder there, I
agree that the files are not there at the moment. I don't know how, but
you need to update that repository.

Regards

Nick

On 20/05/15 16:44, Geoffrey Kateregga wrote:

--

Nick

Volunteer 'Tallguy' for
https://wiki.openstreetmap.org/wiki/Humanitarian_OSM_Team

http://www.openstreetmap.org/user/Tallguy

[2015-05-21 18:11] Nick-Tallguy commented on #359
@kateregga1 your work is in demand - the site analysis software shows there have been 138 pageviews of the Swahili section since you started!

Keep up the good work & thank you!

Nick

[2015-05-21 21:33] althio commented on #362
Thanks for trying @Nick-Tallguy that is rather unfortunate for a few things I had in mind.
Anyway...

[2015-05-22 11:40] gitGOwin commented on #374
I have a PR #382 for a new material for OsmAnd, based on 2.x.

[2015-05-22 23:01] Nick-Tallguy commented on #306
Use this item to keep track of which files and image folders have been updated in line with new proposed system. Once images & file contents are updated, changing the file names is relatively easy. If we can keep ahead of the volunteer translators & transifex translations, will make it easier later.
- [ x ] = files that have been done.
- [ ] = files to be done
- [ x ]  /en/0100-01-01-contribute.md

[2015-05-23 18:05] kateregga1 commented on #359
@Nick-Tallguy @althio I need to continue with the translation but I cant find any more files here to translate https://github.com/hotosm/learnosm/tree/gh-pages/_posts/sw

How can I access the other files in the Beginner's Unit?

[2015-05-23 18:12] Nick-Tallguy commented on #359
@kateregga1 there are 3 files ready for translation in the 'beginner' folder at that location - this is one of them https://github.com/hotosm/learnosm/blob/gh-pages/_posts/sw/beginner/0200-12-29-start-osm.md  let me know if still having a problem.

Nick

[2015-05-23 23:40] Nick-Tallguy commented on #374
#384 completes this - OsmAnd 2 now updated.

[2015-05-23 23:53] Nick-Tallguy commented on #359
@kateregga1 nice work thanks. I've merged all your updates, and have put some more files in the folder ready for you to translate.
 Could you also go back over the old files - after you've updated or refreshed, because I've amended the links at the bottom & translating the names would make it look better. If you can translate the title of the files - where it reads  **title: Introduction** - pleas

[2015-05-24 00:07] Nick-Tallguy opened #389 "iD fault reporting"
@neuhausr I've merged the file you created, but at the moment it does not appear on the site. I think my preferred option would be to add this to the section that deals with editing with iD in the editing folder - if you use copy & paste to add it where you think appropriate, I will merge as soon as I can. I can remove any redundant files afterwards.
I haven't had the chance to read it, but the th

[2015-05-24 05:59] jmarlena commented on #328
@althio It's live on @pyrog 's sandbox site. I have it working on issue#328 of my repo too.

[2015-05-24 06:28] jmarlena commented on #3
I found a really cool localization management tool called [Crowdin](https://crowdin.com/page/tour) that is free to open source projects.

Here are some sample screenshots from a [Django Girls tutorial]( https://crowdin.com/project/django-girls-tutorial) kept on GitHub:
![screen shot 2015-05-23 at 11 03 50 pm](https://cloud.githubusercontent.com/assets/6732600/7786905/49f51424-01a0-11e5-8653-017ea3

[2015-05-24 06:51] jmarlena commented on #3
Potential Solution for issue [#13](https://github.com/hotosm/HOT-Project-Ideas/issues/13), #138

[2015-05-24 21:19] Nick-Tallguy commented on #306
@jmarlena & @pyrog for your info - we have a new intern starting with us shortly - not sure if they already have a username on github. @althio & I have put together https://hackpad.com/Outreachy-LearnOSM-content-ecmiGI21ZlM in an attempt to get Anwar up to speed as quickly as possible.

I've started to update the files & images in line with the agreements so far, but there is a lot to do - any hel

[2015-05-25 01:02] jmarlena commented on #306
@Nick-Tallguy @althio @pyrog

I added a comment on the hackpad under the comment section on UX resources. My hope is that the UX terms and resources I shared will help the new intern find relevant help and a framework for understanding the site's problems and possible solutions. For example, here's a [learosm_site_audit](https://docs.google.com/spreadsheets/d/1NlJHTYAYpyyF5o9D8UMAsSzFG7lHY2cIi2mzn

[2015-05-25 21:42] althio commented on #306
@jmarlena
Thank you for the detailed input and the ideas on 'content audit' in the internship hackpad.
Much appreciated!

[2015-05-25 22:00] Nick-Tallguy commented on #58
Fixed some image links in beginner / Introduction. Will fix others as I come to them whilst updating and removing redundant images.

[2015-05-25 22:04] Nick-Tallguy commented on #359
@kateregga1 its all looking good so far. Looks much better after your recent updates. Keep up the good work and let me know if you need any help at all.

Nick

[2015-05-26 06:51] jmarlena commented on #285
I recently came across this active forum site for OSM if that's still an option.  https://help.openstreetmap.org/questions/

[2015-05-26 07:14] Nick-Tallguy commented on #374
#397 updates section moving images to comply with #306.

@gitGOwin do you still have your original screens hots please? For future translations it would be good to have images without English labels so we can use the same image in all languages.

[2015-05-26 13:27] gitGOwin commented on #374
@Nick-Tallguy . That's a very good idea.

Yes, I do. Please let me know where I should put them up for re-use.

[2015-05-26 22:16] Nick-Tallguy opened #398 "nl section of site - delete & start again in the future?"
@althio & any other interested parties. Whilst tidying the site I've found 3 files in a 'nl' folder. There are also several images which relate to those files (although the images are actually english images & duplicates of existing ones). The three files do not have the correct header information to display on the site in their current format.
Since the files were created, the site has been updat

[2015-05-27 08:10] Nick-Tallguy commented on #374
@gitGOwin could you please add them to images/mobile-mapping
If you can use the same format for the file name - pair them with the labelled version, so for instance
existing = osmand2_001a.png
new = osmand2_001a_no_label.png

eventually we need to be in the position of having

1.  either images with no labels but numbers on them, so that the text in the .md file identifies the number to the functi

[2015-05-27 08:16] althio commented on #398
OK for clean up and remove the clutter.
It will be transparent on the main site anyway.

[2015-05-27 11:51] #398 closed

[2015-05-27 12:32] severinmenard opened #402 "Cannot find the chapter for GPS Garmin handhelds"
HOT interns in Mongolia are asking the documentation to use GPS Garmin (thttps://github.com/hotosm/learnosm/search?utf8=%E2%9C%93&q=garmin) but I cannot find it anymore on the LearnOSM website

[2015-05-27 13:09] Nick-Tallguy commented on #306
@jmarlena @althio @lxbarth @pyrog

I've added a second sheet to the spreadsheet at [learosm_site_audit](https://docs.google.com/spreadsheets/d/1NlJHTYAYpyyF5o9D8UMAsSzFG7lHY2cIi2mzncx530w/edit?usp=sharing) which shows the progress of the 'tidying', as well as some anomalies on files present in different languages.

As I've been working through I've often renamed all the files in a folder so that i

[2015-05-27 13:18] Nick-Tallguy commented on #402
Hi @severinmenard
There is
English http://learnosm.org/en/beginner/using-gps/
German http://learnosm.org/de/beginner/using-gps/
Spanish http://learnosm.org/es/beginner/using-gps/
French http://learnosm.org/fr/beginner/using-gps/
and several other languages for the same section (Swahili / Kiswahili translation is with someone at present).

Hope this helps.

Regards

Nick

[2015-05-27 13:22] Nick-Tallguy commented on #402
@severinmenard also this google doc linked off the wiki

https://docs.google.com/document/d/16F7ZGAjryutA5TBPLulhTASFBiXX19ZZ-40EuUcddEw/edit

Nick

[2015-05-27 13:26] Nick-Tallguy commented on #402
@severinmenard If you need anything else on this, let me know - I can for instance produce a .pdf &/or an .odt for download of the http://learnosm.org/en/beginner/using-gps/ section if that would help - if it's on the site in a more appropriate language I can produce it in that language.

Regards

Nick

[2015-05-27 16:08] gitGOwin commented on #374
I have reservations about the use of numbers. I know it makes images more flexible, but I'd like images to be more useful in one glance.  Besides, wouldn't using an app in another language show many interface elements in that language, too? I'll try to revise the file naming scheme for the English guide as soon as I have the time.

I will also release the raw SVG file, with the embedded images so

[2015-05-27 16:12] Nick-Tallguy commented on #374
@gitGOwin

Thanks for that - I share your reservations.

Thanks for all your work on this.

Nick

[2015-05-27 19:59] Nick-Tallguy opened #403 "use 0100-01-01-status.md file to hold translation header"
@althio @jmarlena
The file 0100-01-01-status.md is not present in many of the languages, and I'm not sure what it actually does, if anything.

I've just tried using it to hold the 'in translation header' for the sw section, and it could be very useful for that, and any other info we wish to keep ready to use in a languages files, such as the text for links or whatever.

You can see the current fil

[2015-05-28 08:41] Nick-Tallguy commented on #402
message sent via email to @severinmenard in case not getting these messages.

[2015-05-29 11:08] harry-wood commented on #115
There's one screenshot on the very first page of the docs which still needs updating http://learnosm.org/en/beginner/introduction/    the photo on there is also visibly out of date in the same way, but that matters less.  (I see the next page about openstreetmap.org has more up-to-date screenshots)

[2015-05-30 04:10] Nick-Tallguy commented on #115
Have gone for an image in Epworth, Harare - the previous one I chose was just a bit too generic & similar to one in the following guide.
Closing issue now, but please reopen if there is an image you prefer

[2015-05-30 04:10] #115 closed

[2015-05-30 04:16] Nick-Tallguy commented on #402
Paste of email from @severinmenard - I agree with most, if not all, or his comments & think we ought to consider a reorganize to address those issues.

Thanks for your quick reply!
Actually after a quick search (in Google or my own browser history, I do not remember exactly), I had ended there: http://learnosm.org/en/mobile-mapping/

From such title, I was expecting a direct link to the GPS chapte

[2015-05-31 10:34] michael63-osm commented on #261
Created pull request for 0200-12-24-start-id.md (modified image sent separately to Nick-Tallguy) and started working on 0200-12-18-more-about-josm.md

[2015-05-31 14:07] michael63-osm commented on #261
Created pull request for 0200-12-18-more-about-josm.md (modified images sent separately to Nick-Tallguy). Added "move forward" links to all documents in the beginners' chapter in the same way as they appear in the English version.

[2015-05-31 15:39] michael63-osm commented on #261
Started converting 0200-12-12-papers.md from Walking Papers to Field Papers

[2015-05-31 18:43] Nick-Tallguy commented on #261
@michael63-osm I'm sure you know, but just in case - Field papers have just updated - not sure that anything we have on the site so far is up to date.

[2015-06-01 00:02] jmarlena commented on #3
Update: It looks like POEditor offers direct GitHub Integration (Crowdin doesn't at this time) and the process looks easier than Transifex's integration process.

PoEditor's GitHub Integration Setup/Process:
https://poeditor.com/help/how_to_translate_a_language_file_from_a_github_project

Transifex's GitHub Integration Setup/Process:
http://docs.transifex.com/integrations/github

I think POEditor

[2015-06-01 00:30] Nick-Tallguy commented on #3
Certainly we need to set in place a translation system. I don't know if @althio has had time to fully investigate Transiflex yet - I suspect not as he has been busy.

@jmarlena thanks for checking this out - could you prepare a workflow guide 'in rough' that we could compare with ? that althio may have, so we can work out which way to go.

Thanks for investigating this so far.

Nick

[2015-06-01 19:29] SomeoneElseOSM commented on #335
I'm not sure the "string warning" is working - I've just deleted another "Cat Forest" et al in http://www.openstreetmap.org/changeset/31645498 (in among some other stuff).

[2015-06-02 18:48] michael63-osm commented on #261
Created pull request for 0200-12-12-papers.md including modified images. I went through the process on the field papers website making snapshots so this is now more up-to-date than the English version.

[2015-06-03 11:31] Nick-Tallguy opened #413 "josm-plugins in beginner or editing depending on language"
Please see:  https://docs.google.com/spreadsheets/d/1NlJHTYAYpyyF5o9D8UMAsSzFG7lHY2cIi2mzncx530w/edit#gid=1753852254

which shows that the section josm-plugins appears in different sections depending on the language of the viewer. This potentially leads to 404 file not found errors, and makes it difficult to manage the site.

For instance, navigate to http://learnosm.org/en/editing/josm-plugins/ &

[2015-06-03 11:37] Nick-Tallguy opened #414 "GPS & Field Papers - move to mobile mapping"
The beginners section of LearnOSM is so long it is difficult to see all of the menus at present. This spreadsheet shows the current position:  https://docs.google.com/spreadsheets/d/1NlJHTYAYpyyF5o9D8UMAsSzFG7lHY2cIi2mzncx530w/edit#gid=1753852254

We have a section **Mobile Mapping** which could easily be adapted to include GPS (Garmin) and Field Papers.

Propose to move both subjects in all langu

[2015-06-03 15:50] Nick-Tallguy commented on #262
Try out of a staging site at http://nick-tallguy.github.io/

currently displaying how the changes from #403 would look.

I currently have this (early stages though) as my working directory from which I will make changes to the main site - will have to see how it works out, but it should be convenient to try things out.

[2015-06-04 13:28] Nick-Tallguy commented on #413
@michael63-osm  & @althio  I would value your opinions on this, & #414

I'm initially aiming to reduce the beginner section and make it more relevant to beginners, whilst placing the topics in more appropriate categories. If we can reduce the number of topics in the beginner section it will make it easier to see the other categories, and hence navigate them - of course the best solution of all is

[2015-06-04 20:52] michael63-osm commented on #413
Our primary goal should be consistent file (=topic) structure among the different languages. This will not only avoid 404 errors but also facilitate translation management.

As fas as JOSM plugins are concerned, the French, German and Spanish versions in the beginners' section definitively contain advanced material: they cover direct upload, mirrored download, edit gpx, print and restart in detail

[2015-06-05 01:11] Nick-Tallguy opened #416 "All chapters - move to head of index, delete it, or leave as is?"
If you visit http://learnosm.org/en/beginner/ you will find at the bottom of the section index on the left side the heading 'all chapters'. This produces an amalgamation of all of the subjects within the beginner section, which could be useful to someone reading through the beginners section from beginning to end.

However, my experience of it when I read through the beginners section was - I didn

[2015-06-05 02:51] SteveBower commented on #416
Nick,
I agree on removing "all chapters". It seems redundant to me, other than
being able to easily search "all chapters", which I doubt is of much use.
If not removed, move to the top.

~~Steve

On Thu, Jun 4, 2015 at 9:11 PM, Nick Allen (OSM = Tallguy) <
notifications@github.com> wrote:

[2015-06-05 06:52] althio commented on #416
I think it was not added for navigation purpose but for ease of print for
the whole section.
I dislike the redundancy here.

My vote is: delete it.

But we need offline/printable material with automatic generation. One-click
download package with a full section would be a plus.

[2015-06-05 07:15] Nick-Tallguy commented on #416
@althio I can't do 'automatic generation', but once we are satisfied we have the beginner section cut down to just a beginner section, I could produce an .odt amalgamation and .pdf, and it could be (for instance) downloaded by clicking on a link from the http://learnosm.org/en/beginner/ page.

[2015-06-06 11:17] michael63-osm commented on #414
Definitively pro as far as field papers is concerned.

I hesitate as far as GPS is concerned. The current guide is a detailed instruction how to use a specific Garmin device and in its present form should be moved to the mobile mapping section. Nevertheless, this is learnOSM and not learnHOTOSM. While a GPS is not needed for remote mapping HOT tasks, it is the basis of my mapping after I went hiki

[2015-06-06 12:23] andersar commented on #352
I've completed the 2 first files, and had them independently reviewd/spellchecked. Could you make another set of files available so I can get some work done on them during the weekend? :)

[2015-06-06 13:06] michael63-osm commented on #261
Start translating 0300-06-15-josm-relations.md

[2015-06-06 21:36] michael63-osm commented on #261
Created pull request for 0300-06-15-josm-relations.md.
Next in the queue are the two documents on JOSM presets

[2015-06-07 00:25] Nick-Tallguy commented on #352
@andersar all looks very good. I've created a staging site, which may make things a little easier for you - if you go here https://github.com/Nick-Tallguy/Nick-Tallguy.github.io and click on the fork symbol
![image](https://cloud.githubusercontent.com/assets/6763965/8022056/1b257166-0cb3-11e5-8bc4-92fd573bab59.png)

When you've done a little translating and you want to see what it will look like,

[2015-06-07 09:58] Nick-Tallguy commented on #374
@nguillaumin - we have a complimentary guide within LearnOSM at http://learnosm.org/en/mobile-mapping/osmtracker/ just in case it is of any use to you. Our aim is to get it translated to other languages - can't give you a timescale on that at the moment.

[2015-06-07 11:41] Nick-Tallguy commented on #352
@andersar I've put the amended files onto the full site at http://learnosm.org/nb/beginner/introduction/ - looks very good to me.
When you're translating, could you also do '0100-01-01-contribute.md' & '0100-01-01-index.md' - anything which is in speech marks will need translating, such as
 "OpenStreetMap is a free street level map of the world, created by an ever growing community of mappers."

D

[2015-06-07 19:34] michael63-osm commented on #261
Created pull request for 0300-08-15-josm-presets.md and 0300-07-15-creating-custom-presets.md together with a small fix in 0300-06-15-josm-relations.md.

[2015-06-07 21:34] Nick-Tallguy commented on #416
All Chapters has been removed

[2015-06-07 21:34] #416 closed

[2015-06-08 01:51] nguillaumin commented on #374
Nice work, thanks for the information!

[2015-06-08 22:00] andersar commented on #352
@Nick-Tallguy Completed. Although index.md seems empty when I open it in Prose?
Had independent review on all the text as well, think it is 98% sound and correct Norwegian now.

[2015-06-09 19:44] Nick-Tallguy commented on #402
@severinmenard please [view the new staging site](http://nick-tallguy.github.io/en/mobile-mapping/) for the proposed new location for the gps section - have also added 'garmin' in the title.  There are currently lots of broken links within other parts of the staging site - trying out a major change of sections etc..

[2015-06-10 00:44] qyu opened #426 "New Translation into Simplified Chinese (ZH)"
Hello there,
I am trying to translate learnosm.org into Simplifed Chinese (ZH) through Prose. Can you add me as a collaborator?
Thank you.
Ching

[2015-06-10 21:15] althio commented on #426
Hi @qyu

Thank you very much for starting this valuable work!

Are you familiar with GitHub/git? We generally receive contributions through pull requests and we review and merge them so you don't need collaborator rights on this repository.

We are reorganising the website right now so we might ask you to be patient while the files are made available for you in prose.io. Alternatively I would enco

[2015-06-10 22:52] Nick-Tallguy commented on #426
Althio,

I think it would be better on the staging site - I'm going to be time
hungry for a few days now - either can you set it up on the staging
site, or I can do it in a few days.

Nick

On 10/06/15 22:15, althio wrote:

--

Nick

Volunteer 'Tallguy' for
https://wiki.openstreetmap.org/wiki/Humanitarian_OSM_Team

http://www.openstreetmap.org/user/Tallguy

[2015-06-13 00:56] qyu commented on #426
Hi @althio,
I am familiar with Git. I'll just work on it locally. : )
Ching

[2015-06-14 12:27] gitGOwin commented on #414
@michael63-osm
Your observation is correct. But I think it can be forgiven if we can overlook how some guides are sometimes HOT-centric, considering how most of the time the authors are associated with HOT. (We were working with HOT and OSM-Indonesia  - with Emir and Adyit when some of these docs were updated some time back.) Perhaps we can consider these guides as a starting point for revised ver

[2015-06-16 23:50] gitGOwin opened #428 "OsmAnd 2 guide - wrong text figure osmand2_008a"
Image osmand2_008a.png needs to be updated. Image shows a second text box "Share" which points to the delete icon. Edit and correct text to "Delete".

[2015-07-04 19:42] Nick-Tallguy commented on #414
Implemented with #431

[2015-07-04 19:42] #414 closed

[2015-07-04 19:44] Nick-Tallguy commented on #413
implemented with #431

[2015-07-04 19:44] #413 closed

[2015-07-04 19:45] Nick-Tallguy commented on #402
section has now moved to Mapping with Smartphone, GPS or paper, and now has 'garmin' in the title to assist with searching. #431 refers

[2015-07-04 19:45] #402 closed

[2015-07-04 19:47] Nick-Tallguy commented on #374
Closing - both sections now exist with cross references included in earlier comments.

[2015-07-04 19:47] #374 closed

[2015-07-04 19:56] Nick-Tallguy commented on #337
Both guides are now in use.  #431 has moved glossary to beginner & HOT remote guide to coordiantion

[2015-07-04 19:56] #337 closed

[2015-07-04 20:05] Nick-Tallguy commented on #426
@qyu please make sure you update your repository / fork - I've just implemented some large movements of files. Nothing is deleted, but some topics are now in different folders.

[2015-07-04 20:10] Nick-Tallguy commented on #359
@kateregga1 please make sure you update your repository / fork - I've just implemented some large movements of files. Nothing is deleted, but some topics are now in different folders.

There is also a 'staging site' at https://github.com/Nick-Tallguy/Nick-Tallguy.github.io on which I test out changes before implementing them. I keep both up to date. I don't mind which one you work on, but if you a

[2015-07-04 20:11] Nick-Tallguy commented on #352
@andersar please make sure you update your repository / fork - I've just implemented some large movements of files. Nothing is deleted, but some topics are now in different folders.

There is also a 'staging site' at https://github.com/Nick-Tallguy/Nick-Tallguy.github.io on which I test out changes before implementing them. I keep both up to date. I don't mind which one you work on, but if you are

[2015-07-04 20:12] Nick-Tallguy commented on #311
@hbogner please make sure you update your repository / fork - I've just implemented some large movements of files. Nothing is deleted, but some topics are now in different folders.

There is also a 'staging site' at https://github.com/Nick-Tallguy/Nick-Tallguy.github.io on which I test out changes before implementing them. I keep both up to date. I don't mind which one you work on, but if you are

[2015-07-04 20:16] Nick-Tallguy commented on #276
iD editor is now in prominent position in Beginner section #431 refers

[2015-07-04 20:16] #276 closed

[2015-07-04 20:18] Nick-Tallguy commented on #272
@althio I think this is now covered by #431 - if you are happy, can we close this one now?

[2015-07-04 20:23] Nick-Tallguy commented on #262
I've been using the site at http://nick-tallguy.github.io/ for some detailed updates and have found it extremely useful. I probably haven't set it up perfectly, but I am able to keep the sites in sync as needed.

I'd like to close this issue now, if everyone is happy about the use of http://nick-tallguy.github.io/ as a shared resource staging site. If anyone would like collaborator access to it, j

[2015-07-04 20:27] Nick-Tallguy commented on #261
@michael63-osm I'd like to close this issue now. I've given you collaborator access to the staging site at https://github.com/Nick-Tallguy/Nick-Tallguy.github.io so that you can approve your own pull requests of changes you feel are needed.
I've just implemented the changes on the beginner section & josm sections and would like to thank you for all your help in implementing these.

[2015-07-04 20:36] Nick-Tallguy commented on #232
@humitos I've just moved the field papers section for all languages to mobile-mapping where the chapter heading appears as 'Mapping with a Smartphone, GPS or paper'.

Following updates to the Fieldpapers website, we now have a current version of a guide in German & English. Would you be interested in translating to Spanish?

There is a 'staging site' at https://github.com/Nick-Tallguy/Nick-Tallguy

[2015-07-04 20:38] Nick-Tallguy commented on #190
I've removed 'all chapters' from the site at the moment. I'll shortly be producing .odf & .pdf files of the new beginners section, and a combined file, so they can be downloaded.

If the 'all chapters' was needed for some other purpose, let me know.

[2015-07-04 20:42] Nick-Tallguy commented on #180
@Matthias84 & @harry-wood I'd like to close this issue now - I don't think we've reached the goal yet, but I don't think having this issue as open will help either. I've just implemented some changes to make the beginner section simpler, but there is a long way to go still.

Just trying to tidy things up!

[2015-07-06 06:27] Nick-Tallguy commented on #56
Following on from a move of various topics within the headings, I've produced an .odt & .pdf version of each of the topics now within the beginners guide, in all of the languages, and created links for downloading them. The .odt was produced using pandoc, and only briefly edited (remove some surplus headings for other chapters) before producing the .pdf
My thought is, provide each individually, an

[2015-07-07 12:03] gitGOwin commented on #428
Fix for this issue in https://github.com/OSMPH/learnosm/commit/007be9f048979c0048860a3d297e95f1e19da7ce; available in PR #437

[2015-07-07 12:03] #428 closed

[2015-07-15 05:29] govvin opened #441 "Osmand Maps updates - OsmAnd equivalent for iOS"
OsmAnd Maps now supports adding waypoints.  Waiting for verification from another collaborator, and determine whether OsmAnd 2 guide needs updating.

[2015-07-30 16:20] harry-wood opened #446 "text overflowing little boxes on the learnosm.org homepage"
On the learnosm.org homepage, I guess somebody tried to cram some more text in these little boxes recently. Looks yucky at certain narrowish window widths.

![learnosm-overflowing-text](https://cloud.githubusercontent.com/assets/227525/8988567/dc591aae-36de-11e5-8186-0ed734192081.png)

Could be some CSS tricks to fix this, but I suggest we just have a bit less text there (remove the bits in bracke

[2015-08-03 06:23] Nick-Tallguy commented on #446
Proposed version visible on http://nick-tallguy.github.io/en/ (all languages have been changed). Unless there is a major problem this will be passed onto the main LearnOSM site within a day or so.

[2015-08-09 07:31] Nick-Tallguy commented on #446
Resolved now - all languages updated http://learnosm.org/en/

[2015-08-09 07:31] #446 closed

[2015-08-17 09:18] Nick-Tallguy commented on #359
Hi @nuruk & @kateregga1 I've merged the changes to beginner & josm and they are now visible on the site. It looks good to me, but can you check I've formatted everything okay please - bit difficult for me as I don't speak the language!

It may be easier if you change over to translating from https://www.transifex.com/hotosm/learnosm-1/dashboard/ as you will always be working from the most up to da

[2015-08-17 09:25] Nick-Tallguy commented on #359
@kateregga1 & @nuruk for your info http://learnosm.org/en/beginner/id-editor/ contans far more than http://learnosm.org/sw/beginner/id-editor/

Regards

Nick

[2015-08-17 11:54] kateregga1 commented on #359
Thanks @nick we tried to use transfex but realised the pages we had translated at the start were displayed as untranslated. Also transfex doesnt allow us to translate a paragraph of text. When translating into swahili, many times its necessary to change the order of the words to make a make a meaningful sentence.

We would like to continue with the work using Github.

[2015-08-17 22:55] Nick-Tallguy commented on #359
Okay, no problem.

I haven't found a way of updating Transifex to the effect that only some translations are needed for a particular module - I guess if we had used it right from the start this wouldn't have been an issue.

We need to work out a method of checking the Kiswahili section in comparison with the English. For instance http://learnosm.org/en/beginner/id-editor/ was created by combining

[2015-08-17 23:05] Nick-Tallguy commented on #359
Although we'll work with translations through github, it would help me a lot if the phrases in https://www.transifex.com/hotosm/learnosm-1/essential_setuptxt/ were translated - although many have been done in the past, there are quite a few missing, and they are the phrases for 'button labels' and other bits within the site, which will improve things a lot.

For instance, the green button at the b

[2015-08-25 15:59] bgirardot opened #461 "Update the beginners guide for iD to emphasize that deleting others work should be a last resort"
As per a discussion on OSM-Talk, with great power, comes great responsibility, and the delete function in iD that new mappers are likely to encounter is great power. We should explain that deleting other people's work destroys their contributions and the history of the item in question, they should modify rather than delete.

I will try and get this part updated, but wanted to record the issue so

[2015-08-25 17:04] bgirardot commented on #461
Here is my proposed change, a small note box after "Delete" is first introduced. This seems like the most minimal change that would not affect translations too much as it doesn't change any existing text, only adds a few sentences. Nick, if you approve, I'll make a pull request to the staging site. If not, no problem, I understand it is a more significant page to change than GPSLogger :) But I do

[2015-08-25 17:37] Nick-Tallguy commented on #461
@bgirardot I agree with your comments and solution - looks good to me, and as you say the effect on Tranisfex would be minimal.

[2015-09-09 21:22] kateregga1 commented on #359
Hi Nick, would you please put the English modules into the Kiswahili folders, so that our team continues using the method of translation that we are used to.

[2015-09-13 18:39] Nick-Tallguy commented on #359
Hi,

I'm in the process of putting some files into the folder for your team to work on - they should appear within the next couple of hours;

**Beginner**
-  iD_editor - this was rewritten and the new version needs translating (I've renamed the old version 'draft' so that it doesn't display, but you can refer to it if needed),
-  Glossary,
-  Moving Forward.

**JOSM**
-  JOSM-Tools,
-  JOSM-Plugin

[2015-09-17 19:04] kateregga1 commented on #359
Hi Nick, here are the translations for the phrases

Get started = Anza

Humanitarian Mapping =Kutengeneza Ramani kwa Kujitolea

Remote mapping information = Taarifa za kutengeneza ramani ukiwa mbali

More guides = Miongozo zaidi

Guides in Document format = Miongozo katika mtindo wa Nyaraka

[2015-09-18 10:11] Nick-Tallguy commented on #359
Geoffrey,

Thanks for that - these will appear on the site within a couple of days.
There are a few more from other bits of the site that could do with
translating when you have time - I've done the bottom one using 'Get
Started', but the ones above need doing.

tagline: "Learn OpenStreetMap Step by Step"
     contribute: "Help improve our guides"
     trainingspan: "Are you a workshop organizer?"

[2015-09-28 13:27] kateregga1 commented on #359
tagline: "Jifunze OpenStreetMap hatua kwa hatua"
contribute: "Saidia kuboresha miongozo yetu"
trainingspan: "Je wewe ni muaandaaji wa mkutano?"
training: "Angalia mafundisho ya huu muongozo(kwa kiingereza)"
feedbackspan: "Je hii sura ilikuwa na manufaa?"
feedback: "Tujulishe na utusaidie kuboresha miongozo!"
getstarted: "Anza"

[2015-09-28 22:56] Nick-Tallguy commented on #359
All on the site now - looks much better now. Thanks for your work on this.

[2015-10-16 18:40] mikelmaron commented on #111
Oldie but goodie!

Good stuff @maning. This could use a refresh, now that there's a HOT export tool relaunch. And Overpass Turbo is a key tool to include too.

What do you think @russdeffner? Someone on the Training Working Group willing to help with this?

[2015-10-16 18:42] mikelmaron commented on #111
There's actually already great stuff here to point to for Overpass

https://www.mapbox.com/guides/overpass-turbo/

[2015-10-17 22:39] russdeffner commented on #111
Yes, I think we should look at expanding and/or combining http://learnosm.org/en/osm-data/getting-data/ and http://learnosm.org/en/osm-data/geofabrik-and-hot-export and include information on Overpass and maybe other export/extracts like Garmin, etc.

[2015-11-17 15:05] Nick-Tallguy opened #482 "Task Creation in Task Manager - section to be added"
Add guide by Dan Culli on how to create a task within Tasking manager to learnOSM - https://docs.google.com/document/d/1zykWGHN1w6ODY13k2uT-bnQZmj7XBGkD7j6cgtzeZA8/edit#heading=h.uwwdk9ptec41

[2015-11-22 11:17] Nick-Tallguy commented on #482
Initial doc created as https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/coordination/draft0500-10-24-tasking-manager-admin.md  needs text etc adding.

[2015-12-11 18:37] sabas opened #490 "0100-01-01-index.md"
Does this line miss a full stop or an exclamation mark after "learn how"?
`Anyone can edit OpenStreetMap. Here you can learn how LearnOSM provides easy to understand,`

[2016-01-22 20:59] jmarlena commented on #490
@sabas I agree that the frontintro in [0100-01-01-index.md](https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/0100-01-01-index.md) reads a lot easier as:  `Anyone can edit OpenStreetMap. Here you can learn how. LearnOSM provides easy to understand, step-by-step guides for you to get started with contributing to OpenStreetMap and using OpenStreetMap and using OpenStreetMap data. If you are

[2016-01-23 03:39] jmarlena commented on #490
I understand this is a minor edit that can be done in GitHub according to the [contributing guidelines on text modifications](https://github.com/hotosm/learnosm/blob/gh-pages/CONTRIBUTING.md#text-modifications). @althio Can you or someone else in this repo create a "newcomer bug fix" or "first bug" label for this?

[2016-01-23 07:01] jmarlena opened #492 "Deprecated configuration settings in _config.yml"
Hello all!

When I tried running a local copy of my site I noticed these yellow "Deprecation" warnings popped up for me.

![screen shot 2016-01-22 at 10 59 34 pm](https://cloud.githubusercontent.com/assets/6732600/12528927/dc11d0ce-c15b-11e5-94e5-93d0fe37f46a.png)

The site still served up locally but I suspect it took longer. We need to update the deprecated configuration settings in `_config.yml

[2016-01-23 22:30] jmarlena commented on #329
Hey @Nick-Tallguy & @althio! I really like where this is going. Following some of the best practices described in this [guide](https://guides.github.com/activities/contributing-to-open-source/) I thought we could just add some files in a docs folder in the existing site and use a README.md file to let people navigate through. I started work on condensing your guide in docs folder files. I will try

[2016-02-01 16:46] #492 closed

[2016-02-06 21:15] d3netxer opened #495 "Suggestions to improve UI and navigation"
This is related to #322 #316 and #110

I was doing some thinking today on a few things to make the navigation and user experience better for the site.

## Homepage Suggestions

- Humanitarian Mapping has a subtitle of "Remote Mapping Information". Is the goal for this section to eventually include guides on for both remote mapping and field mapping? Maybe change the subtitle to "core materials"

-

[2016-02-06 23:57] d3netxer opened #496 "bigger font, take more screen real estate"
relates to #33

some suggestions to consider:
- decrease of the padding (.padAll)
- increase main font size to 17px for the main content section
- keep font size of side menu the same
- for the main content section change the margin-left to around 38% and

[2016-02-07 09:47] Nick-Tallguy opened #498 "kramdown replaces rdiscount"
GitHub is changing the markdown style that it uses from rdiscount, which all of LearnOSM has been written in, to kramdown. GitHub article explaining this <https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0>

[kramdown home](http://kramdown.gettalong.org/)
[Syntax](http://kramdown.gettalong.org/syntax.html)

It shouldn't make too much difference and in the long run wil

[2016-02-07 18:53] d3netxer commented on #56
is there anyway to have the LearnOSM logo appear in the print view? I briefly took a look at this but couldn't figure out how to do this yet. I see the print.css file

[2016-02-07 19:19] Nick-Tallguy commented on #56
Hi @d3netxer I've started putting the logo manually into the .odt when I produce or update a document. As you've rightly realised there are a lot that don't have the logo in them. If you fancied adding a few & updating them, that would be great, otherwise they wait for me to get the time to do them.

[2016-02-07 21:20] Nick-Tallguy commented on #498
Also just realised that highlighter needs to change from pigments to rouge - have made this change on staging site & am testing now.

[2016-02-07 21:41] Nick-Tallguy commented on #498
# Workflow I'm now following;

1.  Have created a branch called 'kramdown_amendments' for main LearnOSM site & I will be working on that branch - do not merge this into the main gh-pages site or authorise any pull requests which are in the branch - we will do this when all files are ready.
2.  kramdown & rouge are now in use on the staging site at <http://nick-tallguy.github.io/en/> so we can view

[2016-02-07 22:06] Nick-Tallguy commented on #495
@d3netxer I agree with most of your suggestions. Unfortunately I don't have the skills to carry out most of the updates required, and probably not the time. I'm not against any of these & have thought a few similar thoughts. It needs bringing to the attention of the HOT Training Working Group, discussing and then attempting to carry out the update - I could help to an extent, time permitting, whil

[2016-02-08 05:19] d3netxer commented on #56
I haven't looked at your .odt workflow, but in this thread I'm referring to when someone clicks print in their browser, not the PDFs that are linked to on individual pages.

[2016-02-08 05:22] d3netxer commented on #495
I would look forward to these suggestions and other that have been brought before to be discussed by the HOT Training Working Group.

At some point later this season or in the Spring I think I can probably contribute to some of the changes, and I could either stage changes on your staging site or a personal fork.

Thanks @Nick-Tallguy

[2016-02-08 12:45] Nick-Tallguy commented on #496
@d3netxer I've implemented a couple of small changes to 'style.css' on the staging site - changed several of the font size settings and reduced much of the padding - padall and others.  Thanks for the inspiration on these.

[2016-02-08 13:35] althio commented on #498
@Nick-Tallguy
Thanks again for all the work and attention to details here.
I won't be able to help anytime soon :( but I am still trying to read and catch up whenever I can.
I acknowledge and understand that you want to prepare, wait, and merge when all is complete.

[2016-02-09 14:57] Nick-Tallguy commented on #498
All modules that are on Transifex for translation are now updated - some with minor amendments that will require translation.

Now at the stage where any translations that are down will be with the formatting that is required for use with kramdown - the more the translators do, the better for us. In fact it may be the easiest policy for other languages to just download the module again from transi

[2016-02-21 16:28] Nick-Tallguy commented on #498
I think all of the files that had been affected are now updated. I've sent a message to the translators so they are aware of the changes and giving the opportunity for checking on the status. To see how all of the files will look now, see

http://nick-tallguy.github.io/en/

I believe the pull request relating to this issue can now be merged at whichever point is convenient to us. I will leave it a

[2016-03-19 12:40] althio opened #501 "dead links on learnosm.org/en/osm-data/getting-data/"
from feedback at learnosm.@.hotosm.org

[2016-03-19 15:28] althio opened #502 "strings to translate, not equal to sentences"
I don't know how the NL people managed to translate, but the sentences in Transifex are awfully cut where there is newlines in the raw English files... and that is very different from a sentence, a paragraph or a logical clause.

Is it possible to establish guidelines for the English files to be less messy?

[2016-03-22 16:54] SteveBower commented on #501
Benoît - Thanks for forwarding this feedback - I will follow up on this.

Cheers,
~~Steve

On Sat, Mar 19, 2016 at 7:40 AM, Benoît <notifications@github.com> wrote:

[2016-03-28 19:38] Nick-Tallguy commented on #461
Has been dealt with on earlier pull request - there is now a section within iD

[2016-03-28 19:38] #461 closed

[2016-03-28 19:40] Nick-Tallguy commented on #498
Closing this issue now - there may still be formatting errors that have slipped through the net, cut a recent pull request awaiting action by me by @SteveBower looks to have captured all of them.

[2016-03-28 19:40] #498 closed

[2016-03-28 19:45] Nick-Tallguy commented on #502
Hi @althio I think this is mostly because of the way the site has evolved. Many of the sections started life as documents, possibly on google. They were adapted by a process outlined in the wiki, but it led to many of the modules being formatted with every item being a bullet point. When I've carried out some of the amendments I've tried to reduce the number of bullet points and changed the format

[2016-03-28 19:50] Nick-Tallguy commented on #501
Nice work @althio & @SteveBower - closing this now.

[2016-03-28 19:50] #501 closed

[2016-03-29 07:01] bennyistanto opened #504 "QGIS sample data is missing"
Hello,

I would like to use some QGIS materials from English Learning Guides - https://github.com/hotosm/learnosm/wiki/English-Learning-Guides and I couldn't find the QGIS sample data (beginning-qgis-sample.zip) that are mention in the following docs: https://docs.google.com/document/d/1MGrZZEYr8xYtveeo0hER3HbjfqmQhAONtDSRmWCtKPM/edit

Thank you
B

[2016-03-29 09:11] althio commented on #504
Hello @bennyistanto

That document is certainly outdated, please try instead
http://learnosm.org/en/osm-data/osm-in-qgis/
and we would appreciate your feedback again.

[2016-03-29 09:47] bennyistanto commented on #504
Thank you

[2016-03-29 09:47] #504 closed

[2016-03-29 15:18] SteveBower commented on #329
I suggest closing this issue, given its reference from #494

[2016-03-30 10:23] Nick-Tallguy opened #505 "Update _config.yml & running the site locally with 'jekyll serve -w'"
Hi @jmarlena

I've just carried out some updates on my computer & realised I had made a mistake and was running an old version of ruby, which was causing some problems - in particular your update in #493 would now appear perfectly correct to me.

At the moment I have just carried out the update on my 'staging site', in commit https://github.com/Nick-Tallguy/Nick-Tallguy.github.io/commit/dd51136144

[2016-04-05 04:27] jmarlena commented on #505
Hey @Nick-Tallguy! Sorry for the delay. I haven't been managing my notifications for learnosm well so I  nearly missed this message. I will take a look at some of these configuration settings on Friday, as it's "open source" day at work. :wink: Also, currently I am doing some more research on GitHub Pages so I am hoping I'll learn more about how to get learnosm.org up-to-date. :wink: Thanks for fo

[2016-04-05 22:31] jaakkoh commented on #335
I created a ticket for this at https://josm.openstreetmap.de/ticket/12731

[2016-04-06 06:49] planemad commented on #335
One more instance of garbage at null island http://osmcha-django-staging.tilestream.net/37558836/

[2016-04-06 21:34] jaakkoh commented on #335
All of these cases are confirmations that an upload=never parameter would be much needed. I was running into this issue a number of times already with my tech team in Haiti that I tasked in 2012 to clean up license change damage all over the island of Hispanola (= Haiti + DR) & do some additional tracing of blank areas. Back then I had identified areas that needed more work and then created a an .

[2016-04-09 03:39] jmarlena commented on #495
Hey @d3nexter! These look great! I think I would change the red box color because it's distracting and move the search bar above these boxes. It would be awesome if you could do this. :smile:

[2016-04-23 03:52] d3netxer opened #506 "increase img size"
I would like to propose to increase the maximum img size. Maybe to a width of 800. I assume the current limit is because of we want want the storage of all the images to be too big. However, many of the images are screenshots, and often 520 pixels does not give a screenshot justice.

[2016-04-23 22:25] d3netxer commented on #495
I like the idea of moving the search bar on top. I didn't really like the mock-up I made, it reminds me too much of the Microsoft Windows logo. I started designing something with Hexagons : )

<img width="1021" alt="screen shot 2016-04-23 at 6 25 00 pm" src="https://cloud.githubusercontent.com/assets/2665840/14764296/ba046af6-0980-11e6-9bae-f4820c7e3acc.png">

[2016-04-23 22:27] d3netxer commented on #495
Also, in the last sentence of the description paragraph " If you are interested in running an OpenStreetMap workshop, check out the LearnOSM trainer resources."

I think there should be a link to the LearnOSM resources (I'm not sure where that is) or maybe better yet, why not link to TeachOSM?

[2016-04-26 14:13] althio commented on #495
@d3netxer
The hexagons are nice!
Do you think they could behave gracefully under different window and screen sizes? eg. change size or even position? (known sometimes as Responsive Web Design, maybe other names around)

I don't want to put a burden on your design, just thinking what it would look like on mobile.

[2016-04-29 11:34] d3netxer commented on #495
@althio yes, these hexagons will be responsive! I was thinking among those same lines

[2016-05-23 13:43] Nick-Tallguy commented on #506
Hi,

I think that LearnOSM would benefit from larger images in some sections.

I wasn't involved in setting up LearnOSM, but I think it's main aim was to provide multi-language, simple instruction, for anyone new to OSM, especially if they were in an area of poor internet connection. I think we can still hold true to that, for those sections that need it.

Many of the people who are visiting the s

[2016-06-20 14:14] geomantic commented on #482
@Nick-Tallguy I forked the project and have made some edits to this section. What's the best way to get it to the HOT Tr WG for review? I can submit a pull request or...? Suggestions?

[2016-06-20 19:13] Nick-Tallguy commented on #482
Hi @geomantic thanks for taking this on. Probably easiest to submit a pull request - it can be viewed there before merging.
There is also another version that I started to create, can be seen at https://github.com/Nick-Tallguy/Nick-Tallguy.github.io/blob/master/_posts/en/coordination/draft0500-10-24-tasking-manager-admin.md
Regards
Nick

[2016-06-28 18:19] geomantic commented on #482
Hi @Nick-Tallguy, I just created a pull request but I got a warning about conflicts. Maybe it's as simple as not having write access to the repo? At any rate, please let me know if you need my help to resolve. Best,
Steven

[2016-07-29 15:55] Nick-Tallguy opened #508 "Cartography with Tilemill - out of date"
Extract of email to me;
While checking the modules i found that the chapter map design and esp. the subchapter
http://learnosm.org/en/map-design/tilemill/
is out of date as software evolves and tilemill is no longer in active development. Is there a plan to soon update that chapter to Maxbox studio or shall we go ahead and translate this here too (even though it will probably be soon replaced)?

[2016-09-17 09:30] Nick-Tallguy commented on #426
Closing this as translation is ongoing using Transifex.

[2016-09-17 09:30] #426 closed

[2016-09-17 09:30] Nick-Tallguy commented on #426
see Transifex workflow

[2016-09-17 09:31] Nick-Tallguy commented on #202
see workflow using Transifex - this is ongoing

[2016-09-17 09:31] #202 closed

[2016-09-17 09:33] Nick-Tallguy commented on #3
closing as we are using Transifex - working system, but am still open to suggestions as to making the system easier.

[2016-09-17 09:33] #3 closed

[2016-09-17 09:35] Nick-Tallguy commented on #58
Closing this as we have a 'working' system using Transifex at the moment. This isn't fixed in stone though, and I'd welcome any suggestions as to how to improve or simplify. There are currently variations in the menus depending on the language you are viewing - no intention to alter this unless there is discussion first.

[2016-09-17 09:35] #58 closed

[2016-09-17 09:39] yohanboniface commented on #58
http://gitbook.com/ may be an option to consider.

[2016-09-17 11:28] Nick-Tallguy commented on #58
Yes, that looks interesting. Needs further investigation. We currently average 500 people a day visiting LearnOSM, many using only languages other than English, so we'd have to make sure that the language options are covered ok. Also the search engines know where we are now.

I'll try to spend some time investigating.

[2016-09-17 11:32] Nick-Tallguy commented on #251
This and other languages are now using the system on Transifex  - closing this. Open to discussion if another system becomes apparent.

[2016-09-17 11:32] #251 closed

[2016-09-17 11:33] Nick-Tallguy commented on #261
This and other languages are now using the system on Transifex  - closing this. Open to discussion if another system becomes apparent.

[2016-09-17 11:33] #261 closed

[2016-09-17 11:34] Nick-Tallguy commented on #304
Think we've got this in hand now for most / all available translations. Closing this, but can reopen if there is a particular module / language that needs attention.

[2016-09-17 11:34] #304 closed

[2016-09-17 11:36] Nick-Tallguy commented on #311
Hi, not sure of the current state of play on this - may be easier for translations to continue on Transifex - certainly makes it easier for me to see what needs updating.

[2016-09-17 11:37] Nick-Tallguy commented on #352
This and other languages are now using the system on Transifex  - closing this. Open to discussion if another system becomes apparent.

[2016-09-17 11:37] #352 closed

[2016-09-22 10:19] hbogner commented on #311
Hi, translation stopped for now.
Since I have almost no time to do it, and others who volunteered to help didn't help with translation.
I'll make a note about the switch to Transifex, and delete out fork.

[2016-09-22 10:19] #311 closed

[2016-10-26 11:57] SomeoneElseOSM commented on #335
Although it went quiet for a while, learnosm test data has been popping up again recently.  My latest "bucket and shovel" changeset was https://www.openstreetmap.org/changeset/43124451 .

[2016-11-04 11:07] althio commented on #335
@SomeoneElseOSM
I am sorry, truly, that the test data still gets through and give you cleanup and discussion work.
However this particular user did add data in the same changeset, as you noticed https://www.openstreetmap.org/changeset/42939117.
I am not sure what we can do to prevent people to test data then start real mapping but without removing the test data.

upload=never parameter would be us

[2016-12-10 00:35] tastrax opened #512 "TM Admin"
Great work on the task manager training guide. Not a major issue but just a quick note to say the odt and pdf links at the top of the page both fail with a 404.

It might also pay to let folks know how they go about getting Project Manager role added to their login. I assume its via an email to the administrator?

[2016-12-10 01:02] michael63-osm commented on #512
.odt and .pdf versions have just been added - thanks for pointing us at this

[2016-12-29 13:39] michael63-osm commented on #204
cleaning up old issues which had been solved in the meantime

[2016-12-29 13:39] #204 closed

[2016-12-29 13:44] michael63-osm commented on #232
cleaning up old issues which had been solved in the meantime

The Spanish version of learnOSM contains a guide on field papers, though this refers to an older version of the interface

[2016-12-29 13:44] #232 closed

[2016-12-29 13:50] michael63-osm commented on #253
cleaning up old issues which had been solved in the meantime

the Dutch part of the website is active

[2016-12-29 13:50] #253 closed

[2016-12-29 13:52] michael63-osm commented on #262
cleaning up old issues which had been solved in the meantime

everyone seems to be happy with it

[2016-12-29 13:52] #262 closed

[2016-12-29 13:58] michael63-osm commented on #294
cleaning up old issues which had been solved in the meantime

stats are available, the links are in the Training WG meeting minutes

[2016-12-29 13:58] #294 closed

[2016-12-29 14:10] michael63-osm commented on #321
cleaning up old issues which had been solved in the meantime

this file has been removed

[2016-12-29 14:10] #321 closed

[2016-12-29 15:38] michael63-osm commented on #362
I just made the change for Indonesian from 'bi' to 'id' on the staging site and will now close this issue. Just let us keep in mind (if the recent language request for Greek is to be accepted) that the ISO code for Greek is not 'gr' but 'el' ...

[2016-12-29 15:38] #362 closed

[2017-01-21 18:19] Nick-Tallguy opened #513 "Links to change colour after they have been selected."
Request from Sam Colchester;
Sam Colchester [12:14 AM]
Is there any way to ensure that the links change color once they are selected?

This could help when people are quickly scanning through to know which sections they have already covered

[2017-01-21 18:35] Nick-Tallguy opened #514 "Gif's often suffer from quality issues"
Gif's are currently being created by me on a Linux Mint (based on Ubuntu 16.04) system;

- GTK RecordMyDesktop to produce an .ogv file
- mplayer to produce sequence of .jpg's with 'mplayer -ao null validate.ogv -vo jpeg:outdir=validate'
- manual deletion of any .jpg's to improve the overall 'flow' and remove any mistakes,
- reduce image sizes of .jpg's to 600px longest edge
- ImageMagick to conver

[2017-01-21 20:27] michael63-osm commented on #513
I just experimented a bit on the staging site trying to find a hue of green between the dark grey of the "old" links and the light green for the link under the mouse cursor. Feel free to try other values by changing line 158 in style.css, the new specification for a:visited

[2017-01-21 22:32] Nick-Tallguy commented on #513
It's probably my eyesight, but I have real problems seeing the pale green that is used for many of the links & headings. In the menu I can't differentiate between what has been visited already and what has not. I've tried changing the colours to something with more of a contrast - far too bright to actually use on the site - I was then able to see the difference.

I think we need someone else to v

[2017-01-22 15:24] Nick-Tallguy commented on #513
@michael63-osm
I contacted Sam, and he had similar comments. I've tried a slight variation in the colour - could you take a look and see what you think . I've tried it on Firefox & Chrome on my laptop with a large screen and also on my phone and a tablet. The colour looks slightly different on each, but I can see the difference between visited and not now.
Feel free to try something different - I'

[2017-01-22 16:03] Nick-Tallguy opened #515 "'Quick Access' link from menu bar"
@michael63-osm
I think this has been tested quite well - would you like to move it here to the main site and close this issue at the same time?

Keep up the good work!

[2017-01-22 16:05] Nick-Tallguy commented on #512
Closing as this was fixed back in December

[2017-01-22 16:05] #512 closed

[2017-01-22 16:09] Nick-Tallguy commented on #505
Closing - testing site at http://nick-tallguy.github.io/en/ can also be used, allows those who do not run the site locally to see how their changes will appear.

I'm currently running Mint 18.3 (based on Ubuntu 16.04) and to get full functionality locally I have to use 'RVM' to install a recent version of ruby, then ruby gems will install correctly.

[2017-01-22 16:09] #505 closed

[2017-01-22 16:10] Nick-Tallguy commented on #482
Closing as TM Admin is on site now

[2017-01-22 16:10] #482 closed

[2017-01-23 07:48] michael63-osm commented on #515
I am not sure yet. In the [last Training WG meeting](https://wiki.openstreetmap.org/wiki/Humanitarian_OSM_Team/Meetings/TrainingWG/2017-01-16#Mapping_tips_for_new_users_in_learnOSM) we said that we might switch the contents to your new mapping tips. So we should first get agreement on this and then move your tips to the main site as well.

[2017-01-25 00:43] Nick-Tallguy opened #518 "0600-12-08-osmosis.md - possible typo"
Message from translator on transifex that needs investigation;
"Nick whilst translating 0600-12-08-osmosis.md.txt I came across this segment

"- You must add the directory where osm2pgsql.exe is located to the Path variable. "

since the file is about Osmosis I suppose that program is meant, instead of osm2pgsql.exe.

Could (would) you please adjust the source ?

Greetings
Dick"

[2017-01-25 22:30] michael63-osm commented on #518
The translator is right - this was probably a copy-paste error. I corrected the English versions on the main and staging sites and updated the source on Transifex

[2017-01-25 22:30] #518 closed

[2017-03-08 18:37] michael63-osm commented on #515
links are available on the main site

[2017-03-08 18:37] #515 closed

[2017-03-08 18:38] michael63-osm commented on #513
Current state is live on the main site for some time now without any objections raised

[2017-03-08 18:38] #513 closed

[2017-03-08 21:57] Nakaner commented on #335
There is [another case](https://www.openstreetmap.org/changeset/46666195) where this data hit OSM. I reverted the whole changeset.

[2017-03-09 10:54] althio commented on #335
http://learnosm.org/en/josm/start-josm/
https://github.com/hotosm/learnosm/blob/gh-pages/_posts/en/josm/1900-12-21-start-josm.md
This page does need some additional instructions to explain how to use and **discard** the sample.osm layer.

[2017-03-09 11:47] bgirardot commented on #335
We could also add instructions for JOSM at least, how to mark the layer "Do not upload" I am not sure if that is something we can add to the OSM file itself or not.... I will check.

[2017-03-09 12:05] bgirardot commented on #335
Yes, JOSM has a "Discourage Uploading" setting you can put on a layer, then when saving that layer, it will stay with the layer.

So it should be trivial to modify this sample file to have the discourage upload flag.

In addition to maybe adding some text that makes it clear not to upload it.

[2017-03-09 22:11] michael63-osm commented on #335
The "discourage uploading" setting is equivalent to the parameter "upload=false" attached to the file as suggested in the comments from 2015-03-10. I just verified that trying to upload the data from sample.osm results in a strong warning.

But, now the latest development in response to [Jaako's josm ticket](https://josm.openstreetmap.de/ticket/12731) from 2016-04-10: Today the josm developers imp

[2017-03-10 06:19] michael63-osm commented on #335
Just tested with latest nightly build (11714): hey, it works! Loading sample.osm leaves the upload button and menu entry inactive. Now we just have to add something to the introductory josm guide on how to get rid of that layer before making meaningful edits.

[2017-03-11 18:36] michael63-osm commented on #335
I updated [the documentation](http://learnosm.org/en/josm/start-josm/) and put the new version on Transifex for translation

[2017-03-12 01:09] Nick-Tallguy commented on #335
@michael63-osm - thanks for sorting this out!

[2017-03-12 14:49] althio commented on #335
Good job from the JOSM team and @michael63-osm for the test, updated and augmented documentation here.

I think we are in good standing, even though the trouble can resurface with an older version of the sample data set and/or JOSM.

[2017-03-12 14:49] #335 closed

[2017-05-05 08:56] maning opened #520 "Map design section outdated"
Along with [Tilemill](https://github.com/hotosm/learnosm/issues/508), this section should be updated.  A lot of the content is outdated and not supported anymore for example Drupal.

@rasagy @jinalfoflia @mikelmaron

[2017-05-05 09:06] rasagy commented on #520
Specifically, the [Mapbox section](http://learnosm.org/en/map-design/mapbox/) in Map Design is really old — the workflow and pricing have changed.

As an temporary fix, would it help to point to the [Mapbox Studio Manual](http://learnosm.org/en/map-design/mapbox/) that introduces Studio stack as well as has a few tutorials. I know that this will not have translated versions available, but wonderin

[2017-05-05 14:41] Nick-Tallguy commented on #520
Hi,

Thanks for the update.  I'll try to work on it this evening and send a link
to a version for review.

If there's any delay it will be Internet problems on the campsite I'm
currently on.

Please let us know if there are any more out of date bits. Our little team
are not experts on everything and help / advice are welcome.

Once we're happy with a revision I'll put it on the main site and then

[2017-05-06 21:34] Nick-Tallguy commented on #520
As my Internet connection is proving unreliable, I've gone ahead and updated both the staging site and the main LearnOSM site while I could. All affected languages should be okay now. At the moment the affected modules have all of the text hidden except for a sentence explaining that the content was out of date and a link to Mapbox with a mention of training materials there.

[2017-06-07 16:12] Nick-Tallguy opened #522 "_posts folder contents could be easier to manage"
-posts folder contains language folders and these are subdivided with category folders.

However, the actual modules are controlled by the header matter and do not need to be in these language and category folders. An example of how the folders could be organized is at

https://github.com/Nick-Tallguy/Nick-Tallguy.github.io/tree/master/_posts

I propose to gradually move the folder contents, renam

[2017-06-07 16:16] Nick-Tallguy opened #523 "Transifex - automation of updates to staging site"
The testing and staging site at https://github.com/Nick-Tallguy/Nick-Tallguy.github.io is currently receiving updates on files that are at 10% translation or greater, via a small server running a cron job. The server is running a command line version of the transifex system.

A message has been sent to the Transifex translators to the effect that the site visible at
 http://nick-tallguy.github.io/

[2017-06-08 17:49] kalxas opened #524 "Using LearnOSM material to compile new OSM documentation for OSGeo-Live"
Hi all,

The OSGeo-Live team (https://live.osgeo.org/) is looking for new documentation for OSM (current OSM overview https://live.osgeo.org/en/overview/osm_overview.html and current quickstart tutorial https://live.osgeo.org/en/quickstart/osm_quickstart.html) and we are wondering if there is any volunteer from your project to help us compile a new quickstart document.

We think that the following

[2017-06-08 23:47] Nick-Tallguy commented on #520
Please also see http://erikakristie.github.io/learnosm/ja/map-design/mapbox/  which I'm seeing in the stats. Japanese visitors are using it.

[2017-06-09 08:03] althio commented on #524
Hi @kalxas

Glad to see you here and happy that you have interest in the content for OSGeo-Live.

If I understand correctly from other discussions about OSGeo-Live, your deadline is 3 July for this quickstart document, correct?

I would like to help you there :)
Any takers in the LearnOSM team for more English writing/proofreading?

[2017-06-09 08:26] Nick-Tallguy opened #525 "Persian (FA) - return to top button not appearing"
http://learnosm.org/fa/beginner/introduction/ is an example. Not sure what else is affected. Probably because this is a RTL language and has its own html docs which I created 'badly'

[2017-06-09 10:59] kalxas commented on #524
Hi @althio
Thank you for your response.
Correct, our deadline for the documentation updates is 3rd of July.
So far the volunteers for this task is you and me, I hope more volunteers can join us soon :)
Any ideas where to reach out asking for more volunteers?

[2017-06-09 14:25] Nick-Tallguy commented on #263
This has been fixed - presumably by althio with the patch #267